<ion-header>

  <ion-navbar>
    <ion-title>Add new staff</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="listitems" *ngIf="next==1">

    <ion-item class="vis-name" no-margin no-padding no-lines>
      <ion-label class="label-style">Enter the name of the staff:</ion-label>
    </ion-item>
    <ion-input type="text" [(ngModel)]="name" placeholder="Parvathi" class="input-st"> {{name}}</ion-input>

    <ion-item class="vis-name" no-margin no-padding no-lines>
      <ion-label class="label-style">Aadhaar No:</ion-label>
    </ion-item>
    <ion-input type="text" [(ngModel)]="aadhaarNo" placeholder="12 digit Aadhaar number" class="input-st">

    </ion-input>

    <ion-item class="vis-name" no-margin no-padding no-lines>
      <ion-label class="label-style">Address Proof (if any):</ion-label>
    </ion-item>
    <ion-input type="text" [(ngModel)]="Address" placeholder="Select the type of proof" class="input-st">

    </ion-input>

    <ion-item no-margin no-padding no-lines>
      <ion-label class="label-style">Address Proof No (if any):</ion-label>

    </ion-item>
    <ion-input type="text" [(ngModel)]="addressproof" placeholder="Address proof number" class="input-st">

    </ion-input>

    <!-- <ion-input class="input-st" [(ngModel)]="companyName" readonly>
      {{companyName}}
      </ion-input> -->
    <ion-item no-margin no-padding no-lines>
      <ion-label class="label-style">Address:</ion-label>
    </ion-item>

    <ion-input class="input-st" [(ngModel)]="plotName" placeholder="Write the Address here">

    </ion-input>
    <ion-item>
      <ion-label class="label-style">Select Flat Number:</ion-label>
    </ion-item>

    <ion-input class="selectedblocks" placeholder="Tap to select from the list">

    </ion-input>
    <!-- <button class="selectedblocks" *ngIf="this.title1!==undefined" (click)="gotopurpose()"
    placeholder="Tap to select from the list"><span class="title">{{title1}}</span>

  </button> -->

    <ion-item>
      <ion-label class="label-style">Select Gender:</ion-label>
    </ion-item>
    <ion-row radio-group [(ngModel)]="sexe">

      <ion-col>
        <ion-item>
          <ion-radio value="homme"></ion-radio>
          <ion-label>Male</ion-label>

        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-radio value="femme"></ion-radio>
          <ion-label>Female</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-radio value="others"></ion-radio>
          <ion-label>Others</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-col><button ion-button (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' "
        class="nextbutton--visito">Next</button></ion-col>
    <!-- <div>
      <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="cancel" (click)="onClickBack()">Cancel</button>
      </ion-col>
      <ion-col><button ion-button (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' "
          class="nextbutton--visito">Next</button></ion-col>

    </div> -->
  </ion-list>

  <div class="col-xs-12" *ngIf="next==2">

    <ion-row>
      <div class="click-picture">Click picture of name : </div>



      <div (click)="getPic()" [ngClass]=" show ? 'visitorimg' : 'visitor1' ">
        <img *ngIf="!isShowPic" class="person-icon" src="../../assets/imgs/avatar.png">
        <img *ngIf="isShowPic" class="person-icon" src="{{visitorPic}}">
      </div>
      <div class="idcard" *ngIf="show" (click)="getPicidcardimage()">
        <img *ngIf="!idcardimage" class="person-icon" src="../../assets/imgs/avatar.png">
        <img *ngIf="idcardimage" class="person-icon" src="{{idcardimagepic}}">
        <p class="idcardimage">Id card image</p>

      </div>

      <div *ngIf="notshow">
        <button ion-button class="addid" (click)="gototheaddpicture()">
          <ion-icon style="color: black;" name="add"></ion-icon>
        </button>
      </div>

      <div class="parag1" *ngIf="notshow">Please use "+" button to add additional image of ID proof of the visitor
      </div>
      <p class="parag" *ngIf="show">You have selected multiple images options. Please tap the above icons to add snap
        of the ID Proof
      </p>


    </ion-row>
    <ion-row>
      <button ion-button class="nextexpectbutton marginnext">Next</button>

    </ion-row>

  </div>
</ion-content>