page-add-new-staff {
  .radio-label {
    margin-top: -0.4rem;
    margin-left: 1rem;
  }
}
::placeholder {
    text-align: left !important;
  }
  ::-ms-input-placeholder {
    
    text-align: left !important;
  }
  .idcard {
    width: 70%;
    margin-left: 101%;
    margin-top: -16rem;
  }
  // .person-icon {
  //   width: 12rem;
  //   height: 12rem;
  //   background-size: cover;
  //   margin-left: -10.5rem !important;
  //       border: solid 1px grey;
  //   border-radius: 51%;
  //   margin-top: 3.9rem;
  // }
  .addid {
    margin-left: 26rem;
    margin-top: -17rem;
    background: white;
    border-radius: 4rem;
    border: 1px solid black;
    height: 4rem;
    width: 4rem;
  }
  .visitorimg {
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .visitor1 {
    margin-top: 3rem;
    margin-left: 11rem;
    width: 12rem;
  }
  .parag {
    width: 200%;
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
    margin-top: 9rem;
  }
  .parag1 {
    width: 200%;
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
  }