page-bus {
  .vertical-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    .load-gif{
      width: 5rem;
    }
    .nodata-img{
      width: 30rem;
      height: 30rem;
    }
  }
  .icon-inverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    margin-right: 5px;
    font-weight: bold;
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.grey {
      color: rgb(85, 83, 83);
    }
  }
  .arr-rght {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    padding: 0px;
  }
  .padding-button {
    width: 70px;
    background: none;
    color: grey;
    text-transform: capitalize;
    border: 0.5px solid lightgray;
    box-shadow: none;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: rgb(8, 241, 8);
      }
      &.yellow {
        color: #ff8f00;
      }
    }
  }
  .status-msg {
    font-size: 1.3rem;
    display: inline-block;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .bus-name {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  .zone-lab {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  .vrtcl-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 80%;
    transform: scale(1.5);
    .load-gif{
      width: 100%;
    }
  }
  .no-data{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 80%;
  }
  .first-let-icon{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    padding: .6rem;
    color: white;
    &.bg-red{
      background: red;
    }
    &.bg-green{
      background: green;
    }
    &.bg-blue{
      background: blue;
    }
    &.bg-goldenrod{
      background: goldenrod;
    }
    &.bg-purple{
      background:purple;
    }
  }
  .fab-stl{
    color: #e9f1f0;
    background-color: #26e23d;
    height: 5rem;
    width: 5rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-size: 2.2em;
    border-radius: 3rem;
    box-shadow: 0px 0px 18px 3px #61d86a;
  }
}
