<!--
  Generated template for the BusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Bus/Cab List</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="search" placeholder="search by name" (keyup)="searchBusList()"></ion-searchbar>
</ion-header>

<ion-content padding class="bg" text-center>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <div class="vrtcl-align" *ngIf="busList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>
  <div class="no-data" *ngIf="busList==0">
    <div>No records found.</div>
  </div>
  <ion-list *ngIf="busList!=null && busList.length>0" no-lines>
    <ion-item *ngFor="let bus of busList ; let i=index">
      <ion-avatar *ngIf="item!=null" item-start>
        <img src="{{bus.photoUrl}}" imageViewer>
        <div *ngIf="bus.photoUrl==null || bus.photoUrl==''" class="first-let-icon" [ngClass]="getClasss(i)">
          {{bus.name[0]}}</div>
      </ion-avatar>
      <div (click)="onClickArrow($event, bus)">
        <div class="bus-name">{{bus.name}}</div>
        <div class="zone-lab">{{bus.zone}}</div>
        <div class="zone-lab">{{bus.vehicleNo}}</div>
        <div *ngIf="bus.access == 'left'" class="zone-lab">Arrived at {{bus.inTime | date:'shortTime'}} | Left at
          {{bus.outTime | date:'shortTime'}}</div>
        <div *ngIf="bus.access !== 'left'" class="zone-lab">Arrived at {{bus.inTime | date:'shortTime'}}</div>
      </div>
      <div class="activity-call">
        <button ion-button small class="padding-button green" (click)="onClickArriveBus(bus)"
          [disabled]="bus.access=='arrived'">
          <ion-icon class="green" name="log-in" slot="start"></ion-icon>Arrived
        </button>
        <button ion-button small class="padding-button red" (click)="onClickLeftBus(bus)"
          [disabled]="bus.access=='left'">
          <ion-icon class="icon-inverse red" name="log-out" slot="start"></ion-icon>Left
        </button>
        <button ion-button small class="padding-button yellow" (click)="onClickupdateBus(bus)"
          [disabled]="bus.access=='update'">
          <ion-icon class="yellow" name="add-circle" slot="start"></ion-icon>edit
        </button>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab bottom right (click)="onClickAddBus()">
    <button class="fab-stl">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>