<!--
  Generated template for the AdddriverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy"> Add Driver</h4>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body-bgcolor" padding>
  <div *ngIf="!driver" text-center>
    <img style="width: 60px;border-radius: 30px;" src="../../assets/imgs/logo1.png">
    <div style="padding:11px;">
      <h5 text-center class="user-title">Enter Your 6 digit PIN</h5>
      <div text-center class="mob-btn">- - - OR - - -</div>
      <h5 text-center class="user-title" style="padding:1px;">Enter Your 10 digit mobile number</h5>
      <div *ngIf="isLoginFail" class="error-msg">Your pin or mobile no is wrong, pls try again</div>
          <div class="mobileno">       
            <ion-input class="vis-mobile" type="tel" placeholder="Enter your mobileno or PIN" maxlength="10" minlength="10"  [(ngModel)]="driverPin" required></ion-input>
          </div>
      <div>
        <button ion-button full color="primary" class="enter-button border-radius"
          (click)="onClickEnter()">Enter</button>
      </div>
    </div>
  </div>
  <div *ngIf="driver">
    <ion-row text-center>
      <ion-col class="driver-tit-lab">
        <h3>Registered Details</h3>
      </ion-col>
    </ion-row>
    <ion-row class="text-center">
      <ion-col></ion-col>
      <ion-col>
        <img class="user-avatar" src={{driver.photoUrl}} (click)="onClickGetDriverPic()">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>

      <ion-col class="maid-name">
        <h5 no-margin no-padding>{{driver.name}}</h5>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <p no-margin no-padding><span>Working as </span>Driver</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <p style="font-weight: bold;" no-margin no-padding>
          Last In time {{driver.inTime | amTimeAgo}}</p>
      </ion-col>
    </ion-row>
    <hr class="hr-line">
    <ion-row>
      <ion-col class="reg-lab">
        <h5>Registered Flats</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <div class=" block-card">
            <span *ngIf="blockSelect">
              <span *ngFor="let b of blockSelect">
                <button class="close-btn" ion-button small round outline
                  [ngClass]="b.selected == true?'selected-flt' : ''" (click)="onClickSelFlat(b)">
                  {{b.name}}
                </button>
              </span>
            </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <hr class="hr-line">
    <ion-row>
      <ion-col class="reg-lab">
        <h5>Add Assets Details</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>

        <div style="height: 7.5rem;">
          <div *ngFor="let ast of assets" class="outer-bg" (click)="onClickAssets(ast)">
              <div class="inner-bg" [ngClass]="ast.status == '1' ? 'bg' : ''">
                <img class="icon-bg" src="{{ast.name}}">
              </div>
              <div style="margin-left: 4px;padding-left: 7px;">{{ast.name1}}</div>
          </div>
      </div>

      <div>
          <div class="mobileno-box">
          <span class="mob-label">
              &#2352;<input class="vis-mobile" type="tel" placeholder="Enter money" maxlength="10" minlength="10"
                pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="money" required>
          </span>
          </div>
      </div>
      <div class="mobileno-box">
          <span class="mob-label">
              +<input class="vis-mobile" type="text" placeholder="Enter other" maxlength="10" minlength="10"
                pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="other" required>
          </span>
      </div>

    </ion-col>
    <ion-col col-4>
      <div class="float-right">
        <div class="maid-avatar" *ngIf="isShowCurPic" (click)="onClickGetDriverPic()">
          <img src="{{currentPhoto}}">
        </div>
        <div *ngIf="!isShowCurPic" class="maid-avatar" (click)="onClickGetDriverPic()">
          <img src="../../assets/imgs/camera.jpg">
        </div>
      </div>
    </ion-col>
  </ion-row>
  <button ion-button full color="primary" class="border-radius" (click)="onClickSubmit()">Issue Gate Pass</button>
</div>
</ion-content>