page-adddriver {
  /* .body-bgcolor{
        background:  black;
        color: white;
    } */
  .error-msg {
    color: red;
    text-align: center;
  }
  .pin-box {
    font-size: 20px;
    border-bottom: solid 2px red;
  }
  .border-radius {
    border-radius: 5px;
  }
  .enter-button {
    bottom: -100px;
  }
  .close-icon {
    padding: 2px;
    margin: 2px;
    background: white;
    border-radius: 45%;
    color: rgb(53, 51, 51);
  }
  .close-btn {
    padding: 1rem;
    border-color: grey;
    font-size: 1.5rem;
  }
  .mobileno {
    border: 1px solid grey;
    font-size: 16px;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    input {
      text-align: center;
      margin: 10px 8px;
    }
  }
  .mob-btn {
    margin: 0 auto;
    padding: 3px;
  }
  .red-border {
    border: 1px solid red;
  }
  .mob-label {
    padding-left: 10px;
    padding-right: 0px;
  }
  .err-msg {
    margin: 5px;
    color: red;
  }

  .text-center {
    text-align: center;
    padding: 0px;
  }
  .reg-flat {
    padding: 0px;
    margin: 0px;
  }
  .reg-lab {
    text-align: left;
  }
  .hr-line {
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
  }
  .maid-name {
    text-align: center;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  .maid-tit-lab {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
  }
  .user-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 1px rgba(0, 0, 0, 0.4);
  }
  .maid-cur-pic-label {
    width: 120px;
    background: #211b1b;
    color: #ceb6b6;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
    margin: 0px;
  }
  .maid-avatar {
    text-align: center;
    img {
      height: 10rem;
      width: 13rem;
      border-radius: 6rem;
      background-repeat: no-repeat;
      background-size: contain;
      border: solid 1px rgba(0, 0, 0, 0.3);
    }
  }
  .otp {
    color: #211b1b;
    border-style: none;
    height: 40px;
    font-size: 25px;
    border-bottom: 2px solid #ceb6b6;
    width: 29px;
    margin-right: 10px;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .rupee-icon {
    border: solid 1px grey;
    float: left;
    margin-right: 0px;
    padding: 0px;
    width: 19px;
    text-align: center;
    height: 25px;
  }
  .blocks-name {
    font-size: 14px;
    color: red;
  }
  .col-xs-4-blk {
    width: 33.33%;
    float: left;
  }

  .text-center {
    text-align: center;
  }
  .paddingleft0 {
    padding-left: 2px !important;
  }
  .marginbottom14 {
    margin-bottom: 10px;
  }
  .icon-avatar {
    width: 40px;
    height: 40px;
  }
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  .outer-bg {
    width: 6.5rem;
    float: left;
  }
  .inner-bg {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background: lightgrey;
    &.bg {
      background: #488aff;
      color: white;
    }
    padding: 1.5rem;
    text-align: center;
    .icon-bg {
      font-size: 3rem;
    }
  }
  .money-label {
    height: 14px;
    background: #211b1b;
    color: white;
    margin: 0px;
    font-size: 10px;
  }
  .selected-flt {
    border-color: rgb(255, 0, 13);
    padding: 1rem;
    color: rgb(203, 37, 245);
    font-size: 1.5rem;
  }
  .mobileno-box {
    border: 1px solid grey;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 90%;
    border-radius: 5px;
    text-align: left;
    margin-top: 5px;

    .mob-label {
      padding-left: 10px;
      padding-right: 0px;
    }
    .vis-mobile {
      border: none;
      font-size: 1.6rem;
      padding: 0.7rem;
      width: 90%;
      padding-left: 1rem;
    }
  }
  .float-right {
    float: right;
  }
  input {
    background-color: #f3f3f3;
    border: 1px solid grey;
    width: 132px;
    padding: 3px;
    margin: 0px;
  }

  .margin-top {
    margin-top: 3px;
  }
  .user-title {
    margin: 2rem;
  }
  #otp-input {
    padding: 0px;
    padding-left: 6px;
    letter-spacing: 22px;
    font-size: 20px;
    border: 0;
    background: rgb(0, 93, 82);
    background-image: linear-gradient(to left, #167ffc 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 33px 2px;
    background-repeat: repeat-x;
    background-position-x: 24px;
    width: 220px;
    min-width: 220px;
    margin-bottom: 0px;
  }
  #otp-content {
    left: 0;
    position: sticky;
  }

  #otp-holder {
    width: 190px;
    overflow: hidden;
    margin: 0 auto;
  }
}
.toast-bg .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 250px;
  background: red;
  border-radius: 25px;
  text-align: center;
}
