<!--
  Generated template for the AllVisitorsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">All Visitor List</h4>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="visitor-list" no-lines *ngIf="vlist!=null && vlist.length>0">
    <ion-item *ngFor="let item of vlist; let i=index" class="out-btn-list">
      <ion-avatar item-start class="pic">
        <img *ngIf="item.photoUrl!=null && item.photoUrl!=''" src={{item.photoUrl}} imageViewer>
        <div *ngIf="item.photoUrl==null || item.photoUrl==''" class="first-let-icon" [ngClass]="getClass(i)">
          {{item.name[0]}}</div>
      </ion-avatar>
      <div class="list-label">
        <div class="name-label"><span>{{item.name}}</span></div>
        <div class="company-text1">Visiting : {{item.plotName}}
        </div>
        <div class="company-text" *ngIf="item.wrongEntryFlats">WrongEntry:
          <span style="color: red;">{{item.wrongEntryFlats}}</span>
        </div>
        <div class="company-text" *ngIf="item.access != 'declined'"><span>Allowedby :</span> {{item.allowedBy}}</div>
        <div class="company-text" *ngIf="item.access == 'declined'"><span>Declinedby :</span> {{item.allowedBy}}</div>
        <div class="company-text">Arrived At {{item.inTime | date:'shortTime'}}<span *ngIf="item.access=='left'"> | Left At
          {{item.outTime | date:'shortTime'}}</span></div>
      </div>

      <div *ngIf="item.access === 'pending'" class="pending-btn-float">
          <div class="status-msg">Pending</div>
        <div class="alert-div" *ngIf="item.access=='pending'">
          <img src="../../assets/imgs/msg.gif" *ngIf="wait>=1 && wait!=4" class="msg-gif">
          <img src="../../assets/imgs/call_1.gif" *ngIf="wait>=2 && wait!=4" class="call-gif">
          <img src="../../assets/imgs/call_1.gif" *ngIf="wait>=3 && wait!=4" class="call-gif">
        </div>
        <!-- <button ion-button small color="secondary" *ngIf="wait==4" class="pending-button allow-btn"
          (click)="onClickAllow(item)">
          <ion-icon class="green" name="log-in"></ion-icon>allow
        </button> -->
      </div>
      <div>
      <div *ngIf="item.access == 'declined'" class="out-btn-float">
          <div class="status-msg3">Declined</div>
      </div>
      <div *ngIf="item.access == 'allowed' || item.access =='arrived'" class="out-btn-float">
          <ion-icon class="green-label" name="log-in"></ion-icon>
          <div class="status-msg2">Allowed</div>
        <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickOut(item)">
          <ion-icon class="icon-inverse red" name="log-out"></ion-icon>out
        </button>
      </div>
      <div *ngIf="item.access == 'left'" class="out-btn-float">
          <ion-icon class="icon-inverse grey" name="log-out"></ion-icon>
          <div class="status-msg1">Left</div>
      </div>
    </div>
      <!-- <div>
        <div *ngIf="item.status == 'In'" class="out-btn-float">
          <ion-icon class="green-label" name="log-in"></ion-icon>
          <div class="status-msg"> Allowed</div>
          <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickOut(item)">

            <ion-icon class="icon-inverse red" name="log-out"></ion-icon>out
          </button>
        </div>
        <div  *ngIf="item.status == 'out'">
          <ion-icon class="icon-inverse grey" name="log-out" slot="start"></ion-icon>
          <div class="status-msg1">Left</div>
        </div>
      </div> -->
    </ion-item>
  </ion-list>
</ion-content>
