page-parking-slots {
  .first-let-icon{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    padding: .6rem;
    color: white;
    &.bg-red{
      background: red;
    }
    &.bg-green{
      background: green;
    }
    &.bg-blue{
      background: blue;
    }
    &.bg-goldenrod{
      background: goldenrod;
    }
    &.bg-purple{
      background:purple;
    }
  }
  .slot-text {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight:500;
  }
  .slot-name {
    border: 1px solid;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
  }
  .vis-lab{
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: ellipsis;
    color: #666;
    white-space: initial;
  }
  .vrtcl-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    transform: scale(1.5);
    .load-gif{
      width: 100%;
    }
  }
  .item-bg{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.6rem;
    background-color: white;
    border-width: 0.1px;
  }
  .name-lab{
    color:chocolate;
  }
  .add-btn {
    float: right;
    width: 6rem;
    background-color: #009688;
    color: #e2efed;
    text-transform: uppercase;
  }
}
