<!--
  Generated template for the ParkingSlotsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">ParkingSlotsList</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="search" placeholder="search by flatName" (keyup)="searchparkingslots()"></ion-searchbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="vrtcl-align" *ngIf="ParkingSlotList==0">
    <div>No records found.</div>
  </div>

  <div class="vrtcl-align" *ngIf="ParkingSlotList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>

  <ion-list *ngIf="ParkingSlotList!=null && ParkingSlotList.length>0" class="vis-list" no-lines>
    <ion-item *ngFor="let item of ParkingSlotList ; let i=index" class="item-bg">
      <ion-avatar item-start>
        <div *ngIf="item.flatName!=null" class="first-let-icon" [ngClass]="getClass(i)">{{item.flatName[0]}}</div>
      </ion-avatar>
      <div class="name-lab">{{item.blockName}}{{item.flatName}}</div>
      <div class="slot-text">Slot-Names <span class="slot-name"> {{item.slotNames}}</span></div>
      <div style="text-transform: capitalize;">register Vehicles : <span class="vis-lab">{{item.regVehicles}}</span></div>
      <!-- <button ion-button class="add-btn" (click)="onClickAddViolation(item)">Report</button> -->
    </ion-item>
  </ion-list>
  
  <!-- <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>