page-gatevisitors {
  .company-card {
    padding: 5px;
    border: 1px solid gray;
  }
  .list-md[no-lines] .item-block,
  .list-md[no-lines] ion-item-options,
  .list-md[no-lines] .item .item-inner {
    border-width: 0;
    margin-right: -27px;
  }
  .block-card {
    padding: 4px;
    border: 1px solid gray;
  }
  .vis-name {
    margin-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .no-pad-margin {
    padding: 0;
    margin: 0;
  }
  .cat-campany {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dad0d0;
    margin: 12px 0 19px;
    /* background: red; */
    height: 12px;
    label {
      padding-top: 22px;
      background: #fff;
      padding: 3px 15px;
      height: 91px;
      color: #6b5757;
      font-weight: bold;
    }
  }

  .icon-avatar {
    margin: 0 auto;
    img {
      width: 45px;
      height: 40px;
      font-size: 40px;
    }
  }
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  .col-xs-4 {
    width: 29.33%;
    float: left;
    margin: 0.5rem;
  }
  .col-xs-4-blk {
    width: 29.33%;
    height: 7.7rem;
    float: left;
    margin: 4px;
  }
  .col-xs-2 {
    width: 37%;
    float: left;
    margin: 0.3rem;
  }
  .text-center {
    text-align: center;
  }
  .paddingright0 {
    padding-right: 2px !important;
  }
  .paddingleft0 {
    padding-left: 2px !important;
  }
  .marginbottom14 {
    margin-bottom: 14px;
  }
  .companies-name {
    font-size: 12px;
    color: red;
    text-transform: uppercase;
  }
  .blocks-name {
    font-size: 14px;
    color: red;
  }
  .icon-margin {
    display: none;
  }
  .selected-cmp {
    .icon-margin {
      display: inline;
      margin-left: 3.4rem;
      border: aquamarine;
      color: rgb(27, 175, 126);
      position: absolute;
    }
    background: rgba(78, 240, 78, 0.09);
  }
  .block-icon {
    font-size: 20px;
  }
  .selected-blk {
    background: #00ffff;
  }
  .flat-card {
    padding: 0px;
    border: 1px solid gray;
  }
  .flats-name {
    font-size: 14px;
    color: red;
    margin: 10px !important;
  }
  .selected-flt {
    background: #00ffff;
  }
  .shoot {
    width: 125px;
    height: 140px;
    background-size: cover;
    border: solid 1px grey;
  }
  .visitor-name {
    font-size: 16px;
    text-transform: capitalize;
  }
  .visitor-details {
    font-size: 14px;
  }

  .person-icon {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    border: solid 1px grey;
    border-radius: 50%;
  }
  .pic {
    text-align: center;
  }
  .icon-size {
    font-size: 23px;
    color: red;
  }
  .close-icon {
    padding: 2px;
    margin: 2px;
    background: white;
    border-radius: 45%;
    color: rgb(53, 51, 51);
  }
  .close-btn {
    padding: 5px;
    color: navy;
    border-color: grey;
    font-size: 12px;
  }
  .otp-verify-btn {
    margin-top: 10px;
  }
  .text-otp-center {
    text-align: center;
    width: 100%;
  }
  .not-valid {
    color: red;
  }
  .vis-flats {
    font-weight: bold;
  }
  .margin-zero {
    margin: 0;
    padding: 0;
  }
  .otp {
    color: #211b1b;
    border-style: none;
    height: 49px;
    font-size: 27px;
    border-bottom: 3px solid #ceb6b6;
    width: 29px;
    margin-right: 16px;
  }
  .table-col {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .mobileno-box {
    border: 1px solid grey;
    font-size: 16px;
    text-align: center;
    width: 75%;
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
    .mob-label {
      padding-left: 10px;
      padding-right: 0px;
    }
    .vis-mobile {
      border: none;
      font-size: 16px;
      padding: 7px;
      width: 80%;
      padding-left: 0.5rem;
    }
  }
  .footer-btn {
    bottom: 60px;
    position: absolute;
    .toolbar-background-md {
      background-color: transparent;
    }
  }
  .add-id-label {
    background: none;
    font-style: 24px;
    text-align: center;
    width: 125px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .add-your-id-label {
    width: 100%;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
  .add-your-id-caption {
    margin-top: 5px;
    font-weight: 500;
    text-align: center;
  }
  .pad-top-15 {
    padding-top: 15px;
  }
  .next-btn {
    width: 77px;
    border: 1px solid grey;
    background: navy;
    box-shadow: none;
    float: left;
  }
  .reset-otp {
    .icon {
      padding-right: 5px;
    }

    text-transform: capitalize;
  }
  .prev-btn {
    width: 77px;
    border: 1px solid grey;
    background: navy;
    box-shadow: none;
    float: right;
  }
  .cap-btn {
    text-transform: initial;
    margin-right: 15px;
    letter-spacing: 0.1rem;
    color: navy;
  }
  .add-vis-label {
    font-weight: bold;
    font-size: 22px;
  }
  .add-vis-caption {
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .lnogo {
    width: 45px;
    height: 40px;
    text-transform: uppercase;
    background: red;
    color: white;
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
  }
  #partitioned {
    font-size: 20px;
    padding-left: 14px;
    letter-spacing: 39px;
    border: 0;
    background-image: linear-gradient(to left, #eeee1b 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 2px;
    background-repeat: repeat-x;
    background-position-x: 38px;
    width: 220px;
  }
  #otp-content {
    left: 0;
    position: sticky;
  }
  .vis-name {
    margin-bottom: 5px;
    margin: 0px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 5px;
  }

  #otp-holder {
    width: 190px;
    overflow: hidden;
    margin: 0 auto;
    background: rgb(0, 93, 82);
  }
  /* .bg{
    color:black;
    background: white;
  } */
  .red-border {
    border: 1px solid red;
    margin-bottom: 0.5rem;
  }
  .err-msg {
    margin: 5px;
    color: red;
  }

  .vis-idcard{
    font-size: 1.6rem;
    font-weight: bold;
    img{
      width: 100%;
      height: 40%;
    }
  }
  
}
.toast-bg .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 250px;
  background: red;
  border-radius: 25px;
  text-align: center;
}
.toast-green .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 300px;
  background: green;
  border-radius: 25px;
  text-align: center;
}
.item-md ion-avatar[item-start],
.item-md ion-thumbnail[item-start] {
  margin: 16px 16px 8px 0;
  margin-bottom: auto;
}
