page-keepatgatelist {
  .first-let-icon{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    padding: .6rem;
    color: white;
    &.bg-red{
      background: red;
    }
    &.bg-green{
      background: green;
    }
    &.bg-blue{
      background: blue;
    }
    &.bg-goldenrod{
      background: goldenrod;
    }
    &.bg-purple{
      background:purple;
    }
  }
  .title-col{
    color: navy;
    font-size: 2rem;
  }
  .vrtcl-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    transform: scale(1.5);
    .load-gif{
      width: 100%;
    }
  }
}
