<!--
  Generated template for the KeepatgatelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    <h4 style="color:navy;margin-top: 1rem;">Keep At Gate List</h4>
  </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="search" placeholder="search by name" (keyup)="searchVis()"></ion-searchbar>

</ion-header>


<ion-content padding>
  
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="vrtcl-align" *ngIf="KAGList==undefined">
        <ion-spinner  name="bubbles" class="load-gif" color="primary"></ion-spinner>
    </div>
    <div class="vrtcl-align" *ngIf="KAGList==0">
      <div>No records found.</div>
    </div>
    <ion-list *ngIf="KAGList!=null && KAGList.length>0" class="vis-list" no-lines>
    <ion-item *ngFor="let item of KAGList ; let i=index"  class="item-bg">
      <ion-avatar *ngIf="item!=null" item-start >
        <img  *ngIf="item.mainPhoto!='' && item.mainPhoto!=null" src="{{item.mainPhoto}}" imageViewer>
        <div *ngIf="item.mainPhoto==null || item.mainPhoto==''" class="first-let-icon" [ngClass]="getClass(i)">{{item.name[0]}}</div>
      </ion-avatar>
      <div class="name-lab">{{item.name}}</div>
      <p class="vis-lab">Flat : {{item.plotName}}</p>
      <p class="status-lab">Arrived at - {{item.inTime | date:'dd-MM-yyyy HH:mm'}}</p>
      <div text-center>
        <button ion-button (click)="onClickIssueDelivery(item)">Issue Delivery</button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
