page-add-all {
  .sel-opt-box {
    border-radius: 3px;
    padding: 0.3rem;
    width: 32rem;
    margin: 1rem 0px 1rem 6px;
  }
  .company-card {
    padding: 5px;
    border: 1px solid gray;
  }
  .list-md[no-lines] .item-block,
  .list-md[no-lines] ion-item-options,
  .list-md[no-lines] .item .item-inner {
    border-width: 0;
    margin-right: -27px;
  }
  .block-card {
    padding: 4px;
    border: 1px solid gray;
  }
  .vis-name {
    margin-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .no-pad-margin {
    padding: 0;
    margin: 0;
  }
  .cat-campany {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dad0d0;
    margin: 12px 0 19px;
    /* background: red; */
    height: 12px;
    label {
      padding-top: 22px;
      background: #fff;
      padding: 3px 15px;
      height: 91px;
      color: #6b5757;
      font-weight: bold;
    }
  }
  .icon-exist {
    float: right;
    font-size: 3rem;
    margin-top: -3rem;
    margin-right: 2rem;
    color: cadetblue;
  }
  .vltn-name {
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-left: 6rem;
    color: #0f0a0a;
    font-style: normal;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .name-cls {
    padding-left: 6rem;
    color: #555556;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .icon-avatar {
    margin: 0 auto;
    img {
      width: 45px;
      height: 40px;
      font-size: 40px;
    }
  }
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  .col-xs-4 {
    width: 29.33%;
    float: left;
    margin: 0.5rem;
  }
  .col-xs-4-blk {
    width: 29.33%;
    height: 7.7rem;
    float: left;
    margin: 4px;
  }
  .col-xs-2 {
    width: 37%;
    float: left;
    margin: 0.3rem;
  }
  .text-center {
    text-align: center;
  }
  .paddingright0 {
    padding-right: 2px !important;
  }
  .paddingleft0 {
    padding-left: 2px !important;
  }
  .marginbottom14 {
    margin-bottom: 14px;
  }
  .companies-name {
    font-size: 12px;
    color: red;
    text-transform: uppercase;
  }
  .blocks-name {
    font-size: 14px;
    color: red;
  }
  .icon-margin {
    display: none;
  }
  .selected-cmp {
    .icon-margin {
      display: inline;
      margin-left: 3.4rem;
      border: aquamarine;
      color: rgb(27, 175, 126);
      position: absolute;
    }
    background: rgba(78, 240, 78, 0.09);
  }
  .block-icon {
    font-size: 20px;
  }
  .selected-blk {
    background: #00ffff;
  }
  .flat-card {
    padding: 0px;
    border: 1px solid gray;
  }
  .flats-name {
    font-size: 14px;
    color: red;
    margin: 10px !important;
  }
  .selected-flt {
    background: #00ffff;
  }
  .shoot {
    width: 125px;
    height: 140px;
    background-size: cover;
    border: solid 1px grey;
  }
  .visitor-name {
    font-size: 16px;
    text-transform: capitalize;
  }
  .visitor-details {
    font-size: 14px;
  }
  .person-icon {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    border: solid 1px grey;
    border-radius: 51%;
  }
  .person-icon1 {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    border: solid 1px grey;
    border-radius: 11%;
  }
  .pic {
    text-align: center;
    margin: 0px 0px 6px 0;
    margin-bottom: 0px;
  }
  .icon-size {
    font-size: 23px;
    color: red;
  }
  .close-icon {
    padding: 2px;
    margin: 2px;
    background: white;
    border-radius: 45%;
    color: rgb(53, 51, 51);
  }
  .close-btn {
    padding: 5px;
    color: navy;
    border-color: grey;
    font-size: 12px;
  }
  .close-btn1 {
    padding: 5px;
    color: navy;
    border-color: grey;
    font-size: 12px;
    margin-left: 3rem;
  }
  .otp-verify-btn {
    margin-top: 10px;
  }
  .text-otp-center {
    text-align: center;
    width: 100%;
  }
  .not-valid {
    color: red;
  }
  .vis-flats {
    font-weight: bold;
  }
  .margin-zero {
    margin: 1rem 0px 10px 3rem;
  }
  .otp {
    color: #211b1b;
    border-style: none;
    height: 49px;
    font-size: 27px;
    border-bottom: 3px solid #ceb6b6;
    width: 29px;
    margin-right: 16px;
  }
  .table-col {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .mobileno-box {
    border: 1px solid grey;
    font-size: 16px;
    text-align: center;
    width: 75%;
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 2rem;
    .mob-label {
      padding-left: 10px;
      padding-right: 0px;
    }
    .vis-mobile {
      border: none;
      font-size: 16px;
      padding: 7px;
      width: 80%;
      padding-left: 0.5rem;
    }
  }
  .footer-btn {
    bottom: 60px;
    position: absolute;
    .toolbar-background-md {
      background-color: transparent;
    }
  }
  .add-id-label {
    background: none;
    font-style: 24px;
    text-align: center;
    width: 125px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .add-your-id-label {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
  }
  .add-your-id-label1 {
    font-size: 14px;
    font-weight: bold;
  }
  .add-your-id-caption {
    margin-top: 5px;
    font-weight: 500;
    text-align: center;
  }
  .pad-top-15 {
    padding-top: 15px;
  }
  .next-btn {
    width: 77px;
    border: 1px solid grey;
    background: navy;
    box-shadow: none;
    float: left;
  }
  .reset-otp {
    .icon {
      padding-right: 5px;
    }

    text-transform: capitalize;
  }
  .prev-btn {
    width: 77px;
    border: 1px solid grey;
    background: navy;
    box-shadow: none;
    float: right;
  }
  .cap-btn {
    text-transform: initial;
    margin-right: 15px;
    letter-spacing: 0.1rem;
    color: navy;
  }
  .add-vis-label {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2rem;
  }
  .add-vis-caption {
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .lnogo {
    width: 45px;
    height: 40px;
    text-transform: uppercase;
    background: red;
    color: white;
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
  }
  #partitioned {
    font-size: 20px;
    padding-left: 14px;
    letter-spacing: 39px;
    border: 0;
    background-image: linear-gradient(to left, #eeee1b 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 2px;
    background-repeat: repeat-x;
    background-position-x: 38px;
    width: 220px;
  }
  #otp-content {
    left: 0;
    position: sticky;
  }
  .vis-name {
    margin-bottom: 5px;
    margin: 0px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 5px;
  }
  .category-span {
    text-transform: capitalize;
    font-style: normal;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }
  .select-cat {
    margin: 10px 1px 1rem 6px;
    font-style: normal;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }
  #otp-holder {
    width: 190px;
    overflow: hidden;
    margin: 0 auto;
    background: rgb(0, 93, 82);
  }
  /* .bg{
        color:black;
        background: white;
      } */
  .red-border {
    border: 1px solid red;
    margin-bottom: 0.5rem;
  }
  .err-msg {
    margin: 5px;
    color: red;
  }

  .vis-idcard {
    font-size: 1.6rem;
    font-weight: bold;
    img {
      width: 100%;
      height: 40%;
    }
  }
  .outer-bg {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    margin: 0 auto;
    padding: 0.4rem;
    &.green {
      border: 1px solid rgb(68, 161, 68);
    }
    &.blue {
      border: 1px solid rgb(64, 130, 184);
    }
    &.red {
      border: 1px solid rgb(145, 56, 56);
    }
    &.orange {
      border: 1px solid rgb(248, 176, 41);
    }
    &.brown {
      border: 1px solid burlywood;
    }
    &.grey {
      border: 1px solid slategrey;
    }
  }
  .inner-bg {
    height: 7rem;
    width: 7rem;
    border-radius: 3.5rem;
    padding: 1rem;
    text-align: center;
    .icon-bg {
      font-size: 5rem;
      color: white;
      width: 34px;
      padding-top: 0.7rem;
    }
    &.green {
      background-color: #12c150;
      background-image: linear-gradient(to bottom, #a8e063, #12c150);
    }
    &.blue {
      background: rgb(64, 130, 184);
    }
    &.red {
      background: rgb(145, 56, 56);
    }
    &.orange {
      background: rgb(248, 176, 41);
    }
    &.brown {
      background: burlywood;
    }
    &.grey {
      background: slategrey;
    }
  }
  .label-md {
    margin: 12px 5px 8px 0;
  }
}
.toast-bg .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 250px;
  background: red;
  border-radius: 25px;
  text-align: center;
}
.toast-green .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 300px;
  background: green;
  border-radius: 25px;
  text-align: center;
}
.item-md ion-avatar[item-start],
.item-md ion-thumbnail[item-start] {
  margin: 16px 16px 8px 0;
  margin-bottom: 0px;
}
.img-style {
  width: 60px;
  border-radius: 30px;
  box-shadow: 1px 2px 10px 2px #19c74d;
}
.item-md ion-avatar ion-img,
.item-md ion-avatar img {
  border-radius: 50%;
  overflow: hidden;
  width: 47px;
  height: 47px;
  margin-bottom: -5rem;
}
