<!--
  Generated template for the AddAllPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Add All</h4>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center *ngIf="next==1">
    <img style="width: 60px; border-radius: 30px" src="../../assets/imgs/logo.jpeg">
    <div class="add-vis-label">Enter Moblie Number</div>
    <div style="color:red;" *ngIf="mob">Pls enter a valid mobile number</div>
    <div class="mobileno-box">
      <span class="mob-label">
        +91<input class="vis-mobile" type="tel" placeholder="Enter Mobile No" maxlength="10" minlength="10"
          pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="mobileNo" required>
      </span>
    </div>
    <!-- <div text-center class="mob-btn">- - - OR - - -</div>
    <div style="padding:11px;">
      <h5 text-center class="user-title">Enter Your 6 digit PIN</h5>
      <div *ngIf="isLoginFail" class="error-msg">Your pin or mobile no is wrong, pls try again</div>
      <div class="mobileno-box">
        <span class="mob-label">
        <input class="vis-mobile" type="tel" placeholder="Enter your PIN" maxlength="10" minlength="10"
          [(ngModel)]="driverPin" required>
        </span>
      </div>
    </div> -->
  </div>
  <ion-row *ngIf="next==2 " class="margin-zero">
    <div class="text-otp-center">
      <div class="add-vis-label pad-top-15">Verification Code</div>
      <div class="add-vis-caption ">Please type the verification code sent to your mobile number +91 {{mobileNo}}
      </div>
      <p class="not-valid margin-zero" *ngIf="wrong">Your OTP is not valid </p>
    </div>
    <ion-col class=" table-col">
      <div id="otp-holder">
        <div id="otp-content">
          <input id="partitioned" type="tel" maxlength="4" [(ngModel)]="otp" autocomplete="off" />
        </div>
      </div>
    </ion-col>
    <div *ngIf="wrong" class="text-otp-center">
      <button ion-button small color="primary" class="reset-otp" (click)="triggerOTP()">
        <ion-icon name="refresh" slot="start"></ion-icon> Resend OTP
      </button>
    </div>
  </ion-row>
  <div *ngIf="next==3">
    <ion-list *ngIf="!existVis">
      <span *ngIf="isname" style="color:red;">Name is required</span>
      <ion-item class="vis-name" no-margin no-padding>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item class="vis-name" no-margin no-padding>
        <ion-label floating>Visitor's vehicle no.</ion-label>
        <ion-input type="text" [(ngModel)]="vehicleNo"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="existVis">
      <div class="select-cat">Existed Category</div>
      <ion-item *ngFor="let item of existVis ; let i=index">
        <div *ngIf="item.typeofVistor!='bus'" (click)="onClickEvent(item)">
          <ion-avatar item-start>
            <img *ngIf="item.photoUrl!=null && item.photoUrl!=''" src={{item.photoUrl}} imageViewer>
            <img *ngIf="item.photoUrl==null || item.photoUrl==''"
              style="width: 47px;padding-top: 0.6rem;background: black;" src="../../assets/imgs/visitor.png">
          </ion-avatar>
          <div>
            <div class="vltn-name">{{item.typeofVistor}}</div>
            <div class="icon-exist">
              <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
            </div>
            <div class="name-cls">{{item.name}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div *ngIf="resCat!=0">
      <div class="select-cat">Select Category</div>
      <ion-row>
        <ion-col text-center col-6 *ngFor="let item of resCat">
          <div class="outer-bg">
            <!-- <div class="inner-bg " (click)="onClickType(item)"
              [ngStyle]="{'background-color': 'item.style.bgcolor','background-image': 'item.style.bgimg'}"> -->
            <div class="inner-bg " (click)="onClickType(item)" [ngStyle]="{'background-color' : item.style}">
              <img class="icon-bg" src='{{item.icon}}' [ngClass]=" next==2 ? 'disabled' : '' ">
            </div>
          </div>
          <span class="category-span">{{item.cat}}</span>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="col-xs-12" *ngIf="next==4">
    <ion-searchbar placeholder="search company" [(ngModel)]="srcCompany" (keyup)="searchComapny()"></ion-searchbar>
    <p>Select Your Company <span style="color:blue;">{{companyName}}</span></p>
    <ion-list no-lines>
      <ion-item class="comp-activity no-pad-margin" *ngFor="let cat of catCompany">
        <div class="cat-campany">
          <label>{{cat.cat}}</label>
        </div>
        <div *ngFor="let company of cat.d">
          <div *ngIf="iscompanies"></div>
          <div class="col-xs-4 text-center" [ngClass]="company.id == selectedCompany.id? 'selected-cmp': ''"
            (click)="onClickCompany(company)">
            <ion-icon name="checkmark-circle-outline" class="icon-margin"></ion-icon>
            <div class="col-xs-12 company-card">
              <div class="icon-avatar">
                <img *ngIf="company.logo" src="{{company.logo}}">
                <div *ngIf="!company.logo" class="lnogo" text-center>{{company.companyName[0]}}</div>
              </div>
              <p class="companies-name">{{company.companyName}}</p>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item class="comp-activity no-pad-margin">
        <div class="cat-campany">
          <label>Other</label>
        </div>
        <div>
          <div class="col-xs-4 text-center" (click)="onClickCompany(company)">
            <ion-icon name="checkmark-circle-outline" class="icon-margin"></ion-icon>
            <div class="col-xs-12 company-card">
              <div class="lnogo" text-center (click)="onClickAddNewCompany()">+</div>
              <p class="companies-name">{{companyName}}</p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div class="col-xs-12" *ngIf="next==5 ">
    <span *ngIf="isblock"></span>
    <p>Select Your Block </p>
    <span *ngIf="selectedBlocks">
      <span *ngFor="let b of selectedBlocks; let i = index">
        <button ion-button small round outline class="close-btn">
          <ion-icon class="close-icon" slot="start" name="close-circle" (click)="onClickClose(i)"></ion-icon>
          {{b.block.name}}:{{b.flat.flatName}}
        </button>
      </span>
    </span>
    <div *ngFor="let block of blocks">
      <div *ngIf="block" class="col-xs-4-blk text-center" [ngClass]="block.id == selectedBlock.id? 'selected-blk': ''"
        (click)="onClickBlock(block)">
        <div class="col-xs-12 block-card">
          <div class="block-icon">
            <ion-icon name="grid"></ion-icon>
          </div>
          <h6 class="blocks-name">{{block.name}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div col-xs-12 *ngIf="flats && next==5">
    <p>Select Your Flat</p>
    <div *ngFor="let flat of flats">
      <div class="col-xs-2 text-center" [ngClass]="flat.id == selectedFlat.id? 'selected-flt':''"
        (click)="onClickFlat(flat)">
        <div class="col-xs-12 flat-card">
          <h6 class="flats-name">{{flat.flatName}}</h6>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="next==6" no-padding no-margin>
    <span *ngIf="isvisitor"></span>
    <ion-row>
      <ion-col *ngIf="category!='guest'">
        <div *ngIf="existVis">
          <img class="person-icon1" src="{{idPic}}">
        </div>
        <div (click)="getIdPic()" *ngIf="!existVis">
          <img *ngIf="!isShowIdPic" class="person-icon1" src="../../assets/imgs/camera.jpg">
          <img *ngIf="isShowIdPic" class="person-icon1" src="{{idPic}}">
        </div>
        <div class="add-your-id-label">Add Your Identity</div>
      </ion-col>
      <ion-col col-6 class="pic">
        <div (click)="getPic()">
          <img *ngIf="!isShowPic" class="person-icon" src="../../assets/imgs/camera.jpg">
          <img *ngIf="isShowPic" class="person-icon" src="{{visitorPic}}">
        </div>
        <div class="add-your-id-label1">Add Your Photo</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <p class="visitor-name" no-margin no-padding>
          <ion-icon name="person" class="icon-size"></ion-icon>&nbsp;&nbsp;{{name}}
        </p>
        <p no-margin no-padding class="visitor-details">
          <ion-icon name="phone-portrait" class="icon-size"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{mobileNo}}
        </p>
        <p no-margin no-padding class="visitor-details">
          <ion-icon name="bicycle" class="icon-size"></ion-icon>&nbsp;&nbsp;{{vehicleNo}}
        </p>
        <p no-margin no-padding class="visitor-details">
          <ion-icon name="briefcase" class="icon-size"></ion-icon>&nbsp;&nbsp;{{companyName}}
        </p>
      </ion-col>
      <ion-col>
        <span *ngIf="selectedBlocks">
          <p class="margin-zero vis-flats">Visiting flats</p>
          <span *ngFor="let b of selectedBlocks">
            <button ion-button small round outline class="close-btn1">
              {{b.block.name}}:{{b.flat.flatName}}
            </button>
          </span>
        </span>
      </ion-col>
    </ion-row>
  </div>

</ion-content>


<footer>
  <ion-toolbar class="footer-btn">
    <ion-row>
      <ion-col *ngIf="next==1"><button ion-button clear class="cap-btn">Need help?</button></ion-col>
      <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="next-btn" (click)="onClickBack()">back</button>
      </ion-col>
      <ion-col *ngIf="next!=4 && next!=5 && next!=6 && next!=3"><button ion-button class="prev-btn"
          (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' ">next</button></ion-col>
      <ion-col *ngIf="next==6"><button ion-button class="prev-btn" (click)="addVisitor()">finish</button></ion-col>
      <ion-col *ngIf="next==4"><button ion-button class="prev-btn" (click)="isCompany()">next</button></ion-col>
      <ion-col *ngIf="next==5"><button ion-button class="prev-btn" (click)="isBlock()">next</button></ion-col>
    </ion-row>
  </ion-toolbar>
</footer>