<!--
  Generated template for the HactivelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding text-center class="content-bg">

    <ion-refresher (ionRefresh)="doRefresher($event)">
        <ion-refresher-content
            pullingIcon="refresh"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngClass]="page ? 'vertical-align' : ''">
        <img *ngIf="page" src="../../assets/imgs/paradigm_logo.gif.gif">
    </div>

  <ion-list>
      <ion-item *ngFor="let item of detailsList" class="item-bg">
        <ion-avatar item-start>
          <img src="{{item.photoUrl}}" imageViewer>
        </ion-avatar>
        <div class="name-lab">{{item.name}}</div>
        <div class="vis-lab">Type: {{item.typeofVistor}}<span style="color: red"> / </span>ApprovedBy: {{item.allowedBy}}</div>
        <div *ngIf="item.access == 'allowed'" class="out-btn-float">
           <span class="status-lab">Arrived at - {{item.inTime * 1000 | date:'shortTime'}}</span>
           <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickVisOut(item)">out</button>
         </div>
         <div *ngIf="item.access == 'arrived'" class="out-btn-float">
            <span class="status-lab">Arrived at - {{item.inTime * 1000 | date:'shortTime'}}</span>
            <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickMaidOut(item)">out</button>
          </div>
      </ion-item>
    </ion-list>

</ion-content>
