page-hactivelist {
  .vertical-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    img{
      width: 5rem;
    }
  }
  .content-bg{
      background: rgb(0,93,82);
  }  
  .out-btn-list {
    border-radius: 5px;
    padding: 0px;
    margin: 4px;
    margin-left: 0px;
    opacity: 0.9;
  }
  .pending-button {
    /* background-color: orange; */
    width: 90px;
    border-radius: 33px;
    background: none;
    color: #222;
    text-transform: capitalize;
    border-color: gray;
    border: 0.5px solid;
    box-shadow: none;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: green;
      }
      &.yellow {
        color: #ff8f00;
      }
    }
  }
  .out-btn{
    background: red;
    color: white;
    width:40px;
    font-size: 1.2rem;
  }
  .time-lab {
    float: right;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }
  .name-lab {
    font-size: 16px;
    text-transform: capitalize;
  }
  .vis-lab {
    font-size: 12px;
    text-transform: capitalize;
  }
  .status-lab {
    font-size: 12px;
    text-transform: capitalize;
  }
  .item-md ion-avatar[item-start] {
    margin: 16px 16px 8px 0;
    margin-bottom: auto;
    padding-left: .5rem;
  }
  .item-bg{
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    padding: 0rem;
  }
}

ion-app.md [padding] .scroll-content {
    padding: 10px;
}

.alert-md .alert-head {
    text-align: center;
}