page-gatehome {
  .icon-size {
    font-size: 3em;
  }
  .colom_margin{
    margin-top: 2rem;
  }
  .user-pic {
    height: 2.5rem;
    width: 2.5rem;
    float: right;
    border-radius: 1.5rem;
    margin-right: 0px;
  }
  .user-profile {
    margin-top: 10px;
    span {
      float: right;
      font-size: 16px;
      padding: 3px;
      color: darkorange;
    }
    ion-icon {
      float: right;
      font-size: 30px;
    }
  }
  .ion-fnt{
    color: white;
    font-size: 4.2rem;
    padding: 3px;
  }
  .card-img {
    height: 80px;
    width: 125px;
    margin-top: 5px;
    margin: 0 auto;
  }
  .img-style {
    width: 60px;
    border-radius: 30px;
  }
  .card-text {
    font-size: 16px;
    margin: 2px;
    color: black;
    padding: 0px;
  }

  .outer-bg {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    margin: 0 auto;
    padding: 0.4rem;
    /* &.green {
      border: 1px solid rgb(68, 161, 68);
    }
    &.blue {
      border: 1px solid rgb(102, 15, 241);
    }
    &.brown {
      border: 1px solid brown;
    }
    &.red {
      border: 1px solid rgb(238, 11, 11);
    }
    &.orange {
      border: 1px solid orangered;
      //background-color: #ff9966;
    }
    &.darkblue {
      border: 1px solid  #ec0c3d;
    }
    &.grey {
      border: 1px solid #f2994a;
    }
    &.yellow {
      border: 1px solid #5a056b;
    } */
  }
  .inner-bg {
    height: 7rem;
    width: 7rem;
    border-radius: 3.5rem;
    padding: 1rem;
    text-align: center;
    .icon-bg {
      font-size: 5rem;
       color: white; 
    }
    &.green {
      background-color: #12c150;
      background-image: linear-gradient(to bottom, #a8e063, #12c150);
    }
    &.brown {
      background-color: #80070d;
      background-image: linear-gradient(to bottom, #db8c15, #80070d);
    }
    &.blue {
      background-color: #8f94fb;
      background-image: linear-gradient(to bottom, #9841ca, #0c15c4);
    }
    &.red {
      background-color: #e70808;
      background-image: linear-gradient(to bottom, #eb3535, #f52003);
    }
    &.orange {
      background-image: linear-gradient(to top, #ff5e62, #ff9966);
      background-color: #ff9966;
    }
    &.darkblue {
      background-color: #56ccf2;
      background-image: linear-gradient(to top,#611005, #ee4b19);
    }
    &.grey {
      background-color: #ffc617;
      background-image: linear-gradient(to bottom, #ffc617, #f2994a);
    }
    &.yellow {
      background-color: #5a056b;
      background-image: linear-gradient(to bottom,rgb(236, 65, 199),#5a056b);
    }

  }
}
