<ion-header>
  <ion-navbar color="light">
    <div class="colom_margin">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Home</span>
      <span *ngIf="user" class="user-profile">
        <img *ngIf="user.photo!==''" src="{{user.photo}}" imageViewer class="user-pic">
        <span color="primary">{{user.username}}</span>
      </span>
    </ion-title>
  </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg green" (click)="onClickAll()">
          <div class="inner-bg green">
            <ion-icon class="icon-bg" name="add"></ion-icon>
          </div>
        </div>
        Add
      </ion-col>
      <ion-col text-center col-6>
        <div class="outer-bg yellow" (click)="onClickVisitors()">
          <div class="inner-bg yellow">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/visitor.png">
          </div>
        </div>
        Visitor
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg blue" (click)="onClickMaid()">
          <div class="inner-bg blue">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/maid lady.svg">
          </div>
        </div>
        Maid
      </ion-col>
      <ion-col text-center col-6>
        <div class="outer-bg brown" (click)="onClickDriver()">
          <div class="inner-bg brown">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/Driver1.svg">
          </div>
        </div>
        Driver
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg orange" (click)="onClickDeliveryboy()">
          <div class="inner-bg orange">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/delivery.svg">
          </div>
        </div>
        Deliveryboy
      </ion-col>
      <ion-col text-center col-6>
        <div class="outer-bg grey" (click)="onClickBus()">
          <div class="inner-bg grey">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/Bus_cab.png">
          </div>
        </div>
        Bus/Cab
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg yellow" (click)="onClickStaff()">
          <div class="inner-bg yellow">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/Staff1.png">
          </div>
        </div>
        Staff
      </ion-col>
      <ion-col text-center col-6>
        <div class="outer-bg orange" (click)="onClickGuest()">
          <div class="inner-bg orange">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/Guests.png">
          </div>
        </div>
        Guest
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg green" (click)="onClickExpVis()">
          <div class="inner-bg green">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/Expected Visitor.png">
          </div>
        </div>
        Expected Visitors
      </ion-col>
      <ion-col text-center col-6>
        <div class="outer-bg darkblue" (click)="onClickKeepatgate()">
          <div class="inner-bg darkblue">
            <img  style="width: 34px; padding-top: 0.7rem;" src="../../assets/imgs/Keep at gate.png">
          </div>
        </div>
        Kept At Gate List
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg grey" (click)="onClickOthers()">
          <div class="inner-bg grey">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/others.png">
          </div>
        </div>
        Others
      </ion-col>
      <ion-col text-center col-6>
        <div class="outer-bg blue" (click)="onClickParkingSlotList()">
          <div class="inner-bg blue">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/Parking details.png">
          </div>
        </div>
        Parking Slots List
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-6>
        <div class="outer-bg red" (click)="searchViolations()">
          <div class="inner-bg red">
            <img style="width: 34px; padding-top: 0.7rem; " src="../../assets/imgs/violation.png">
          </div>
        </div>
        Violations
      </ion-col>
      <ion-col text-center col-6>
          <div class="outer-bg brown" (click)="clickHistory()">
            <div class="inner-bg brown">
              <ion-icon class="ion-fnt"ios="ios-list-box" md="md-list-box"></ion-icon>
            </div>
          </div>
          History
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
