<!-- Generated template for the StaffloginpopoverComponent component -->
<div class="pop" text-center>
    <div>
            <h3>Click Picture</h3>
      <div>
          <img *ngIf="!isShowPic" src="../../assets/imgs/camera.jpg" class="person-icon" (click)="onClickgetpic(item)">
          <img *ngIf="isShowPic" src="{{currentPhoto}}" class="person-icon" (click)="onClickgetpic(item)">
      </div>
    </div>
    <button class="login-btn" ion-button small (click)="onClickLogin()" [disabled]='!isShowPic'>
        Log in
    </button>
</div>
      


        