staffloginpopover {
    .person-icon {
      height: 11rem;
      width: 11rem;
      border-radius: 50%;
      border: 1px solid;
      }
    .pop{
        width: 243px;
        height: 243px;
    }
    .login-btn{
      border: 1px solid;
      width: 30%;
    }
}
