kag-popover {
    .title{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        color: green;
    }
    .err-msg{
        text-align: center;
        color: red;
    }
    .name-input{
        text-align: center;
        input{
            height: 3rem;
        border-radius: 10px;
        border: .1rem solid darkslateblue;
        margin-bottom: .5rem;
        padding-left: 1rem;
        }
    }
    .div-btn{
        text-align: center;
        background: blue;
    }
    .pin-box{
        text-align: center;
        width: 50%;
        height: 3rem;
        border-radius: 10px;
        border: .1rem solid darkslateblue;
        margin: 2rem;
    }
    .ok-btn{
        padding: 1.5rem;
        color: white;
        letter-spacing: .1rem;
        font-size: 1.8rem;
        text-transform: capitalize;
        height: 2rem;
    }
    .can-btn{
        color: white;
    letter-spacing: .1rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    padding-right: 4rem;
    height: 2rem;
    }
}
