<!-- Generated template for the KagPopoverComponent component -->
<div>
  <div class="title">Plz give your PIN to verify</div>
  <p *ngIf="isPin" class="err-msg">Your PIN is wrong</p>
  <p *ngIf="isName" class="err-msg">Please enter reciever name</p>
  <div class="name-input">
    <input type="text" [(ngModel)]="name"  placeholder="Enter reciever name">
  </div>
  <div text-center>
      <input type="tel" class="pin-box" [(ngModel)]="pin" maxlength="6" placeholder="Enter pin">
  </div>
  <div class="div-btn">
    <button class="ok-btn" ion-button clear (click)="onClickAllow()">Issue Delivery</button>
  </div>
</div>
