page-visdetails {
    .content-bgcolor{
        background-image: url('../../assets/imgs/back4.jpg');
        background-size: cover;
        background-position: right;
    }
    .vis-avatar{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-bottom: 2rem;
    }
   .vis-name{
       font-weight: bold;
       font-size: 11PX;
    }
    .vis-activity{
        font-weight: 200;
        font-size: 1.2rem; 
        color: grey;
        word-break: break-all;
    }
    .vis-person{
        font-weight: 600;
        font-size: 2rem;
        text-transform: capitalize;
        text-align: center;
    }
    .sub-title{
        margin-top: .5rem;
        font-size: 1.4rem;
        text-align: center;
        text-transform: capitalize;
    }
    .pic-margin{
        margin-top: 2rem;
        text-align: center;
    }
    .vis-profile{
        padding: 1rem;
    }
    .t-head{
        border-bottom: 1px solid orangered;
        color: orangered;
    }
    .t-rows{
        border-bottom: 1px solid grey;
        color: grey;
    }
    
}
.md [padding] .scroll-content {
    padding: 0px;
}
