<!--
  Generated template for the VisdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <h4 style="color:navy;margin-top:1rem;">History</h4>
    </ion-title>
  </ion-navbar>
  <div class="vis-profile">
    <div class="pic-margin">
      <img *ngIf="value.photoUrl" class="vis-avatar" src="{{value.photoUrl}}" imageViewer>
      <img *ngIf="value.mainPhoto" class="vis-avatar" src="{{value.mainPhoto}}" imageViewer>
    </div>
    <div class="vis-person" *ngIf="value">{{value.name}}</div>
    <div class="sub-title">
      <span *ngIf="value.typeofVistor=='vistor'">Visitor </span>
      <span *ngIf="value.typeofVistor!='vistor'">{{value.typeofVistor}} </span>
      <span *ngIf="value.typeofVistor!='maid'"> | {{value.companyName}} </span>
      <span *ngIf="value.typeofVistor=='maid'"> | {{value.pinNo}} </span>
      <span *ngIf="value.access=='allowed' || value.access=='arrived' || value.access=='arrive'"> | In-Time -
        {{value.inTime | amTimeAgo}}</span>
      <span *ngIf="value.access=='left'"> | Out-Time - {{value.outTime | amTimeAgo}}</span>
      <span *ngIf="value.access=='declined' || value.access=='pending'"> | ---</span>
    </div>
  </div>
</ion-header>
<ion-content padding class="content-bgcolor">
    <div class="spinner-grow text-danger" *ngIf="historyList==undefined"></div>
  <ion-grid>
    <ion-row class="t-head">
      <ion-col col-2>
        <div class="vis-name">Date</div>
      </ion-col>
      <ion-col col-2>
        <div class="vis-name">InTime</div>
      </ion-col>
      <ion-col col-2>
        <div class="vis-name">OutTime</div>
      </ion-col>
      <ion-col col-3>
        <div class="vis-name">Flats</div>
      </ion-col>
      <ion-col col-3>
        <div class="vis-name">ApprovedBy</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of historyList" class="t-rows">
      <ion-col col-2>
        <span class="vis-activity" style="font-size: 1rem;">{{item.inTime | date:'shortDate'}}</span>
      </ion-col>
      <ion-col col-2>
        <span class="vis-activity">{{item.inTime | date:'HH:mm'}}</span>
      </ion-col>
      <ion-col col-2>
        <span class="vis-activity">{{item.outTime | date:'HH:mm'}}</span>
      </ion-col>
      <ion-col col-3>
        <span class="vis-activity">{{item.plotName}}</span>
      </ion-col>
      <ion-col col-3>
        <span class="vis-activity">{{item.allowedBy}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>