page-maidlist {
  .vertical-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    .load-gif{
      width: 5rem;
    }
    .nodata-img{
      width: 30rem;
      height: 30rem;
    }
  }
  .list-padding {
    border-radius: 5px;
    padding: 0px;
    margin: 4px;
    opacity: 0.9;
    margin-left: 0px;
  }
  .company-text{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .pic div {
    border-radius: 116px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .maid-name-label {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    span{
      &.red{
        color:red;
      }
    }
  }
  .maid-vis-label {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .maid-wor-label {
    font-size: 12px;
  }
  .pending-button {
    width: 90px;
    background: none;
    color: #222;
    text-transform: capitalize;
    border: 1px solid grey;
    box-shadow: none;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: green;
      }
      &.yellow {
        color: #ff8f00;
      }
    }
  }
  .footer-search {
    top: 55px;
    position: absolute;
    .toolbar-background-md {
      background-color: transparent;
    }
  }
  .maid-list {
    margin-top: 42px;
  }
  .status-msg {
    font-size: 1.3rem;
    display: inline-block;
    padding: 1rem;
    padding-left: 0rem;
  }
  .green-label {
    color: #696767;
    font-weight: bold;
  }
  .status-msg1 {
    font-size: 1.4rem;
    display: inline-block;
    background: #06a82f;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg2 {
    font-size: 1.4rem;
    display: inline-block;
    background: #868383;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .out-btn {
    color: grey;
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .icon-inverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    margin-right: 5px;
    font-weight: bold;
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.grey {
      color: rgb(85, 83, 83);
    }
  }
  .arr-rght {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px;
    color: grey;
  }
  .vrtcl-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    transform: scale(1.5);
    .load-gif{
      width: 100%;
    }
  }
}
