page-verificationpage {
  .label-style {
    font-size: 2rem;
    color: #253b59;
  }
  .label-styl {
    font-size: 2rem;
    color: #253b59;
    margin-left: 1rem;
  }
  .input-st {
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: black;
    height: 4rem;
  }
  .checkboxin {
    border-radius: 2px;
    position: relative;
    width: 26px;
    height: 26px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
    background-color: #fff;
    margin-top: 1rem;
  }
  .img-style {
    width: 60px;
    border-radius: 30px;
    box-shadow: 1px 2px 10px 2px #19c74d;
  }
  .item-md ion-avatar ion-img,
  .item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 47px;
    height: 47px;
    margin-bottom: -5rem;
  }
  .item-md p {
    margin-left: 2rem !important;
  }

  .add-visitor {
    margin-top: 15% !important;
    color: #253b59 !important;
    text-align: center;
    font-size: 2rem;
  }
  .toolbar-title-md {
    margin-top: 3rem;
    color: #d3f3ee;
  }
  .title {
    font-size: 1.8rem;
    color: black;
  }
  .input-style {
    width: 43%;
    margin-left: 25%;
    margin-top: 25%;
    height: 4rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    letter-spacing: 1rem;
    border-color: black;
    font-size: 37px;
    padding: 9px 8px 7px 8px;
  }
  .toolbar-background-md {
    background: #253b59;
  }
  .button-inner {
    color: #d3f3ee;
    text-transform: none;
    font-size: 1.5rem;
  }
  .nextbutton {
    font-size: 2rem;
  }

  .submitappr {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .valid-number {
    color: red;
  }
  .submitap {
    font-size: 1.5rem !important;
  }
  .buttonstyle {
    margin-left: 40%;
  }
  .skip-verification {
    margin-left: -8rem;
  }
  .sentance {
    color: black;
    padding: 19px 0px 15px 3px !important;
    font-size: 1.3rem;
  }
  .cancel {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(204, 17, 17);
    width: 13rem;
    margin-left: 2%;
    text-transform: none;
  }
  .next_button {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31);
    width: 15rem;
    // margin-left: 2%;
    text-transform: none;
  }
  .next_butto {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31);
    width: 15rem;
    margin-left: 30%;
    font-size: 2rem;
    text-transform: none;
  }

  .nextbutton--visitor {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31);
    width: 43%;
    margin-left: 50%;
    margin-top: -8rem;
    text-transform: none;
  }
  ::placeholder {
    text-align: start;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: start;
  }
  .nextbutton--visito {
    border-radius: 0.5rem;
    /* overflow: hidden; */
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31);
    width: 43%;
    margin-left: 30%;
    margin-top: 3rem;
    text-transform: none;
  }
  .resend {
    height: 4rem;
    font-size: 2rem;
    background: rgb(204, 17, 17);
    border-radius: 0.5rem;
  }
  .popover-md .popover-content {
    width: 100%;
    height: 100%;
    margin-top: 0%;
  }
  .outer-bg {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    margin: 0 auto;
    padding: 0.4rem;
    &.green {
      border: 1px solid rgb(68, 161, 68);
    }
    &.blue {
      border: 1px solid rgb(64, 130, 184);
    }
    &.red {
      border: 1px solid rgb(145, 56, 56);
    }
    &.orange {
      border: 1px solid rgb(248, 176, 41);
    }
    &.brown {
      border: 1px solid burlywood;
    }
    &.grey {
      border: 1px solid slategrey;
    }
  }
  .inner-bg {
    height: 7rem;
    width: 7rem;
    border-radius: 3.5rem;
    padding: 1rem;
    text-align: center;
    .icon-bg {
      font-size: 5rem;
      color: white;
      width: 34px;
      padding-top: 0.7rem;
    }
    &.green {
      background-color: #12c150;
      background-image: linear-gradient(to bottom, #a8e063, #12c150);
    }
    &.blue {
      background: rgb(64, 130, 184);
    }
    &.red {
      background: rgb(145, 56, 56);
    }
    &.orange {
      background: rgb(248, 176, 41);
    }
    &.brown {
      background: burlywood;
    }
    &.grey {
      background: slategrey;
    }
  }
  .icon-avatar {
    margin: 0 auto;
    img {
      width: 45px;
      height: 40px;
      font-size: 40px;
    }
  }
  .not-valid {
    color: red;

    margin-left: 25%;
  }
  .label-md {
    margin: 12px 5px 8px 0;
  }

  .lnogo {
    width: 67px;
    height: 40px;
    text-transform: uppercase;
    background: silver;
    color: white;
    border: 1px solid;
    // text-align: center;
    padding-top: 8px;
    margin: 0 auto;
    border-color: black;
    border-radius: 1rem;
  }
  .companies-name {
    font-size: 12px;
    color: #253b59;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .block-icon {
    font-size: 20px;
  }
  .selected-blk {
    background: rgb(15, 131, 15);
  }
  
  .flats-name {
    font-size: 14px;
    color: black;
    // margin: 10px !important;
  }
  .selected-flt {
    background: rgb(31, 82, 31);
    border-radius: 1rem;
  }
  .send {
    margin-left: 1rem;
  }
  .company-btn {
    text-align: center;
    border: 1px solid;
    border-radius: 1rem;
    height: 4rem;

    button {
      background: none;
      color: grey;
      box-shadow: none;
      // border-bottom: 1px solid;
      width: 93%;
      text-transform: inherit;
      font-size: 1.6rem;
    }
  }
  .vis-mobile {
    border-radius: 1rem;
    height: 5rem;
    margin-top: 3rem;
    border-color: black;
    border-width: 0.2rem;
  }
  .button-round-md {
    border-radius: 1rem;
    padding: 0 2.6rem;
    width: 9rem;
    height: 4rem;

    background: rgb(226, 223, 223);
    border: none;
  }
  .list-md[no-lines] .item-block,
  .list-md[no-lines] ion-item-options,
  .list-md[no-lines] .item .item-inner {
    border-width: 0;
    margin-right: -27px;
    background: none;
  }
  .cat-campany {
    margin: 12px 13px 19px;
    height: 12px;
    label {
      padding-top: 22px;
      background: #fff;
      padding: 3px 15px;
      height: 91px;
      color: #253b59;
      font-weight: bold;
    }
  }
  .company-card {
    padding: 5px;
    //  border: 1px solid gray;
  }
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  .col-xs-4 {
    width: 29.33%;
    float: left;
    margin: 0.5rem;
  }
  .col-xs-4-blk {
    width: 22%;
    height: 20%;
    float: left;
    margin: 4px;
    border-radius: 1rem;
  }
  .col-xs-2 {
    width: 20%;
    float: left;
    margin: 0.3rem;
  }
  .text-center {
    text-align: center;
  }
  .searchbar-md .searchbar-search-icon,
  .searchbar-md .searchbar-md-cancel {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 27px;
    margin-left: 75%;
  }
  .searchbar-md .searchbar-input {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 3rem;
    padding: 9px 14px 12px 20px;
  }
  [padding] h6:first-child {
    margin-top: 0.7rem;
    font-size: larger;
  }
  .isblock {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31);
    width: 13rem;
    margin-left: 17%;

    text-transform: none;
  }
  .rowselect {
    flex-wrap: wrap;
    font-size: 2rem;
    color: #253b59;
    font-weight: 600;

    margin-left: 1rem;
  }
  .content-md hr {
    background-color: grey;
  }
  .button-style {
    margin-top: 26rem;
  }
  .person-icon {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    margin-left: -0.5rem;
    border: solid 1px grey;
    border-radius: 51%;
  }
  .person-ico {
    width: 12rem;
    height: 12rem;
    background-size: cover;
  }
  .add-your-id-label {
    width: 100%;
    font-size: 17px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #253b59 !important;
  }
  .click-picture {
    width: 100%;
    margin-top: 2rem;
    font-size: 17px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
  }
  .person-icon1 {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .person-icon {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    margin-left: 1rem;
    // margin-left: 10rem;
  }
  .label-send {
    width: 100%;
    margin-top: 2rem;
    font-size: 21px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
  }
  .approved {
    width: 85%;
    /* align-items: center; */
    background: green;
    margin-left: 7%;
  }

  .rejected {
    width: 85%;
    /* align-items: center; */
    background: red;
    margin-left: 7%;
  }
  .pending {
    width: 85%;
    /* align-items: center; */
    background: goldenrod;
    margin-left: 7%;
  }
  .Current {
    width: 100%;
    font-size: 17px !important;
    font-weight: bold !important;
    text-align: start;
    color: #253b59 !important;
    margin-top: 4rem;
  }
  .namevar {
    margin-left: 4rem;
  }
  .last-updatepic {
    border: 1px solid yellow !important;
    width: 200%;
  }
  .nextexpectbutton {
    height: 5rem;
    width: 16rem;
    border-radius: 1rem;
    background: rgb(31, 82, 31);
  }
  .text-input-md {
    font-size: 1.8rem;
  }
  .marginnext {
    margin-left: 9rem !important;
    margin-top: 4rem;
  }
  .parag {
    width: 200%;
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
    margin-top: 9rem;
  }
  .parag1 {
    width: 200%;
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
  }
  .addid {
    margin-left: 26rem;
    margin-top: -17rem;
    background: white;
    border-radius: 4rem;
    border: 1px solid black;
    height: 4rem;
    width: 4rem;
  }
  .listitems {
    padding: 0px 25px 0px 25px;
  }
  .companynamelabel {
    color: black;
    margin-left: -83%;
    font-size: 1.8rem;
  }
  .selectedblocks {
    text-align: left !important;
    border: 1px solid black !important;
    border-radius: 1rem !important;
    background: none !important;
    width: 99% !important;
    height: 4rem !important;
  }
  .idcardimage {
    margin-left: 2rem;
    width: 17rem;
  }

  .nextbutton-pics {
    /* border-radius: 0.5rem; */
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31) !important;
    width: 68%;
    margin-left: 8rem;
    margin-top: 2rem;
    text-transform: none;
  }
  .button-flat {
    width: 100%;
    background: none;
    border: 1px solid black;
    border-radius: 1rem;
    height: 4rem;
    margin-top: 0.5rem;
  }
  .select-block {
    background: none;
    color: black !important;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
  }
  .selected-flat-block {
    color: black;
    font-size: 1.8rem;
    text-align: left;
  }
  .pic-content {
    font-size: 1.3rem;
    margin-left: 40%;
    color: yellow;
  }
  .next {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: rgb(31, 82, 31);
    width: 15rem;
    font-size: 2rem;
    text-transform: none;
    margin-left: -12rem;
  }
  .anchor {
    margin-left: 30%;
    font-size: 1.5rem;
    text-decoration: none;
    color: darkslategrey;
    margin-top: 1rem;
    font-weight: bold;
  }
}
.col {
  padding: 0rem;
  margin-left: -1rem;
}
.visitorlabel {
  margin-left: 2rem;
}
.person-icon {
  width: 12rem;
  height: 12rem;
  background-size: cover;
  margin-left: 1.5rem;
  border: solid 1px grey;
  border-radius: 51%;
}

.idcard {
  width: 70%;
  margin-left: 101%;
  margin-top: -16rem;
}
.visitorimg {
  margin-top: 3rem;
  margin-left: 2rem;
}
.visitor1 {
  margin-top: 3rem;
  margin-left: 11rem;
  width: 12rem;
}
.parag {
  width: 200%;
  font-size: 13px !important;
  font-weight: bold !important;
  text-align: center;
  color: #253b59 !important;
  margin-top: 5rem;
}
.add-your-id-label1 {
  // width: 200%;
  margin-top: 2rem;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center;
  color: #253b59 !important;
  width: 200%;
  margin-top: 2rem;
}
.nextbutton-pics {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: rgb(31, 82, 31) !important;
  width: 43%;
  margin-left: 9rem;
  margin-top: 2rem;
  text-transform: none;
}
.nextbutton-pics1 {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: rgb(31, 82, 31) !important;
  width: 56%;
  margin-left: 8rem;
  margin-top: 2rem;
  text-transform: none;
}
.pics {
  margin-left: 2rem;
}
.homebutton {
  margin-left: 28%;
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
}
.text-input-md {
  font-size: 2rem;
}
.input-cover {
  left: 0rem;
  top: 0rem;
  position: inherit;
}
.resend-button-text {
  color: rgb(204, 17, 17);
}
.checkboxmarg {
  margin-top: 1rem;
}
.idpicmarg {
  margin-left: 30%;
}
.idpicperson {
  margin-left: 30%;
}
