<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Visitor</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <!-- <div text-center *ngIf="next==1">

    <div class="valid-number" *ngIf="mob">Pls enter a valid mobile number</div>
    <div class="mobileno-box">
      <span class="mob-label">
        <input class="vis-mobile" type="tel" placeholder="Ex:99XXXXXXXX" maxlength="10" minlength="10"
          pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="mobileNo" required>
      </span>
    </div>
    <div class="buttonstyle">
      <ion-col *ngIf="next!=4 && next!=5 && next!=6 && next!=3"><button ion-button class="next" (click)="onClickNext()"
          [ngClass]=" next==2 ? 'disabled' : '' ">Next</button></ion-col>
    </div>
    <div class="anchor">
      <a href="#" class="skip-verification">Skip the verification....</a>
    </div>

  </div> -->



  <!-- <ion-row *ngIf="next==1"  class="margin-zero">
    <div class="text-otp-center">
      <div class="add-visitor">Please enter 4 digit OTP sent to your mobile number
      </div>
      <p class="not-valid margin-zero" *ngIf="wrong">Your OTP is not valid </p>
    </div>


    <div id="otp-holder">
      <div id="otp-content">
        <input class="input-style" id="partitioned" type="tel" maxlength="4" [(ngModel)]="otp" autocomplete="off" />
      </div>
    </div>


    <div class="sentance">We will try all the posible ways to send the mobile number, if
      it still not recive in 30sec, then please hit
      <a href="" class="resend-button-text">Resend button</a>
    </div>

    <div>
      <button ion-button small color="red" class="reset-otp resend" (click)="triggerOTP()">
        <ion-icon name="refresh" slot="start"></ion-icon> <span class="send">Resend</span>
      </button>
    </div>

    <div>
      <ion-col *ngIf="next!=4 && next!=5 && next!=6 && next!=3"><button ion-button (click)="onClickNext()"
          [ngClass]=" next==2 ? 'disabled' : '' " class="next_butto">Next</button></ion-col>

    </div>
  </ion-row> -->
  <div *ngIf="next==1">
    <ion-list *ngIf="!existVis" class="listitems">
      <ion-item class="vis-name" no-margin no-padding no-lines>
        <ion-label class="label-style">Enter the name of the Visitor:</ion-label>
      </ion-item>
      <ion-input type="text" [(ngModel)]="name" placeholder="Enter the name of the person" class="input-st"></ion-input>

      <ion-item class="vis-name" no-margin no-padding no-lines>
        <ion-label class="label-style">Vehicle No:</ion-label>
      </ion-item>
      <ion-input type="text" [(ngModel)]="vehicleNo" placeholder="Enter the vehicle number" class="input-st">
      </ion-input>

      <ion-item no-margin no-padding no-lines>
        <ion-label class="label-style">Select Company (if any):</ion-label>

      </ion-item>
      <div class="company-btn">
        <button *ngIf="companyName==undefined" ion-button (click)="gotocompany()">Select Company</button>
        <button *ngIf="companyName!==undefined" ion-button (click)="gotocompany()"><span
            class="companynamelabel">{{companyName}}</span></button>
      </div>
      <ion-item no-margin no-padding no-lines>
        <ion-label class="label-style">Select Flat Number:</ion-label>
      </ion-item>

      <div class="button-flat">
        <button class="select-block" *ngIf="selectedData==undefined" ion-button (click)="openflatselected()"></button>
        <button class="select-block" *ngIf="selectedData !==undefined" ion-button (click)="openflatselected()"><span
            *ngFor="let dat of selectedData; let i = index" class="selected-flat-block">{{dat.block.name}}
            {{dat.flat.flatName}},</span></button>
      </div>

      <ion-item>
        <ion-label class="label-style">Purpose of Visit:</ion-label>
      </ion-item>

      <button class="selectedblocks" *ngIf="this.title==undefined" (click)="gotopurpose()"
        placeholder="Tap to select from the list">

      </button>
      <button class="selectedblocks" *ngIf="this.title!==undefined" (click)="gotopurpose()"
        placeholder="Tap to select from the list"><span class="title">{{title}}</span>

      </button>

      <div class="checkboxmarg">

        <label class="checkbox">
          <input type="checkbox" class="checkboxin">
        </label><span class="label-styl">Mark as regular</span>
      </div>
      <div>
        <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="cancel" (click)="onClickBack()">Cancel</button>
        </ion-col>
        <ion-col><button ion-button (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' "
            class="nextbutton--visito"><span class="nextbutton">Next</span></button></ion-col>
      </div>
    </ion-list>

    <ion-list *ngIf="existVis" class="listitems">

      <ion-item class="vis-name" no-margin no-padding no-lines>
        <ion-label class="label-style">Enter the name of the Visitor:</ion-label>
      </ion-item>
      <ion-input type="text" [(ngModel)]="name" placeholder="Ramanujam" class="input-st"> {{name}}</ion-input>

      <ion-item class="vis-name" no-margin no-padding no-lines>
        <ion-label class="label-style">Vehicle No:</ion-label>
      </ion-item>
      <ion-input type="text" [(ngModel)]="vehicleNo" placeholder="Last 04 digit of the vehicle number" class="input-st">

        {{vehicleNo}}</ion-input>

      <ion-item no-margin no-padding no-lines>
        <ion-label class="label-style">Select Company (if any):</ion-label>

      </ion-item>
      <ion-input class="input-st" [(ngModel)]="companyName">

        {{companyName}}</ion-input>
      <ion-item no-margin no-padding no-lines>
        <ion-label class="label-style">Select Flat Number:</ion-label>
      </ion-item>

      <ion-input class="input-st" [(ngModel)]="plotName">

        {{plotName}}</ion-input>
      <ion-item>
        <ion-label class="label-style">Purpose of Visit:</ion-label>
      </ion-item>

      <ion-input class="input-st" [(ngModel)]="typeofVistor">

        {{typeofVistor}}</ion-input>

      <div style="margin-top: 1rem;">

        <label class="checkbox">
          <input type="checkbox" class="checkboxin">
        </label><span class="label-styl">Mark as regular</span>
      </div>
      <div>
        <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="cancel" (click)="onClickBack()">Cancel</button>
        </ion-col>
        <ion-col><button ion-button (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' "
            class="nextbutton--visito">Next</button></ion-col>

      </div>
    </ion-list>

  </div>

  <div class="col-xs-12" *ngIf="next==2">
    <ion-row>
      <ion-col col-6 class="pic">
        <ion-row *ngIf="existVis" class="last-updatepic">
          <div class="add-your-id-label">Last updated photo of {{name}} </div>

          <div *ngIf="existVis" class="idpicmarg">
            <img class="person-icon1" src="{{idPic}}">
          </div>
          <div (click)="getIdPic()" *ngIf="!existVis">
            <img *ngIf="!isShowIdPic" class="person-icon1" src="../../assets/imgs/avatar.png">
            <img *ngIf="isShowIdPic" class="person-icon1" src="{{idPic}}">
          </div>
          <div class="pic-content">This Section is for existing Visitor</div>

        </ion-row>
        <div class="add-your-id-label1">Click picture of {{name}} : </div>

        <div (click)="getPic()" [ngClass]=" show ? 'visitorimg' : 'visitor1' ">
          <img *ngIf="!isShowPic" class="person-icon" src="../../assets/imgs/avatar.png">
          <img *ngIf="isShowPic" class="person-icon" src="{{visitorPic}}">
          <p *ngIf="show" class="visitorlabel">Visitor image</p>
        </div>
        <div class="idcard" *ngIf="show" (click)="getPicidcardimage()">
          <img *ngIf="!idcardimage" class="person-icon" src="../../assets/imgs/avatar.png">
          <img *ngIf="idcardimage" class="person-icon" src="{{idcardimagepic}}">
          <p class="idcardimage">Id card image</p>

        </div>
        
        <div *ngIf="notshow">
          <button ion-button class="addid" (click)="gototheaddpicture()">
            <ion-icon style="color: black;" name="add"></ion-icon>
          </button>
        </div>

        <div class="parag1" *ngIf="notshow">Please use "+" button to add additional image of ID proof of the visitor
        </div>
        <p class="parag" *ngIf="show">You have selected multiple images options. Please tap the above icons to add snap
          of the ID Proof
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  *ngIf="existVis" class="marginnext"><button ion-button class="nextexpectbutton"
          (click)="addVisitor()">Next</button></ion-col>

      <div class="buttonaddpic" *ngIf="show||notshow||exist">
        <ion-col><button ion-button class="nextbutton-pics" (click)="addVisitor()">
            <p class="submitappr">Submit for Approval</p>

          </button>
        </ion-col>
      </div>

    </ion-row>
  </div>

  <div class="col-xs-12" *ngIf="next==3 ">
    <div *ngIf="sendingrequest">
      <p class="label-send">Sending request for approval...</p>
      <div class="pics">
        <div>
          <img class="person-ico" src="../../assets/imgs/avatar.png">
          <p class="namevar">{{name}}</p>
        </div>
        <div class="idcard">
          <img class="person-ico" src="">
          <p>{{b.block.name}}:{{b.flat.flatName}}</p>

        </div>
      </div>

      <p class="Current">Current Status:
      </p>

      <div class="buttonaddpic">
        <ion-col><button ion-button class="pending">
            <ion-icon name="ion-android-warning"></ion-icon>

            Pending....
          </button>
        </ion-col>
        <ion-col><button ion-button class="approved">
            <ion-icon name="ion-checkmark-round "></ion-icon>

            Approved
          </button>
        </ion-col>
        <ion-col><button ion-button class="rejected">
            <ion-icon name="ion-android-warning"></ion-icon>
            Rejected
          </button>
        </ion-col>
      </div>
      <ion-col><button ion-button class="homebutton" (click)="gotohome()">Home</button>
      </ion-col>
    </div>
  </div>


  <div col-xs-12 *ngIf="flats && next==3">
    <div>
      <p class="rowselect">Select Flat number in the Block:</p>
      <div *ngFor="let flat of flats">
        <div class="col-xs-2 text-center" [ngClass]="flat.id == selectedFlat.id? 'selected-flt':''"
          (click)="onClickFlat(flat)">
          <div class="col-xs-12 flat-card">
            <h6 class="flats-name">{{flat.flatName}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="button-style">
      <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="cancel" (click)="onClickBack()">Cancel</button>
      </ion-col>
      <ion-col *ngIf="next==5"><button ion-button class="isblock" (click)="isBlock()">Next</button>
      </ion-col>
    </div>
  </div>

  <div *ngIf="next==4" no-padding no-margin>
    <span *ngIf="isvisitor"></span>
    <ion-row *ngIf="existVis" class="last-updatepic">
      <div class="add-your-id-label">Last updated photo of {{name}} </div>

      <div *ngIf="existVis" class="idpicperson">
        <img class="person-icon1" src="{{idPic}}">
      </div>
      <div (click)="getIdPic()" *ngIf="!existVis">
        <img *ngIf="!isShowIdPic" class="person-icon1" src="../../assets/imgs/avatar.png">
        <img *ngIf="isShowIdPic" class="person-icon1" src="{{idPic}}">
      </div>
      <div class="pic-content">This Section is for existing Visitor</div>

    </ion-row>

    <ion-row>
      <ion-col col-6 class="pic">
        <div class="click-picture">Click picture of {{name}} : </div>

        <div (click)="getPic()">
          <img *ngIf="!isShowPic" class="person-icon" src="../../assets/imgs/avatar.png">
          <img *ngIf="isShowPic" class="person-icon" src="{{visitorPic}}">
        </div>
        <div>
          <button ion-button class="addid" (click)="gototheaddpicture()">
            <ion-icon style="color: black;" name="add"></ion-icon>
          </button>
        </div>
        <div class="parag">Please use "+" button to add additional image of ID proof of the visitor</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>

      </ion-col>

    </ion-row>
    <div class="buttonaddpic">
      <ion-col *ngIf="next==6"><button ion-button class="nextbutton-pics" (click)="addVisitor()">Submit for
          Approval</button>
      </ion-col>
    </div>
  </div>

  <div *ngIf="newshow">
    <p class="add-your-id-label1">Click picture of the Visitor</p>
    <div class="pics">
      <div>
        <img class="person-ico" src="../../assets/imgs/avatar.png">
        <p>Visitor image</p>
      </div>
      <div class="idcard">
        <img class="person-ico" src="../../assets/imgs/avatar.png">
        <p>Id card image</p>

      </div>
    </div>

    <p class="parag">You have selected multiple images options. Please tap the above icons to add snap of the ID Proof
    </p>

    <div class="buttonaddpic">
      <ion-col><button ion-button class="nextbutton-pics1" (click)="addVisitor()">Submit for Approval</button>
      </ion-col>
    </div>
  </div>

</ion-content>