<ion-header>

  <!-- <ion-navbar>

    <ion-title>select-purpose</ion-title>
  </ion-navbar> -->
 <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Select-purpose</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="search here for Purpose">
  </ion-searchbar>
  <ion-row  (click)="test($event, item)">
    <span *ngIf="title">{{title}}</span>
  </ion-row>
  <ion-segment-button class="divst" (click)="dismissModal()" value="guest" (ionSelect)="this.title ='Guest'" >
    <img class="imagestyle" src="../../assets/imgs/Guest.png">
    <p class="label">Guest</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="driver" (ionSelect)="this.title ='Driver'">
    <img class="imagestyle" src="../../assets/imgs/Driver.png">
    <p class="label">Driver</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="cab/taxi" (ionSelect)="this.title ='Cab/ Taxi'">
    <img class="imagestyle" src="../../assets/imgs/CabTaxi.png">
    <p class="label">Cab/Taxi</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="food/courier" (ionSelect)="this.title ='Food/ Courier'">
    <img class="imagestyle" src="../../assets/imgs/FoodCourier.png">
    <p class="label">Food/Courier</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="grocery" (ionSelect)="this.title ='Grocery'">
    <img class="imagestyle" src="../../assets/imgs/Grocery.png">
    <p class="label">Grocery</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="Repair" (ionSelect)="this.title ='Repair & Maintenance'">
    <img class="imagestyle" src="../../assets/imgs/RepairandMaintenance.png">
    <p class="label"> Repair& </p><p>Maintenance</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="PestControl" (ionSelect)="this.title ='Pest Control'">
    <img class="imagestyle" src="../../assets/imgs/PestControl.png">
    <p class="label">Pest Control</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()"  value="Beautician" (ionSelect)="this.title ='Beautician'">
    <img class="imagestyle" src="../../assets/imgs/Beautician.png">
    <p class="label">Beautician</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="GasCylender" (ionSelect)="this.title ='Gas Cylender'">
    <img class="imagestyle" src="../../assets/imgs/GasCylender.png">
    <p class="label">Gas Cylender</p>
  </ion-segment-button>
  <ion-segment-button class="divst" (click)="dismissModal()" value="VendorGroup" (ionSelect)="this.title ='Vendor Group'">
    <img class="imagestyle" src="../../assets/imgs/VendorGroup.png">
    <p class="label">Vendor Group</p>
  </ion-segment-button>

</ion-content>