page-select-purpose {
   .addbutton{
    border-radius: 0.5rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: darkgreen;
    width: 43%;
    margin-left: 30%;
    margin-top: 3rem;
    text-transform: none;
   }
   .label{
    font-size: 1.6rem;
    margin-left: -0.8rem;
   }

}
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #253b59 !important;
    
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #d3f3ee;
    margin-top: 3rem;
}
.bar-button-default-md{
    color:#d3f3ee;
}
.imagestyle{
    width: 8rem;
    height: 8rem;
    // float: left;
    padding: 1px 0px 2px 1px;
}
.divst{
    width: 33.3%;
    height: 14rem;
    float: left;
    text-align: center;
}

.labelst{
    margin-left: 1.3rem;
    width: 10rem;
    height: 11rem;
    font-size: 1.7rem;
    text-align: center;
    color: #253b59;
}
p{
    margin-block-start: unset;
}
.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 6%;
}