<ion-header >
  <div>
    <ion-toolbar>
      <div class="tool-style"  >
        <button ion-button menuToggle >
          <div class="imagestyles" >
            <img src="../../assets/imgs/menu.png">
          </div>
          <span class="titlesty">{{title}}</span>
        </button>
        <ion-avatar  >
          <div *ngIf="user">
            <img *ngIf="user.photo==''" src='../assets/imgs/business.png' class="user-pic">
            <img *ngIf="user.photo!==''" src="{{user.photo}}" imageViewer class="user-pic">
          </div>
        </ion-avatar>
        <div *ngIf="toolbarhide2">
          <button ion-button menuToggle  (click)="gotoback()">
            <ion-icon class="close-icon" name="close"></ion-icon> 
            Add Visitor      
           </button>
        </div>
      </div>
     
    </ion-toolbar>
  </div>

</ion-header>

<ion-content>
  <div id="Div1">
    <ion-slides>
      <ion-slide>
        <ion-segment [(ngModel)]="segments" class="segmentalign">
          <ion-segment-button value="add" (ionSelect)="this.title ='Test Apartment Gate-1'" class="segment-button-style">

            <div class="imagestylesegment">
              <img src="../../assets/imgs/add.png">
            </div>
            <div class="segmenttitle">Add</div>
          </ion-segment-button>

          <ion-segment-button class="segment-button-style" value="visitors" (ionSelect)="this.title ='Visitor'"
            [style.background-color]="red">
            <div class="imagestylesegment">
              <img src="../../assets/imgs/visitor (2).png">
            </div>
            <div class="segmenttitle">Visitor</div>
          </ion-segment-button>
          <ion-segment-button value="vendor" (ionSelect)="this.title ='Vendor'">
            <div class="imagestylesegment">
              <img src="../../assets/imgs/vendor.png">
            </div>
            <div class="segmenttitle">Vendor
            </div>
          </ion-segment-button>

          <ion-segment-button value="staff" (ionSelect)="this.title ='Staff'">
            <div class="imagestylesegment">
              <img src="../../assets/imgs/staff.png">
            </div>
            <div class="segmenttitle">Staff </div>
          </ion-segment-button>
          <!-- <ion-segment-button value="delivery" (ionSelect)="this.title ='Delivary boy'">
            <div class="segmenticon">
              <ion-icon name="person" class="iconstyle"></ion-icon>
            </div>
            <div class="segmenttitle">Delivary
            </div>
          </ion-segment-button> -->
        </ion-segment>
      </ion-slide>

      <ion-slide>
        <ion-segment [(ngModel)]="segments" class="segmentalign">
          <!-- <ion-segment-button value="delivery" (ionSelect)="this.title ='Delivary boy'">
            <div class="segmenticon">
              <ion-icon name="person" class="iconstyle"></ion-icon>
            </div>
            <div class="segmenttitle">Delivary
            </div>
          </ion-segment-button> -->
          <ion-segment-button value="maid" (ionSelect)="this.title ='Maid'">
            <div class="segmenticon">
              <ion-icon class="iconstyle" name="person"></ion-icon>
            </div>
            <div class="segmenttitle">Maid</div>
          </ion-segment-button>
          <ion-segment-button value="driver" (ionSelect)="this.title ='Driver'">
            <div class="segmenticon">
              <ion-icon class="iconstyle" name="person"></ion-icon>
            </div>
            <div class="segmenttitle">Driver </div>
          </ion-segment-button>
          <ion-segment-button value="buscab" (ionSelect)="this.title ='Bus/Cab'">
            <div class="segmenticon">
              <ion-icon name="person" class="iconstyle"></ion-icon>
            </div>
            <div class="segmenttitle">Bus/Cab</div>
          </ion-segment-button>
          <ion-segment-button value="guest" (ionSelect)="this.title ='Guest'">
            <div class="segmenticon">
              <ion-icon name="person" class="iconstyle"></ion-icon>
            </div>
            <div class="segmenttitle">Guest</div>
          </ion-segment-button>
        </ion-segment>

      </ion-slide>

      <ion-slide>
        <ion-segment [(ngModel)]="segments" class="segmentalign">
          <ion-segment-button value="expectedvisitors" (ionSelect)="this.title ='Expected visitors'">
            <div class="segmenticon">
              <ion-icon class="iconstyle" name="person"></ion-icon>
            </div>
            <div class="segmenttitle">Expected
            </div>
          </ion-segment-button>
          <ion-segment-button value="others" (ionSelect)="this.title ='Others'">
            <div class="segmenticon">
              <ion-icon class="iconstyle" name="person"></ion-icon>
            </div>
            <div class="segmenttitle">Others </div>
          </ion-segment-button>
          <ion-segment-button>
            <div class="segmenticon"></div>
            <div class="segmenttitle"></div>
          </ion-segment-button>
          <ion-segment-button>
            <div class="segmenticon"></div>
            <div class="segmenttitle"></div>
          </ion-segment-button>
        </ion-segment>
      </ion-slide>
    </ion-slides>
  </div>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-segments >

    <div [ngSwitch]="segments">
      <ion-list *ngSwitchCase="'add'" no-lines >
        <ion-segment [(ngModel)]="segmentss" class="segmenta" id="Div2">
          <ion-segment-button value="segments1" class="segment-bu ">
            <!--  (click)="openverification()" -->
            <div class="addvis">
              Add Visitor
            </div>
          </ion-segment-button>
          <ion-segment-button value="segments2" class="segment-bu">
            <div class="addvis" (click) ="gotothenewstff()">
              New Staff
            </div>
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="segmentss">
          <ion-list *ngSwitchCase="'segments1'" no-lines>
            <div text-center *ngIf="next==1">
              <div style="color:red;" *ngIf="mob">Pls enter a valid mobile number</div>
              <div class="mobileno-box">
                <span class="mob-label">
                  <input class="vis-mobile" type="tel" placeholder="Ex:99XXXXXXXX" maxlength="10" minlength="10"
                    pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="mobileNo" required>
                </span>
              </div>
              <div class="buttonstyle" style="margin-left: 40%;">
                <!-- <ion-col *ngIf="next!=4 && next!=5 && next!=6 && next!=3"><button ion-button class="prev-btn"
                    class="next" (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' ">next</button></ion-col>
               -->
                <ion-col *ngIf="next!=4 && next!=5 && next!=6 && next!=3"><button ion-button class="prev-btn"
                    class="next" (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' ">Next</button></ion-col>
              </div>
              <div class="anchor">
                <a href="#" class="skipverification">Skip the verification....</a>
              </div>

            </div>
            <ion-row *ngIf="next==2" class="margin-zero">
              <div class="text-otp-center">
                <div class="add-visitor">Please enter 4 digit OTP sent to your mobile number
                </div>
                <p class="not-valid margin-zero" *ngIf="wrong">Your OTP is not valid </p>
              </div>


              <div id="otp-holder">
                <div id="otp-content">
                  <input class="input-style" id="partitioned" type="tel" maxlength="4" [(ngModel)]="otp"
                    autocomplete="off" />
                </div>
              </div>


              <div class="sentance">We will try all the posible ways to send the mobile number, if
                it still not recive in 30sec, then please hit
                <a href="" class="resend-button-text">Resend button</a>
              </div>
              <ion-grid>
                <ion-row class="rowsty">
                  <ion-col col-6>
                    <button ion-button small color="red" class="reset-otp resend" (click)="triggerOTP()">
                      <ion-icon name="refresh" slot="start"></ion-icon> <span class="send">Resend</span>
                    </button>
                  </ion-col>


                  <ion-col col-6 *ngIf="next!=4 && next!=5 && next!=6 && next!=3">
                    <button ion-button (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' "
                      class="next_butto">Next</button>
                  </ion-col>


                </ion-row>
              </ion-grid>
            </ion-row>
            <div *ngIf="next==3" [ngClass]=" next==3 ? 'scroll-content' : '' ">
              <ion-list *ngIf="existVis" class="listitems">

                <ion-item class="vis-name" no-margin no-padding no-lines>
                  <ion-label class="label-style">Enter the name of the Visitor:</ion-label>
                </ion-item>
                <ion-input type="text" [(ngModel)]="name" placeholder="Ramanujam" class="input-st" > {{name}}</ion-input>

                <ion-item class="vis-name" no-margin no-padding no-lines>
                  <ion-label class="label-style">Vehicle No:</ion-label>
                </ion-item>
                <ion-input type="text" [(ngModel)]="vehicleNo" placeholder="Last 04 digit of the vehicle number"
                  class="input-st" >

                  {{vehicleNo}}</ion-input>

                <ion-item no-margin no-padding no-lines>
                  <ion-label class="label-style">Select Company (if any):</ion-label>

                </ion-item>
                <div class="company-btn">
                  <button *ngIf="companyName==undefined" ion-button (click)="gotocompany()">{{companyName}}</button>
                  <button *ngIf="companyName!==undefined" ion-button (click)="gotocompany()"><span
                      class="companynamelabel">{{companyName}}</span></button>
                </div>
                <!-- <ion-input class="input-st" [(ngModel)]="companyName" readonly>
                  {{companyName}}
                  </ion-input> -->
                <ion-item no-margin no-padding no-lines>
                  <ion-label class="label-style">Select Flat Number:</ion-label>
                </ion-item>
                <div class="button-flat">
                  <button class="select-block" *ngIf="selectedData==undefined" ion-button (click)="openflatselected()">{{plotName}}</button>
                  <button class="select-block" *ngIf="selectedData !==undefined" ion-button (click)="openflatselected()"><span
                      *ngFor="let dat of selectedData; let i = index" class="selected-flat-block">{{dat.block.name}}
                      {{dat.flat.flatName}},</span></button>
                </div>
                <!-- <ion-input class="input-st" [(ngModel)]="plotName" readonly>

                  {{plotName}}</ion-input> -->
                <ion-item>
                  <ion-label class="label-style">Purpose of Visit:</ion-label>
                </ion-item>

                <button class="selectedblocks" *ngIf="this.title1==undefined" (click)="gotopurpose()"
                placeholder="Tap to select from the list">
                {{typeofVistor}}
              </button>
              <button class="selectedblocks" *ngIf="this.title1!==undefined" (click)="gotopurpose()"
                placeholder="Tap to select from the list"><span class="title">{{title1}}</span>
        
              </button>
                <!-- <ion-input class="input-st" [(ngModel)]="typeofVistor" readonly>

                  {{typeofVistor}}</ion-input> -->

                <div style="margin-top: 1rem;">

                  <label class="checkbox">
                    <input type="checkbox" class="checkboxin">
                  </label><span class="label-styl">Mark as regular</span>
                </div>
                <div>
                  <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="cancel"
                      (click)="onClickBack()">Cancel</button>
                  </ion-col>
                  <ion-col><button ion-button (click)="onClickNext()" [ngClass]=" next==2 ? 'disabled' : '' "
                      class="nextbutton--visito">Next</button></ion-col>

                </div>
              </ion-list>
            </div>
            <div class="col-xs-12" *ngIf="next==4">

              <ion-row>
                <ion-col col-6 class="pic">
                  <ion-row *ngIf="existVis" class="last-updatepic">
                    <div class="add-your-id-label">Last updated photo of {{name}} </div>

                    <div *ngIf="existVis" (click)="getIdPic()" class="idpicmarg">
                      <img class="person-icon1" src="{{idPic}}">
                    </div>
                    <div (click)="getIdPic()" *ngIf="!existVis">
                      <img *ngIf="!isShowIdPic" class="person-icon1" src="../../assets/imgs/avatar.png">
                      <img *ngIf="isShowIdPic" class="person-icon1" src="{{idPic}}">
                    </div>
                    <!-- <div class="pic-content">This Section is for existing Visitor</div> -->

                  </ion-row>
                  <div class="add-your-id-label1">Click picture of {{name}} : </div>

                  <div (click)="getPic()"  *ngIf="existVis" [ngClass]=" show ? 'visitorimg' : 'visitor1' ">
                    <img *ngIf="!isShowPic" class="person-icon" src="../../assets/imgs/avatar.png">
                    <img *ngIf="isShowPic" class="person-icon" src="{{visitorPic}}">
                    <p *ngIf="show" class="visitorlabel">Visitor image</p>
                  </div>
                  <!-- <div class="idcard" *ngIf="show" (click)="getPic()">
                    <img class="person-icon" src="../../assets/imgs/avatar.png">

                    <p class="idcardimage">Id card image</p>

                  </div> -->
                  <div *ngIf="notshow">
                    <button ion-button class="addid" (click)="gototheaddpicture()">
                      <ion-icon style="color: black;" name="add"></ion-icon>
                    </button>
                  </div>

                  <div class="parag1" *ngIf="notshow">Please use "+" button to add additional image of ID proof of the
                    visitor
                  </div>
                  <p class="parag" *ngIf="show">You have selected multiple images options. Please tap the above icons
                    to add snap
                    of the ID Proof
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <button *ngIf="existVis" ion-button class="nextexpectbutton marginnext"
                  (click)="sending()">Next</button>
                <!-- <ion-col><button ion-button class="nextbutton-pics" (click)="addVisitor()">
                      <p class="submitappr">Submit for Approval</p>
      
                    </button>
                  </ion-col> -->


              </ion-row>

            </div>
            <div class="col-xs-12" *ngIf="next==5 ">
              <div>
                <p class="label-send">Sending request for approval...</p>
                <div class="pics">
                  <div>
                    <img class="person-ico" src="{{visitorPic}}">
                    <p class="namevar">{{name}}</p>
                  </div>
                  <div class="idcard1">
                    <img class="person-ico" src="../../assets/imgs/flat.png">
                    <p>{{plotName}}</p>

                  </div>
                </div>

                <p class="Current">Current Status:
                </p>

                <div class="buttonaddpic">
                  <ion-col><button ion-button class="pending">
                      <ion-icon name="ion-android-warning"></ion-icon>
                      <span class="pending">Pending....</span>
                    </button>
                  </ion-col>
                  <ion-col><button ion-button class="approved">
                      <ion-icon name="ion-checkmark-round"></ion-icon>
                      <span class="approved">Approved....</span>

                    </button>
                  </ion-col>
                  <ion-col><button ion-button class="rejected">
                      <ion-icon name="ion-android-warning"></ion-icon>
                      <span class="rejected">Rejected....</span>


                    </button>
                  </ion-col>
                </div>
                <ion-col><button ion-button class="homebutton" (click)="gotohome()">Home</button>
                </ion-col>
              </div>
            </div>
          </ion-list>

          <ion-list *ngSwitchCase="'segments2'" no-lines >
            <!-- <p> New staff</p> -->

          </ion-list>
        </div>



      </ion-list>

      <ion-list *ngSwitchCase="'visitors'" no-lines>
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of vlist; let i=index" class="itemlistheight">
          <ion-card>
            <ion-avatar item-start class="pic">
              <img *ngIf="item.mainPhoto!=null && item.mainPhoto!=''" src={{item.mainPhoto}} imageViewer>
              <div *ngIf="item.mainPhoto==null || item.mainPhoto==''" class="first-let-icon" [ngClass]="getClass(i)">
                {{item.name[0]}}</div>
            </ion-avatar>
            <div class="divstyle">
              <div class="itemslabelstyle" style="margin-left: 20%;">
                <div class="name-label" *ngIf="item.wrongEntryFlats==null"><span>{{item.name}}</span></div>
                <div class="name-label" *ngIf="item.wrongEntryFlats!=null"><span
                    [ngClass]="item.wrongEntryFlats ? 'red' : ''">{{item.name}}</span></div>
                <span *ngIf="item.wrongEntryFlats">WrongEntry:
                  <span class="wrongentry-styles">{{item.wrongEntryFlats}}</span>
                </span>

                <span>{{item.plotName}}</span>
                <div class="typeofvisitor">
                  <span>{{item.typeofVistor}}</span>
                </div>

              </div>
              <div class="inbuttonmargin">

                <button ion-button round outline class="vlistinbutton" style="height:50px;font:1.8rem;"><span
                    class="inbutton">In</span></button>
              </div>
            </div>
          </ion-card>
        </ion-item>


        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-list>

      <ion-list *ngSwitchCase="'vendor'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item class="out-btn-list" no-lines>

        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-list>

      <ion-list *ngSwitchCase="'staff'" no-lines>
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of stafflist">
          <ion-card>
            <ion-avatar item-start>
              <img src="{{item.mainPhoto}}" imageViewer>
              <div *ngIf="item.mainPhoto==null" class="first-let-icon" [ngClass]="getClass(i)">{{item.name[0]}}</div>
            </ion-avatar>
            <div class="itemsnamesstyle">
              <div (click)=" presentPopover(event, item)">
                <div class="name-label">{{item.name}}</div>
                <p class="staff-category">{{item.category}}</p>
              </div>
              <div class="buttonmarrgin">

                <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"
                  (click)="prePopover(item)"><span class="inbutton">In</span></button>
              </div>
            </div>
          </ion-card>
        </ion-item>
      </ion-list>



      <!-- <ion-list *ngSwitchCase="'delivery'">
        <ion-item *ngFor="let item of deliverylist; let i=index" class="out-btn-list" no-lines>
          <ion-avatar item-start>
            <img *ngIf="item.mainPhoto!=null && item.mainPhoto!=''" src={{item.mainPhoto}} imageViewer>
            <div *ngIf="item.mainPhoto==null" class="first-let-icon" [ngClass]="getClass(i)">{{item.name[0]}}</div>
          </ion-avatar>
          <div style="margin-top: 3rem;">
            <div><span>{{item.name}}</span></div>
          </div>
          <div>
            <button ion-button round outline class="buttoneditcolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">Edit</span>
            </button>
            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-list>
 -->

    </div>





    <div [ngSwitch]="segments">
      <ion-list *ngSwitchCase="'maid'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of maidList" no-lines>
          <ion-avatar item-start class="pic">
            <img src={{item.mainPhoto}} imageViewer>
          </ion-avatar>
          <div style="    margin-top: 2rem;">
            <h2><span>{{item.name}}</span></h2>
          </div>
          <div>

            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>

      <ion-list *ngSwitchCase="'driver'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of driverList; let i=index;" class="list-padding"
          (click)="onClickArrow($event, item)" no-lines>
          <ion-avatar item-start class="pic">
            <img src={{item.mainPhoto}} imageViewer>
          </ion-avatar>
          <div style="    margin-top: 2rem;">
            <h2><span>{{item.name}}</span></h2>
          </div>
          <div>

            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>
        </ion-item>

        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>

      <ion-list *ngSwitchCase="'buscab'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let bus of busList ; let i=index" no-lines>
          <ion-avatar *ngIf="item!=null" item-start>
            <img src="{{bus.photoUrl}}" imageViewer>
            <div *ngIf="bus.photoUrl==null || bus.photoUrl==''" class="first-let-icon" [ngClass]="getClasss(i)">
              {{bus.name[0]}}</div>
          </ion-avatar>
          <div (click)="onClickArrow($event, bus)" style="    margin-top: 2rem;">
            <div class="bus-name">{{bus.name}}</div>
          </div>
          <div>
            <button ion-button round outline class="buttoneditcolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">Edit</span>
            </button>
            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>

      <ion-list *ngSwitchCase="'guest'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of guestList; let i=index" class="guestlist" no-lines>
          <ion-avatar item-start class="pic">
            <img *ngIf="item.mainPhoto!=null && item.mainPhoto!=''" src={{item.mainPhoto}} imageViewer>
            <div *ngIf="item.mainPhoto==null || item.mainPhoto==''" class="first-let-icon" [ngClass]="getClass(i)">
              {{item.name[0]}}</div>
          </ion-avatar>
          <div style="    margin-top: 2rem;">
            <h2><span>{{item.name}}</span></h2>
          </div>
          <div>
            <button ion-button round outline class="buttoneditcolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">Edit</span>
            </button>
            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>

    </div>






    <div [ngSwitch]="segments">

      <ion-list *ngSwitchCase="'expectedvisitors'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of expVisList; let i=index" no-lines>
          <ion-avatar *ngIf="item!=null" item-start>
            <img *ngIf="item.mainPhoto!=null" src={{item.mainPhoto}} imageViewer>
            <div *ngIf="item.mainPhoto==null" class="first-let-icon" [ngClass]="getClass(i)">{{item.name[0]}}</div>
          </ion-avatar>
          <div>
            <h2 class="maid-name-label" style="    margin-top: 1rem;">{{item.name}}</h2>
          </div>
          <div>
            <button ion-button round outline class="buttoneditcolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">Edit</span>
            </button>
            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>

        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-list>
      <ion-list *ngSwitchCase="'others'">
        <ion-searchbar class="searchbar-input" placeholder="Name,Mobile No or Flat No"></ion-searchbar>
        <ion-item *ngFor="let item of othersList" style="height: 7rem;" no-lines>
          <ion-avatar item-start>
            <img src="{{item.mainPhoto}}" imageViewer>
          </ion-avatar>
          <div class="list-label" style="    margin-top: 3rem;">
            <div><span>{{item.name}}</span></div>
          </div>
          <div>
            <button ion-button round outline class="buttoneditcolor" style="height:50px;font:1.8rem;"><span
                class="inbutton"> Edit</span>
            </button>
            <button ion-button round outline class="buttonincolor" style="height:50px;font:1.8rem;"><span
                class="inbutton">In</span></button>
          </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-list>
    </div>

    <div [ngSwitch]="inout">

      <div *ngSwitchCase="'3'">
        ,mmlkmklmlkmklmlk
      </div>

      <div *ngSwitchCase="'4'">
        mld,;la,;,;
      </div>
    </div>

  </ion-segments>
 

 
</ion-content>
<ion-footer class="footer"  >

  <div>
    <ion-marquee class="marqueestyle" speed="30" [text]="horizontalText">

    </ion-marquee>
  </div>
  <ion-row>
    <button ion-button class="buttonsfotter" (click)="inside()">
      <div class="image1f"> <img src="../../assets/imgs/inside.png"> </div>
      <div class="footertitle1">Inside</div>
    </button>

    <button ion-button class="buttonsfotter fotte" (click)="waiting()">
      <div class="image2f"> <img src="../../assets/imgs/waiting.png"></div>
      <div class="footertitle2">Waiting</div>
    </button>

    <button ion-button class="buttonsfotter fotte" (click)="expected()">
      <div class="image3f"> <img src="../../assets/imgs/expected.png"></div>
      <div class="footertitle3">Expected</div>
    </button>

    <button ion-button class="buttonfix" (click)="violation()">
      <div class="image4f"> <img src="../../assets/imgs/violation (2).png"></div>
      <div class="footertitle4">Violation</div>
    </button>
    <button ion-button class="buttonfix" (click)="notes()">
      <div class="image5f"> <img src="../../assets/imgs/notes.png"></div>
      <div class="footertitle5">Notes</div>
    </button>
  </ion-row>
</ion-footer>