.tool-style {
  background-color: #253b59;
  padding-top: 1rem;
  margin-top: 0rem;
  width: 100%;
  padding: none;
  min-height: 59px;
}
// .scroll-content {
//    margin-top:60px !important;

// }
.contentBackground {
  opacity: 0.5;
}
.iconstyle {
  color: #d3f3ee;
  font-size: 2.6rem;
}
.rowsty {
  margin-left: 2%;
}
.company-btn {
  text-align: center;
  border: 1px solid;
  border-radius: 1rem;
  height: 4rem;

  button {
    width: 100%;
    background: none;
    /* border: 1px solid black; */
    /* border-radius: 1rem; */
    height: 4rem;
    margin-top: 0rem;
    color: black;
  }
}
.button-flat {
  width: 100%;
  background: none;
  border: 1px solid black;
  border-radius: 1rem;
  height: 4rem;
  margin-top: 0.5rem;
}
.add-visitor {
  margin-top: 6% !important;
  color: #253b59 !important;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 0% 10% 0% 10%;
}
.not-valid {
  color: red;

  margin-left: 25%;
}
.resend-button-text {
  color: red;
}
.send {
  margin-left: 1rem;
}
.text-input-md {
  font-size: 1.8rem;
  margin-top: 9px;
}
.close-icon{
  font-size: 4rem;
    font-weight: bold;
}
.next_butto {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: rgb(31, 82, 31);
  width: 15rem;
  margin-left: 0%;
  font-size: 2rem;
  text-transform: none;
}
.text-input-md {
  font-size: 1.8rem !important;
}
.resend {
  height: 4rem;
  font-size: 2rem;
  background: rgb(204, 17, 17);
  border-radius: 0.5rem;
  margin-left: 3rem;
}
.sentance {
  color: black;
  /* padding: 19px 22px 16px 19px !important; */
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10%;
}
.input-style {
  width: 43%;
  margin-left: 25%;
  margin-top: 7%;
  height: 5rem;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  letter-spacing: 1rem;
  border-color: black;
  font-size: 37px;
  padding: 9px 8px 7px 8px;
  text-align: center;
}
.inbuttonmargin {
  margin-left: 15rem;
  margin-top: -1.7rem;
}
.buttonstyle {
  margin-left: 40%;
  margin-top: 20%;
}
// #Div1 {
//   display: none;
// }
// #Div2 {
//   display: none;
// }
a {
  color: currentColor;
  text-decoration: none;
}
.titlesty {
  text-transform: none;
  font-size: 2rem;
  color: #d3f3ee;
  margin-left: 2rem;
}
.imagefotterstyle {
  width: 4.2rem;
  margin-top: -2rem;
}
.imagefotterstyl {
  width: 4.5rem;
  margin-top: -2rem;
  margin-left: 1rem;
}
.imagefottersty {
  width: 4.5rem;
  margin-top: -2rem;
  margin-left: 0rem;
}

.imagefotterst {
  width: 4.5rem;
  margin-top: -2rem;
  margin-left: 0rem;
}
.segmentalign {
  height: 9rem;
  background: #253b59;
}
.segmenta {
  height: 9rem;
  background: #253b59;
  margin-top: -4rem;
}
.segmentadd {
  // background: #253b59 !important;
  //   color: #d3f3ee !important;
  padding: 0rem !important;
  height: 4rem !important;
}
.anchor {
  margin-left: 30%;
  font-size: 1.5rem;
  text-decoration: none;
  color: mediumblue;
  font-weight: bold;
  font-style: italic;
}
.nextbuttonstyle {
  width: 34%;
  background: rgb(2, 87, 2);
  height: 4rem;
  margin-left: 33%;
  border-radius: 1rem;
  color: white;
  margin-top: 30%;
}
.segmentstaff {
  background: #253b59;
  color: #d3f3ee;
  padding: 0rem;
  height: 4rem;
}
.next {
  width: 75%;
    border: 1px solid grey;
    background: rgb(31, 82, 31);
    font-size: 2rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1rem !important;
    margin-left: -14rem;
    height: 5rem;
    margin-top: -6rem;
    text-transform: none;
}
.addvis {
  font-size: 18px;
  margin-top: 43px;
  text-transform: none;
  color: white;
}
.vis-mobile {
  border-radius: 1rem;
  height: 5rem;
  margin-top: 8rem;
  border-color: black;
  border-width: 0.2rem;
  width: 60%;
  text-align: center;
}
.col {
  padding: 0rem;
  margin-left: 0%!important;
}
.segment-button-style {
  height: 9rem;

  border-bottom-width: 0.6rem;
}

.segment-bu {
  height: 9rem;

  border-bottom-width: 0.6rem;
}
.segmenticon {
  font-size: 4rem;

  padding-top: 5px;
}
.segmenttitle {
  background: none;
  color: white;
  font-size: 2rem;
  margin-top: -2rem; ////////
  text-transform: none;
  align-content: center;
}
.itemlistheight {
  height: 8rem;
}
.first-let-icon {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  height: 4rem;
  width: 4rem;
  padding: 0.2rem;
  color: white;
  &.bg-red {
    background: red;
  }
  &.bg-green {
    background: green;
  }
  &.bg-blue {
    background: blue;
  }
}

.name-label {
  margin-top: 1rem;
  color: #253b59;
  font-size: 2rem;
}
.vlistinbutton {
  border: none;
  width: 5rem;
  height: 50px;
  background: #006837;
  margin-left: 65%;
  border-radius: 50%;
  margin-top: -4rem;
  color: white;
  font-size: 1.8rem;
}

ion-card {
  width: 32rem;
  height: 7rem;
  margin-top: 5rem;
  background: #e6ebe6;
  margin-top: 2rem;
}
.card-md {
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // transition: 0.3s;
  background: #e6ebe6;
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 2rem;
  margin: 0rem;
  padding-left: 10px;
  padding-right: 10px;
}

.toolbar-md {
  padding: 0px;
}
// ion-icon{
//   color: #d3f3ee;
// }

.headerstyle {
  background: #101b33;
}
.no-scroll .scroll-content {
  overflow: hidden;
}
.wrongentry-styles {
  color: red;
}

// .wrong.toolbar-md {
//   /* padding: 4px; */
//   /* min-height: 56px; */
// }
entry-styles {
  color: red;
}
.menu-icon-style {
  margin-top: -24px;
}
.inbutton {
  font-size: 1.8rem;
}

.segment-button ion-icon {
  color: white;
}
.buttonmarrgin {
  margin-top: -0.8rem;
}
.buttonout {
  margin-left: 0rem;
  margin-top: -4rem;
  background: rgb(204, 17, 17);
  border-radius: 50%;
  width: 5rem;
  color: white;
  border: none;
}
.label-md {
  overflow: initial;
  margin: 0.5rem;
}

.staff-name {
  margin-top: 0.5rem;
}
.itemlistheigh {
  height: 8.5rem;
}
.fontstyle {
  font-size: 1.8rem;
  margin-left: 15rem;
  margin-top: -1.7rem;
}
.fontstyl {
  font-size: 1.3rem;
}

ion-app.md {
  font-size: 1.8rem;
  color: white;
}
.ioniccard {
  width: 100%;
  height: 100%;
  margin-left: 0rem;
  margin-top: -1.5rem;
}

.title {
  margin-top: -2.6rem;
}
.segmentinoutstyle {
  border: solid 1px lightgray;
  width: 33rem;
  height: 8rem;
}
.marqueestyle {
  height: 28px;
  background: #f2ac29;
  padding: 0.4rem;
}
.buttonsfotter {
  width: 20%;
  height: 7rem;
  background: #253b59;
  padding: 0rem;
}

.fotte {
  width: 20%;
  margin-left: -0.2rem;
}
.footer {
  background: #253b59;
}
.buttonfix {
  background: #253b59;
  width: 20%;
  margin-left: -0.4rem;
  height: 7rem;
  padding: 0rem;
}

.backicon {
  font-size: 2rem;
  margin-left: -1.7rem;
}
.backbutton {
  margin-top: -4.2rem;
  color: black;
  background: white;
  box-shadow: none;
}
.buttonincolor {
  background: #006837;
  border-radius: 50%;
  width: 5rem;
  height: 50px;
  color: white;
  border: none;
  font-size: 1.8rem;
  margin-top: -4rem;
  margin-left: 77%;
}
.buttoneditcolor {
  border: none;
  width: 5rem;
  height: 50px;
  background: #526552;
  margin-left: 55%;
  border-radius: 50%;
  margin-top: -4rem;
  color: white;
  font-size: 1.8rem;
}
.buttoneditcol {
  border: none;
  width: 5rem;
  height: 50px;
  background: #526552;
  margin-left: 20rem;
  border-radius: 50%;
  margin-top: -4rem;
  color: white;
  font-size: 1.8rem;
}
.buttonoutcolor {
  padding: 0 0.6em;
  height: 50px;
  font-size: 1.8rem;
  margin-left: 20rem;
  margin-top: -4rem;
  background: rgb(204, 17, 17);
  border-radius: 50%;
  width: 5rem;

  color: white;
  border: none;
}
.labelstyles {
  margin-top: 1rem;
}

.vlisteditbutton {
  border: none;
  width: 5rem;
  height: 50px;
  background: #526552;
  border-radius: 50%;
  margin-top: -1rem;
  color: white;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.vlistoutbutton {
  border: none;
  width: 5rem;
  height: 50px;
  background: rgb(204, 17, 17);
  border-radius: 50%;
  margin-top: -1rem;
  color: white;
  font-size: 1.8rem;
  margin-left: 1rem;
}
.out-btn-list {
  height: 7rem;
}

.image {
  margin: auto;
  height: 50px;
  width: 50px;

  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  display: block;

  background-image: url("/assets/img/pixels.jpg");
}
.rowstyle {
  margin-left: 1rem;
}

ion-avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 47px;
  height: 47px;

  margin-left: 85%;
  margin-top: -3.7rem;
}
.segment-ios .segment-button {
  height: 9rem; //////
}
.first-let-icon {
  border-radius: 50%;
  overflow: hidden;
  width: 47px;
  height: 47px;
  margin-bottom: -5rem;
}
.ribbonstyle {
  background: yellow;
}
.bar-button-md:first-child {
  margin-left: 8px;
}
.imagestyles {
  width: 3rem;
  margin-top: 0.5rem;
}
.select-block {
  width: 100%;
  background: none;
  /* border: 1px solid black; */
  /* border-radius: 1rem; */
  height: 4rem;
  margin-top: 0rem;
  color: black;
  font-size: 1.8rem !important;
}
.selectedblocks {
  width: 100%;
  background: none;
  border: 1px solid black;
  border-radius: 1rem;
  height: 4rem;
  margin-top: 0.5rem;
  color: black;
  text-align: left;
  font-size: 1.8rem !important;
}
.selected-flat-block {
  color: black;
  font-size: 1.6rem;
  text-align: left;
}
.companynamelabel {
  margin-left: -82%;
  font-size: 1.6rem !important;
  text-transform: none;
}
.button-ios {
  padding: 0 0cm;
}
.titlestyle {
  margin-top: 1rem;
  margin-left: 1rem;
  color: white;
}
.toolbar-ios {
  padding: 0rem;
}
.imagestylesegment {
  width: 4.5rem;
  margin-top: 1rem;
  margin-left: 1.8rem;
  color: #d3f3ee;
}
.image1f {
  width: 4rem;
  margin-left: -1rem;
  margin-top: -2.5rem;
  color: #d3f3ee;
}
.image2f {
  width: 4.2rem;
  margin-left: 0rem;
  margin-top: -2.5rem;
  color: #d3f3ee;
}
.image3f {
  width: 4.2rem;
  margin-left: 1rem;
  margin-top: -2.5rem;
  color: #d3f3ee;
}
.image4f {
  width: 4.2rem;
  margin-left: 1rem;
  margin-top: -2.5rem;
  color: #d3f3ee;
}
.image5f {
  width: 4.2rem;
  margin-left: -1rem;
  margin-top: -2.5rem;
  color: #d3f3ee;
}
.footertitle5 {
  margin-top: 4.1rem;
  margin-left: -4rem;
  text-transform: none;
}
.footertitle4 {
  margin-top: 4.1rem;
  margin-left: -4.5rem;
  text-transform: none;
}
.footertitle3 {
  margin-top: 4.1rem;
  margin-left: -5rem;
  text-transform: none;
}
.footertitle2 {
  margin-top: 4.1rem;
  margin-left: -4.4rem;
  text-transform: none;
}
.footertitle1 {
  margin-top: 4.1rem;
  margin-left: -4.3rem;
  text-transform: none;
}
::placeholder {
  text-align: center;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: center;
}
.segment-md .segment-button {
  height: 9rem;
  border: 2px solid rgba(202, 242, 243, 0.993);
}
// .segment-activated{
//   height: 5rem;
//     margin-top: -4rem;
// }
.segment-ios .segment-button.segment-activated {
  background: #bf0000;
}
.segment-md .segment-button.segment-activated {
  background: #bf0000;
}
image-viewer.ion-page img {
  display: block !important;
  pointer-events: auto !important;
  max-width: 400px !important;
  max-height: 400px !important;
  margin-left: -10rem !important;
  margin-top: -16rem !important;
}
// .scroll-content {
//   margin-top: 59px !important;
//   margin-bottom: 106px;
// }
.footer-title {
  text-transform: none;
  margin-top: 4rem;
  margin-left: -4.8rem;
  /* font-size: 1.6rem; */
  padding: 0rem;
  font-size: 16px;
}
.item-md {
  padding-left: 1%;
  background: none;
}

.item-md ion-avatar[item-start],
.item-md ion-thumbnail[item-start] {
  margin-top: 1rem;
}
.divstyle {
  margin-top: -6.5rem;
}
itemslabelstyle {
  margin-left: 13%;
}
.searchbar-md .searchbar-input {
  background: none;
  box-shadow: none;
  border-radius: 10px !important;
  width: 91%;
  margin-left: 4%;
}
.itemsnamesstyle {
  margin-left: 20%;
  margin-top: -6rem;
}
.skipverification {
  margin-left: -8rem;
}
.item-md p {
  margin: 0 0 2px;
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
  margin-left: 0rem !important;
}
.listitems {
  padding: 0px 25px 0px 25px;
}
.label-style {
  font-size: 2rem;
  color: #253b59;
}
.label-styl {
  font-size: 2rem;
  color: #253b59;
  margin-left: 1rem;
}
.cancel {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: rgb(204, 17, 17);
  width: 13rem;
  margin-left: 2%;
  text-transform: none;
}
.col-xs-12 {
  width: 100%;
  float: left;
}
.pending {
  font-size: 2rem;
  text-transform: none;
}
.approved {
  font-size: 2rem;
  text-transform: none;
}
.approved {
  font-size: 2rem;
  text-transform: none;
}
.rejected {
  font-size: 2rem;
  text-transform: none;
}
.last-updatepic {
  // border: 1px solid yellow !important;
  width: 200%;
}
.add-your-id-label {
  width: 100%;
  font-size: 17px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #253b59 !important;
}
.add-your-id-label1 {
  // width: 200%;
  margin-top: 2rem;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center;
  color: #253b59 !important;
  width: 200%;
  margin-top: 2rem;
}
.idpicmarg {
  margin-left: 34% !important;
}
.person-icon1 {
  width: 12rem;
  height: 12rem;
  background-size: cover;
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}
.person-ico {
  width: 12rem;
  height: 12rem;
  background-size: cover;
}
.namevar {
  margin-left: 3rem;
}
.pic-content {
  font-size: 1.3rem;
  margin-left: 40%;
  color: yellow;
}
.visitorimg {
  margin-top: 3rem;
  margin-left: 2rem;
}
.visitor1 {
  margin-top: 3rem;
    margin-left: 63% !important;
    width: 12rem;
}
.person-icon {
  width: 12rem;
  height: 12rem;
  background-size: cover;
  margin-left: -0.5rem;
  border: solid 1px grey;
  border-radius: 51%;
}
.Current {
  width: 100%;
  font-size: 17px !important;
  font-weight: bold !important;
  text-align: start;
  color: #253b59 !important;
  margin-top: 4rem;
  margin-left: 3rem;
}
.pending {
  width: 85%;
  /* align-items: center; */
  background: goldenrod;
  margin-left: 7%;
}
.approved {
  width: 85%;
  /* align-items: center; */
  background: green;
  margin-left: 7%;
}
.rejected {
  width: 85%;
  /* align-items: center; */
  background: rgb(204, 17, 17);
  margin-left: 7%;
}
.homebutton {
  width: 14rem;
  height: 4rem !important;
  border-radius: 1rem;
  font-size: 2rem;
  margin-left: 12rem;
  text-transform: none;
}
.idcardimage {
  margin-left: 2rem;
  width: 17rem;
}
.idcard1 {
  width: 71%;
  margin-left: 56% !important;
  margin-top: -16rem;
}
idcard {
  width: 70%;
  margin-left: 101%;
  margin-top: -20rem !important;
}
.addid {
  margin-left: 25rem;
  margin-top: -17rem;
  background: white;
  border-radius: 4rem;
  border: 1px solid black;
  height: 4rem;
  width: 4rem;
}
.parag1 {
  width: 200%;
  font-size: 13px !important;
  font-weight: bold !important;
  text-align: center;
  color: #253b59 !important;
}
.nextbutton--visito {
  border-radius: 0.5rem;
  /* overflow: hidden; */
  height: 4rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: rgb(31, 82, 31);
  width: 43%;
  margin-left: 30%;
  margin-top: 3rem;
  text-transform: none;
}
.nextexpectbutton {
  height: 4rem;
  width: 16rem;
  border-radius: 1rem;
  background: rgb(31, 82, 31);
}
.nextbutton-pics {
  /* border-radius: 0.5rem; */
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: rgb(31, 82, 31) !important;
  width: 68%;
  margin-left: 8rem;
  margin-top: 2rem;
  text-transform: none;
}
.label-send {
  width: 100%;
  margin-top: 2rem;
  font-size: 21px !important;
  font-weight: bold !important;
  text-align: center;
  color: #253b59 !important;
}
// .pics{
//   // margin-left: 35%;
// }
.submitappr {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.parag {
  width: 200%;
  font-size: 13px !important;
  font-weight: bold !important;
  text-align: center;
  color: #253b59 !important;
  margin-top: 5rem;
}
.text-input-md {
  font-size: 1.8rem;
}
.marginnext {
  margin-left: 30%;
  margin-top:4rem;
}
.input-st {
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: black;
  height: 4rem;
}
.checkboxin {
  border-radius: 2px;
  position: relative;
  width: 26px;
  height: 26px;
  border-width: 2px;
  border-style: solid;
  border-color: #787878;
  background-color: #fff;
  margin-top: 1rem;
}
