
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Select-company</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- *ngIf="next==4" -->
  <div class="col-xs-12" >
    <ion-searchbar placeholder="search here for company" [(ngModel)]="srcCompany" (keyup)="searchComapny()">
    </ion-searchbar>
    <span style="color: black;margin-left: 2rem;">{{companyName}}</span>

    <ion-list no-lines>
      <ion-item class="comp-activity no-pad-margin" *ngFor="let cat of catCompany">
        <div class="cat-campany">
          <label>{{cat.cat}}</label>
        </div>
        <div *ngFor="let company of cat.d">
          <div *ngIf="iscompanies"></div>
          <div class="col-xs-4 text-center" [ngClass]="company.id == selectedCompany.id? 'selected-cmp': ''"
            (click)="onClickCompany(company)">
            <div class="col-xs-12 company-card">
              <div class="icon-avatar">
                <img *ngIf="company.logo" src="{{company.logo}}">
                <div *ngIf="!company.logo" class="lnogo" text-center></div>
              </div>
              <p ><span class="companies-name">{{company.companyName}}</span></p>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item class="comp-activity no-pad-margin">
        <div class="cat-campany">
          <label>Other</label>
        </div>
        <div>
          <div class="col-xs-4 text-center" (click)="onClickCompany(company)">
            <div class="col-xs-12 company-card">
              <div class="lnogo" text-center (click)="onClickAddNewCompany()"></div>
              <p class="companies-name">{{companyName}}</p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="button-style">
      <ion-col *ngIf="next!=1 && next!=3"><button ion-button class="cancel" (click)="onClickBack()">back</button>
      </ion-col>
      <ion-col *ngIf="next==4"><button ion-button class="nextbutton--visitor" (click)="isCompany()">next</button>
      </ion-col>
    </div>

  </div>
</ion-content>
