page-select-company {
}
.col-xs-12 {
  width: 100%;
  float: left;
}
.cat-campany {
  margin: 12px 13px 19px;
  height: 12px;
  label {
    padding-top: 22px;
    background: #fff;
    padding: 3px 15px;
    height: 91px;
    color: #253b59;
    font-weight: bold;
  }
}
.col-xs-4 {
  width: 29.33%;
  float: left;
  margin: 0.5rem;
}
.col-xs-12 {
  width: 100%;
  float: left;
}
.company-card {
  padding: 5px;
  //  border: 1px solid gray;
}
.icon-avatar {
  margin: 0 auto;
  img {
    width: 45px;
    height: 40px;
    font-size: 40px;
  }
}
.lnogo {
  width: 67px;
  height: 40px;
  text-transform: uppercase;
  background: silver;
  color: white;
  border: 1px solid;
  // text-align: center;
  padding-top: 8px;
  margin: 0 auto;
  border-color: black;
  border-radius: 1rem;
}
.companies-name {
  font-size: 12px;
  color: #253b59;
  text-transform: uppercase;
  margin-top: 1rem;  margin-left: 2.5rem;
  text-align: center;
}
.cat-campany {
  margin: 12px 13px 19px;
  height: 12px;
  label {
    padding-top: 22px;
    background: #fff;
    padding: 3px 15px;
    height: 91px;
    color: #253b59;
    font-weight: bold;
  }
}
.button-style {
  margin-top: 26rem;
}
.cancel {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: red;
  width: 13rem;
  margin-left: 2%;
  text-transform: none;
}
.nextbutton--visitor {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
  color: #fff;
  background-color: darkgreen;
  width: 15rem;
  margin-left: 25%;
  margin-top: 4rem;
  text-transform: none;
}
.item-md p {
  margin: 0 0 2px;
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
  margin-left: 1rem;
}