<!--
  Generated template for the GuestlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Guest List</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="srcVis" placeholder="search by name" (keyup)="searchVis()"></ion-searchbar>
</ion-header>


<ion-content text-center padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-data" *ngIf="guestList==null && guestList==0">
      <div>No Such Data Found</div>
    </div>

  <div class="vrtcl-align" *ngIf="guestList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>
  <ion-list *ngIf="guestList!=null && guestList.length>0" class="visitor-list" no-lines>
    <ion-item *ngFor="let item of guestList; let i=index" class="out-btn-list" (click)="onClickArrow($event, item)">
      <ion-avatar item-start class="pic">
        <img *ngIf="item.mainPhoto!=null && item.mainPhoto!=''" src={{item.mainPhoto}} imageViewer>
        <div *ngIf="item.mainPhoto==null || item.mainPhoto==''" class="first-let-icon" [ngClass]="getClass(i)">
          {{item.name[0]}}</div>
      </ion-avatar>
      <div>
        <h2 class="name-label" *ngIf="item.wrongEntryFlats==null"><span>{{item.name}}</span></h2>
        <h2 class="name-label" *ngIf="item.wrongEntryFlats!=null"><span [ngClass]="item.wrongEntryFlats ? 'red':''">{{item.name}}</span></h2>
        <div class="company-text1">Visiting: {{item.plotName}}</div>
        <div class="company-text" *ngIf="item.wrongEntryFlats">WrongEntry:
          <span style="color:red;">{{item.wrongEntryFlats}}</span>
        </div>
        <ion-icon class="arr-rght" name="ios-arrow-dropright"></ion-icon>
        <div class="company-text" *ngIf="item.access != 'declined'"><span>Allowedby :</span> {{item.allowedBy}}</div>
        <div class="company-text" *ngIf="item.access == 'declined'"><span>Declinedby :</span> {{item.allowedBy}}</div>
        <div class="company-text">Arrived At {{item.inTime | date:'shortTime'}}<span *ngIf="item.access == 'left'"> | Left At
          {{item.outTime | date:'shortTime'}}</span> </div>
      </div>

      <div *ngIf="item.access === 'pending'" class="pending-btn-float">
        <div class="status-msg">Pending
        </div>
        <!-- <div class="alert-div" *ngIf="item.access=='pending'">
          <img src="../../assets/imgs/msg.gif" *ngIf="wait>=1 && wait!=4" class="msg-gif">
          <img src="../../assets/imgs/call_1.gif" *ngIf="wait>=2 && wait!=4" class="call-gif">
          <img src="../../assets/imgs/call_1.gif" *ngIf="wait>=3 && wait!=4" class="call-gif">
        </div> -->
        <!-- <button ion-button small color="secondary" *ngIf="wait==4" class="pending-button allow-btn"
          (click)="onClickAllow(item)">
          <ion-icon class="green" name="log-in"></ion-icon>allow
        </button> -->
      </div>
      <div *ngIf="item.access == 'declined'" class="out-btn-float">
        <div class="status-msg3">Declined</div>
      </div>
      <div *ngIf="item.access == 'allowed'" class="out-btn-float">
        <ion-icon class="green-label" name="log-in"></ion-icon>
        <div class="status-msg2">Allowed</div>
        <button *ngIf="item" ion-button small class="pending-button out-btn guesttab" (click)="onClickOut(item)">
          <ion-icon class="icon-inverse red" name="log-out"></ion-icon>out
        </button>
      </div>
      <div *ngIf="item.access == 'left'" class="out-btn-float">
        <ion-icon class="icon-inverse grey" name="log-out"></ion-icon>
        <div class="status-msg1">Left</div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>