page-guestlist {
  .vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: scale(1.5);
    .load-gif {
      width: 100%;
    }
  }
  .company-text {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .pic div {
    border-radius: 116px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 5px;
  }
  .status-msg {
    font-size: 1.4rem;
    display: inline-block;
    background: #9b980c;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg1 {
    font-size: 1.4rem;
    display: inline-block;
    background: #868383;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg2 {
    font-size: 1.4rem;
    display: inline-block;
    background: #06a82f;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg3 {
    font-size: 1.4rem;
    display: inline-block;
    background: #c31e1e;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .icon-inverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    margin-right: 5px;
    font-weight: bold;
    &.red{
      color: red;
    }
    &.green{
      color: green;
    }
    &.grey{
      color: rgb(85, 83, 83);
    }
  }
  .green-label {
    color: #696767;
    font-weight: bold;
  }
  /* .list-label {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  .out-btn-float {
    margin-top: 0.5rem;
  }
  .out-btn-list {
    border-radius: 5px;
    padding: 0px;
    margin: 4px;
    margin-left: 0px;
    opacity: 0.9;
  }
  .name-label {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    span{
      &.red{
        color: red;
      }
    }
  }
  .company-text {
    font-size: 12px;
  }
  .company-text1 {
    font-size: 12px;
    font-weight: bold;
    white-space: initial;
  }
  .pending-button {
    width: 90px;
    background: none;
    color: #222;
    text-transform: capitalize;
    border: 1px solid grey;
    box-shadow: none;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: green;
      }
      &.yellow {
        color: #ff8f00;
      }
    }
  }
  .out-btn {
    color: grey;
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .allow-btn {
    color: grey;
    font-size: 1.2rem;
  }
  .denied-button {
    background-color: red;
    width: 90px;
    float: right;
    text-align: right;
  }
  .time-text {
    color: yellow;
    font-size: 14px;
  }
  .msg-gif {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }
  .call-gif {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }
  .alert-div {
    width: 105px;
    float: right;
  }

  .arr-bg {
    background: blue;
    width: 2rem;
    height: 2rem;
    border-radius: 12px;
    float: right;
  }
  .arr-rght {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    padding: 0px;
    color: grey;
  }
  .vrtcl-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 80%;
    transform: scale(1.5);
    .load-gif {
      width: 100%;
    }
  }
  .first-let-icon {
    font-size: 3.4rem;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    padding: 0.6rem;
    color: #ede5e5;
    &.bg-red {
      background: red;
    }
    &.bg-green {
      background: green;
    }
    &.bg-blue {
      background: blue;
    }
    &.bg-goldenrod {
      background: goldenrod;
    }
    &.bg-purple {
      background: purple;
    }
  }
}

ion-app.md [padding] .scroll-content {
  padding: 10px;
}

.searchbar-md .searchbar-input {
  background: none;
  box-shadow: none;
  border: 1px solid slateblue;
  border-radius: 3rem;
}
.guesttab {
  background-color: darkgrey;
  color: currentColor;
}
