<!--
  Generated template for the DriverlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;"> Driver List</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar class="footer-search" [(ngModel)]="srcVis" placeholder="search by name" (keyup)="searchVis()">
  </ion-searchbar>
</ion-header>


<ion-content padding class="bg" text-center>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="vrtcl-align" *ngIf="driverList==0">
    <div>No such records found</div>
  </div>

  <div class="vrtcl-align" *ngIf="driverList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>

  <ion-list no-lines *ngIf="driverList">
    <ion-item *ngFor="let item of driverList; let i=index;" class="list-padding" (click)="onClickArrow($event, item)">
      <ion-avatar item-start class="pic">
        <img src={{item.mainPhoto}} imageViewer>
      </ion-avatar>
      <div>
        <h2 class="maid-name-label" *ngIf="item.wrongEntryFlats==null"><span>{{item.name}}</span></h2>
        <h2 class="maid-name-label" *ngIf="item.wrongEntryFlats!=null"><span [ngClass]="item.wrongEntryFlats ? 'red':''">{{item.name}}</span></h2>
      </div>
      <h3 class="maid-vis-label">Visiting: {{item.plotName}}</h3>
      <div class="company-text" *ngIf="item.wrongEntryFlats">WrongEntry:
        <span style="color:red">{{item.wrongEntryFlats}}</span>
      </div>
      <div class="maid-wor-label">Arrived At {{item.inTime | date:'shortTime'}} | <span *ngIf="item.access=='left'">Left At
          {{item.outTime | date:'shortTime'}}</span> </div>
      <div>
        <div *ngIf="item.status == 'In'" class="out-btn-float">
          <ion-icon class="green-label" name="log-in"></ion-icon>
          <div class="status-msg"> Allowed</div>
          <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickOut(item)">

            <ion-icon class="icon-inverse red" name="log-out"></ion-icon>out
          </button>
        </div>
        <div  *ngIf="item.status == 'out'">
          <ion-icon class="icon-inverse grey" name="log-out" slot="start"></ion-icon>
          <div class="status-msg1">Left</div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
