page-violation-list {
  .add-icon {
    float: right;
    font-size: 2.5rem;
    color: blue;
    margin: 0.5rem;
  }
  .booking-div {
    border-bottom: 1px solid lightgrey;
    margin-top: 0.5rem;
  }
  .add-circle {
    color: #7b6b6b;
    font-size: 3.5rem;
    width: 5rem;
    font-weight: bold;
    text-align: center;
    height: 5rem;
    border: 2px dashed #7b6b6b;
    border-radius: 50%;
    margin: 0 auto;
  }
  .add-booking {
    text-align: center;
    font-weight: bold;
  }
  .vltn-no {
    float: left;
    font-size: 1.5rem;
    color: #e91e63;
    padding-left: 1rem;
    font-weight: bold;
  }
  .vltn-desc {
    height: 2rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .vltn-cat {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
  }
  .fnt-stle {
    background: #64cee0;
    color: rgb(59, 20, 20);
    border-radius: 0.5rem;
  }
  .vltn-name {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    color: rgb(59, 20, 20);
    font-style: normal;
  }
  .vltn-pen {
    float: left;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: green;
    font-weight: bold;
    padding-left: 1rem;
  }
  .vltn-date {
    float: right;
    font-size: 1.2rem;
    color: rgb(39, 4, 31);
    font-weight: bold;
  }
  .vltn-view {
    float: right;
    padding-right: 0rem;
    background: #b9de8e;
    color: #3b1414;
    padding: 0.1rem 0.7rem;
  }
  .vrtcl-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 80%;
    transform: scale(1.5);
    .load-gif {
      width: 100%;
    }
  }
  .first-let-icon {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    height: 5rem;
    width: 5rem;
    padding: 0.6rem;
    color: white;
    &.bg-red {
      background: red;
    }
    &.bg-green {
      background: green;
    }
    &.bg-blue {
      background: blue;
    }
    &.bg-goldenrod {
      background: goldenrod;
    }
    &.bg-purple {
      background: purple;
    }
  }
  .fab-stl {
    color: #e9f1f0;
    background-color: #26e23d;
    height: 5rem;
    width: 5rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-size: 2.2em;
    border-radius: 3rem;
    box-shadow: 0px 0px 18px 3px #61d86a;
  }
  .toolbar-md-light .bar-button-default-md {
    color: white;
  }
  .flatitem{
    margin-top: 1rem !important;
  }
}
