<!--
  Generated template for the ViolationListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>
      <h4 style="color: white;margin-top: 1rem;"> Violation List</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="srcViolation" placeholder="search by name" (keyup)="searchViolations()"></ion-searchbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="vrtcl-align" *ngIf="violationList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>
  <div class="vrtcl-align" *ngIf="violationList==0">
    <div>No Data Found</div>
  </div>
  <ion-list *ngIf="violationList">
    <ion-item *ngFor="let item of violationList ; let i=index" lines="none">
      <ion-card>
        <ion-grid>
          <ion-row>

            <ion-avatar item-start>
              <div *ngIf="item.violationName!=null" class="first-let-icon" [ngClass]="getClass(i)">
                {{item.violationName[0]}}</div>
            </ion-avatar>


            <div class="flatitem">
              <div class="vltn-no"> Flat: {{item.flatName}},</div>
              <div class="vltn-date">{{item.createdTime | date: 'dd:MM:yyyy&nbsp;&nbsp;HH:mm'}}</div>
              <div class="vltn-name">{{item.violationName}}</div>
            </div>


            <!-- <div class="vltn-cat">Raised By:{{item.raisedBy}}</div>
      <div class="vltn-desc">{{item.remarks}}</div> -->
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab bottom right (click)="onClickAddViolation()">
    <button class="fab-stl">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>