page-editbus {
  .name-fnt {
    text-align: center;
    font-size: 2rem;
    color: #696766;
  }
  .btn {
    background: white;
    color: red;
    font-size: 2rem;
  }
  .bus-fnt {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .fab-stl {
    color: #e9f1f0;
    background-color: #26e23d;
    height: 5rem;
    width: 5rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-size: 2.2em;
    border-radius: 3rem;
    box-shadow: 0px 0px 18px 3px #61d86a;
  }
  .veh-No {
    font-size: 2rem;
    color: #2b2525;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0rem;
  }
  .pod-fnt {
    margin-left: 1rem;
  }
  .pull-right {
    float: right;
  }
  .vis-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .pic-margin{
    text-align: center;
}
}
