<!--
  Generated template for the EditbusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Delete Flat Bus</h4>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div *ngIf="entity">
    <ion-label>
      <div class="pic-margin">
        <img *ngIf="entity.photoUrl" class="vis-avatar" src="{{entity.photoUrl}}" imageViewer>
      </div>
      <div class="name-fnt">{{entity.name}}</div>
      <div class="veh-No">vehicleNo:{{entity.vehicleNo}}</div>
    </ion-label>

    <ion-list>
      <ion-item *ngFor="let bus of flats; let i=index">
        <div *ngIf="(flats.length)>i">
          <ion-icon class="pod-fnt" name="podium"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;{{bus}}
          <span class="pull-right" (click)="deleteBus(bus,i)"><button class="btn">
              <ion-icon name="ios-trash"></ion-icon>
            </button></span>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab bottom right (click)="onClickAddFlat()">
    <button class="fab-stl">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>