<!--
  Generated template for the Login1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
  
  </ion-navbar>

</ion-header>

<ion-content padding class="body-bgcolor" text-center>
    <img style="width: 55px; border-radius: 50%;" src="../../assets/imgs/logo1.png">
    <div class="hello-title">
      <h1>LittleOffice Gate !</h1>
    </div>
    <div class="text-msg">
      <p>Enter your 6 digit pin</p>
    </div>
    
    <span *ngIf="isLoginFail" class="error-msg">Pin number wrong, Please try again.</span>
  <!--<ion-item class="item-textbox">
    <input class="login-text-box" type="tel" maxlength="6" placeholder="Enter your 6 digit pin" [(ngModel)]="password">
    <ion-icon name="lock" item-end class="icons"></ion-icon>
  </ion-item>
  -->
  
        <div id="otp-holder">
            <div id="otp-content">
              <input id="otp-input" type="tel" [(ngModel)]="password" maxlength="6" pattern="\d{6}" autocomplete="off"/>
            </div>
        </div>
</ion-content>
<footer>
  <ion-toolbar class="footer-btn">
    <button ion-button full (click)="onLoginClick()">Log in</button>
  </ion-toolbar>
</footer>
