page-login1 {
    .paradigm-image{
        width: 180px;
        margin-top: 6px;
		text-align: right;
		float: right;
    }
    .hello-title {
        margin-top: 10px;
        text-align: center;
        font-family: 'Roboto';
    }
    .text-msg {
        font-size: 20px;
        font-family: 'Roboto';
        margin: 2rem;
    }    
    .login-button {
        bottom: -200px;
        background-color: rgb(66, 209, 66);
        border-radius: 5px;
    }
    .keep-me-login {
        margin-top: 20px;
        margin-left: 10px;
        color: white;
        font-family: 'Roboto';
        float: left;
    }
    .keep-me-login-checkbox{
        margin-top: 20px;
        float: left;
    
    }
    .forgot-pass-msg{
        text-align: center;
        font-family: 'Roboto';
    }
    .item-textbox{
        height: 40px;
        margin-top: 10px;
        padding: 0px;
        border-radius: 5px;
        border-color: blue;
    }
    .icons{
        color: grey;
        font-size: 20px;
        margin: 0px;
    }
    .error-msg {
        color: red;
    }
    #otp-input {
        padding: 0px;
        padding-left: 6px;
        letter-spacing: 22px;
        font-size: 20px;
        border: 0;
        background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #167ffc), color-stop(0%, rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to left, #167ffc 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 33px 2px;
        background-repeat: repeat-x;
        background-position-x: 24px;
        width: 220px;
        min-width: 220px;
        margin-bottom: 0px;
    } 
      #otp-content {
        left: 0;
        position: sticky;
      }
      
      #otp-holder {
        margin: 0 auto;
        width: 190px;
        overflow: hidden;
    }
    .footer-btn {
        bottom: 0px;
        position: absolute;
        .toolbar-background-md {
          background-color: transparent;
        }
      }
}
