<!-- <div *ngIf="showSplash" class="splash">
  <div class="spinner"> </div>
</div> -->



<ion-menu [content]="content" (ionOpen)="menuOpened()" [swipeEnabled]="false">
  <ion-header>
    <ion-toolbar class="toolbar-bg">
      <div *ngIf="user">
        <img *ngIf="user.photo==''" src='../assets/imgs/business.png' class="user-pic">
        <img *ngIf="user.photo!==''" src="{{user.photo}}" imageViewer class="user-pic">
        <div class="user-name">{{user.username}}</div>
        <div class="user-name">{{user.emailId}}</div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>


    <!-- <ion-list no-lines>
      <button menuClose class="menu-item" ion-item *ngFor="let p of pages" (click)="openPage(p)">

      </button>
    </ion-list> -->
    <ion-grid>
      <ion-row menuClose class="menu-item" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-col>
            <div class="page-icons"><ion-icon name="{{p.icon}}"></ion-icon></div>
            <div class="pages">{{p.title}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
