// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* .splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;

  .spinner {
    width: 60px;
    height: 60px;
    background-color: rgb(245, 235, 235);

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
} */

@font-face {
  font-family: "ubuntu";
  src: url("../assets/fonts/ubuntu.woff2");
}

* {
  font-family: "Ubuntu";
}
// .menu-item {
//   background: none;
// }
.user-name {
  padding: 0.5rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}
.user-pic {
  height: 5rem;
  width: 5rem;
  float: left;
  border-radius: 2.5rem;
  margin-right: 1rem;
}
.pages {
  display: inline-block;
  padding-left: 1rem;
}
.page-icons {
  width: 10%;
  display: inline-block;
}

.toolbar-bg .toolbar-background-md {
  padding: 0.5rem;
  background: #bdbdbd;
}

.custom-popover .popover-content {
  // transform: translateY(-100%) !important;
  top: 139.5px !important;
  left: 159px !important;
  transform-origin: left top;
  border-radius: 1rem;
  //transform: scale(1);
}
