<!--
  Generated template for the GateformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;"> Add Maid</h4>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body-bgcolor" padding>
  <div *ngIf="!maid" text-center>
    <img style="width: 60px;border-radius: 30px;" src="../../assets/imgs/logo1.png">
    <h5 text-center class="user-title">Enter Your 6 digit Pin</h5>
    <div *ngIf="isLoginFail" class="error-msg">Your pin is wrong, pls try again</div>
    <div id="otp-holder">
      <div id="otp-content">
        <input id="otp-input" type="tel" [(ngModel)]="maidPin" maxlength="6" pattern="\d{6}" autocomplete="off" />
      </div>
    </div>
    <div>
      <button ion-button full color="primary" class="enter-button border-radius" (click)="onClickEnter()">Login</button>
    </div>
  </div>
  <div *ngIf="maid">
    <ion-row>
      <ion-col class="maid-tit-lab">Registered Details</ion-col>
    </ion-row>
    <ion-row class="text-center">
      <ion-col></ion-col>
      <ion-col>
        <img class="user-avatar" src="{{maid.photoUrl}}" (click)="onClickGetMaidPic()">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>

      <ion-col class="maid-name">
        <h5 no-margin no-padding>{{maid.name}}</h5>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <p no-margin no-padding><span>Working as </span>Maid</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <p style="font-weight: bold;" no-margin no-padding>
          Last In time {{maid.inTime | amTimeAgo}}</p>
      </ion-col>
    </ion-row>
    <hr class="hr-line">
    <ion-row>
      <ion-col class="reg-lab">Registered Flats</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="">
          <div class=" block-card">
            <span *ngIf="blockSelect">
              <span *ngFor="let b of blockSelect">
                <button class="close-btn" ion-button small round outline
                  [ngClass]="b.selected == true?'selected-flt' : ''" (click)="onClickSelFlat(b)">
                  {{b.name}}
                </button>
              </span>
            </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <hr class="hr-line">
    <ion-row>
      <ion-col class="reg-lab">Add Assets Details</ion-col>
    </ion-row>  
    <ion-row>
      <ion-col col-8>

        <div style="height: 7.5rem;">
            <div *ngFor="let ast of assets" class="outer-bg" (click)="onClickAssets(ast)">
                <div class="inner-bg" [ngClass]="ast.status == '1' ? 'bg' : ''">
                  <ion-icon class="icon-bg" name="{{ast.name}}"></ion-icon>
                </div>
            </div>
        </div>

        <div>
            <div class="mobileno-box">
            <span class="mob-label">
                &#2352;<input class="vis-mobile" type="tel" placeholder="Enter money" maxlength="10" minlength="10"
                  pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="money" required>
            </span>
            </div>
        </div>
        <div class="mobileno-box">
            <span class="mob-label">
                +<input class="vis-mobile" type="text" placeholder="Enter other" maxlength="10" minlength="10"
                  pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="other" required>
            </span>
        </div>

      </ion-col>
      <ion-col col-4>
        <div class="float-right">
          <div class="maid-avatar" *ngIf="isShowCurPic" (click)="onClickGetMaidPic()">
            <img src="{{currentPhoto}}">
          </div>
          <div *ngIf="isShowOldPic" class="maid-avatar" (click)="onClickGetMaidPic()">
            <img src="../../assets/imgs/camera.jpg">
          </div>
        </div>
      </ion-col>
    </ion-row>
    <button ion-button full color="primary" class="border-radius" (click)="onClickSubmit()">Issue Gate Pass</button>
  </div>
</ion-content>