<!--
  Generated template for the OtherslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="light">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Others List </h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="srcVis" placeholder="search by name" (keyup)="searchVis()"></ion-searchbar>
</ion-header>


<ion-content class="bg" text-center padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="vrtcl-align" *ngIf="othersList==0 && othersList==null">
    <div>No such records found.</div>
  </div>

  <div class="vrtcl-align" *ngIf="othersList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>
  <ion-list *ngIf="othersList">
    <ion-item *ngFor="let item of othersList" class="out-btn-list" (click)="onClickArrow($event, item)">
      <ion-avatar item-start>
        <img src="{{item.mainPhoto}}" imageViewer>
      </ion-avatar>
      <div class="list-label">
          <div class="name-label" *ngIf="item.wrongEntryFlats==null"><span>{{item.name}}</span></div>
          <div class="name-label" *ngIf="item.wrongEntryFlats!=null"><span
              [ngClass]="item.wrongEntryFlats ? 'red' : ''">{{item.name}}</span></div>
        <!-- <div class="name-label"><span>{{item.name}}</span></div> -->
        <!-- <div class="company-text1"><span>Visiting: {{item.plotName}}</span></div> -->
        <div class="company-text1">Visiting :
          <span *ngFor="let flat of item.blockNo">
            <span *ngIf="flat.name && flat.status == 'left'" [ngClass]="flat.status == 'left' ? 'grey' : ''">{{flat.name}}</span>
            <span *ngIf="flat.name && flat.status == 'allowed'" [ngClass]="flat.status == 'allowed' ? 'green' : ''">{{flat.name}}</span>
            <span *ngIf="flat.name && flat.status == 'pending'" [ngClass]="flat.status == 'pending' ? 'yellow' : ''">{{flat.name}}</span>
            <span *ngIf="flat.name && flat.status == 'declined'" [ngClass]="flat.status == 'declined' ? 'red' : ''">{{flat.name}}</span>
          </span>
        </div>
        <div class="company-text" *ngIf="item.wrongEntryFlats">WrongEntry:
          <span style="color: red;">{{item.wrongEntryFlats}}</span>
        </div>
        <ion-icon class="arr-rght" name="ios-arrow-dropright"></ion-icon>
        <div class="company-text" *ngIf="item.access != 'declined'"><span>Allowedby :</span> {{item.allowedBy}}</div>
        <div class="company-text" *ngIf="item.access == 'declined'"><span>Declinedby :</span> {{item.allowedBy}}</div>
        <div class="company-text">Arrived At {{item.inTime | date:'shortTime'}}<span *ngIf="item.access == 'left'"> | Left At
          {{item.outTime | date:'shortTime'}}</span></div>
      </div>
      <div *ngIf="item.access === 'pending'" class="pending-btn-float">
        <div class="status-msg">Pending</div>
        <!-- <div class="alert-div" *ngIf="item.access=='pending'">
          <img src="../../assets/imgs/msg.gif" *ngIf="wait>=1 && wait!=4" class="msg-gif">
          <img src="../../assets/imgs/call_1.gif" *ngIf="wait>=2 && wait!=4" class="call-gif">
          <img src="../../assets/imgs/call_1.gif" *ngIf="wait>=3 && wait!=4" class="call-gif">
        </div> -->
        <!-- <button ion-button small color="secondary" *ngIf="wait==4" class="pending-button allow-btn"
          (click)="onClickAllow(item)">
          <ion-icon name="log-in" class="login-icon"></ion-icon>allow
        </button> -->
      </div>
      <div *ngIf="item.access == 'declined'" class="out-btn-float">
        <div class="status-msg3">
          Declined
        </div>
      </div>
      <div *ngIf="item.access == 'allowed'" class="out-btn-float">
        <ion-icon class="green-label" name="log-in"></ion-icon>
        <div class="status-msg2">
          Allowed
        </div>
        <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickOut(item)">
          <ion-icon class="icon-inverse" name="log-out"></ion-icon>out
        </button>
      </div>
      <div *ngIf="item.access == 'left'" class="out-btn-float">
        <ion-icon class="icon-inverse grey" name="log-out"></ion-icon>
        <div class="status-msg1">
          Left
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
