page-otherslist {
  .vertical-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    .load-gif {
      width: 5rem;
    }
    .nodata-img {
      width: 30rem;
      height: 30rem;
    }
  }
  .pic div {
    border-radius: 116px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
  }
  .status-msg {
    font-size: 1.4rem;
    display: inline-block;
    background: #9b980c;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg1 {
    font-size: 1.4rem;
    display: inline-block;
    background: #868383;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg2 {
    font-size: 1.4rem;
    display: inline-block;
    background: #06a82f;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg3 {
    font-size: 1.4rem;
    display: inline-block;
    background: red;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .company-Text {
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .green-label {
    color: #696767;
    font-weight: bold;
  }
  .icon-inverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    margin-right: 5px;
    font-weight: bold;
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.grey {
      color: rgb(85, 83, 83);
    }
  }
  .login-icon {
    color: green;
  }
  .list-label {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .out-btn-float {
    margin-top: 0.5rem;
  }
  .out-btn-list {
    border-radius: 5px;
    padding: 0px;
    margin: 4px;
    margin-left: 0px;
    opacity: 0.9;
  }
  .name-label {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .company-text1 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    span {
      span {

        border-radius: 0.5rem;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
      &.grey {
        background: grey;
      }
      &.yellow {
        background: #ff8f00;
      }
      &.green {
        background: green;
      }
      &.red {
        background: red;
      }
    }
  }
  .pending-button {
    width: 90px;
    background: none;
    color: #222;
    text-transform: capitalize;
    border: 1px solid grey;
    box-shadow: none;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: green;
      }
      &.yellow {
        color: #ff8f00;
      }
    }
  }
  .out-btn {
    color: grey;
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .allow-btn {
    color: grey;
    font-size: 1.2rem;
  }
  .denied-button {
    background-color: red;
    width: 90px;
    float: right;
    text-align: right;
  }
  .time-text {
    color: yellow;
    font-size: 14px;
  }
  .msg-gif {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }
  .call-gif {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }
  .alert-div {
    width: 105px;
    float: right;
  }
  .footer-search {
    top: 55px;
    position: absolute;
    .toolbar-background-md {
      background-color: transparent;
    }
  }
  .visitor-list {
    margin-top: 42px;
  }

  .arr-rght {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    padding: 0px;
  }
  .vrtcl-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    transform: scale(1.5);
    .load-gif {
      width: 100%;
    }
  }
}
