page-add-violation {
  .content-bg {
    background: whitesmoke;
  }
  .fm-card {
    padding: 2rem;
  }
  .upload-txt {
    color: white;
    background: orange;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 0 auto;
    width: 10rem;
    text-align: center;
  }
  .sel-opt-box {
    border: solid 1px grey;
    background: white;
    border-radius: 3px;
    padding: 0.3rem;
    width: 16rem;
    float: right;
    margin-right: 4rem;
  }
  .block-name {
    border: solid 1px grey;
    background: white;
    border-radius: 3px;
    padding: 0.3rem;
    width: 16rem;
    float: right;
    margin-right: 4rem;
  }
  .flat-box {
    border: solid 1px grey;
    background: white;
    border-radius: 3px;
    padding: 0.3rem;
    width: 16rem;
    float: right;
    margin-right: 4rem;
  }
  .item-cover {
    height: 0;
    width: 0;
  }
  .name-box {
    border: solid grey 1px;
    border-radius: 0.5rem;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .add-btn {
    float: right;
    width: 8em;
  }
  .fm-img {
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    border: solid grey 1px;
    margin-bottom: 1rem;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  .cancel-btn {
    float: left;
    width: 8em;
  }
  .err-msg {
    color: red;
    margin: 0.3rem;
  }
  .red-border {
    border: 1px solid red;
  }
  .text-area {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    width: 100%;
  }
  .block {
    position: relative;
    .deleteicon {
      position: absolute;
      color:red;
      margin-left: 85px;
      margin-top: 5px;
      font-size:1rem;
    }
  }
  .add-vis-label {
    font-weight: bold;
    font-size: 22px;
    margin: 0 auto;
  }
  .photo-txt{
    text-align: center;
    button{
      background: gray;
    }
  }
}
.toast-bg .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 250px;
  background: red;
  border-radius: 25px;
  text-align: center;
}
.person-icon {
  text-align: center;
  img {
    width: 10rem;
    height: 10rem;
    background-size: cover;
    border-radius: 5rem;
    border: solid 1px grey;
  }
}
.bgclr {
  color: red;
}
