<!--
  Generated template for the AddViolationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <h4 style="color:white;margin-top: 1rem;">Add Violation</h4>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <img style="width: 60px; border-radius: 30px;margin:0 auto; " src="../../assets/imgs/logo1.png">
  </div>
  <div class="fm-card">
    <!-- <div class="person-icon" (click)="getPic()">
          <img *ngIf="isShowPerson" src="../../assets/imgs/Buscam.png">
        </div>
        <div class="photo-txt">
          <button ion-button small (click)="getPic()">Take Photo</button>
        </div> -->
    <!-- <div text-center> 
      <button ion-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Take Photo</button>
    </div> -->
    <div text-center>
      <button ion-button full (click)="loadImage()">Load Image</button>
    </div>
    <!-- <div  text-center>
      <img src="../../assets/imgs/camera-1.png" (click)="TakePic()" class="fm-img" >
    </div>
    <div class="upload-txt" *ngIf="isShowPic" (click)="openGallery()">Upload Photo</div> -->

    <div class="err-msg" *ngIf="required"> violation is required</div>
    <ion-label>Select Violation:<span class="bgclr">*</span>
      <ion-select class="sel-opt-box" [(ngModel)]="violation">
        <ion-option *ngFor="let item of violationList" [value]="item">{{item.name}}</ion-option>
      </ion-select>
    </ion-label>
    <div class="err-msg" *ngIf="required1">Block Name is required</div>
    <ion-label>Select Block:<span class="bgclr">*</span>
      <ion-select class="block-name" [(ngModel)]="block">
        <ion-option *ngFor="let item of blockList" [value]="item" (ionSelect)="onChangeBlock(item)">{{item.name}}
        </ion-option>
      </ion-select>
    </ion-label>
    <div class="err-msg" *ngIf="required2">Flat Name is required</div>
    <ion-label>Select Flat:<span class="bgclr">*</span>
      <ion-select class="flat-box" [(ngModel)]="flat1">
        <ion-option *ngFor="let flat of flatList" [value]="flat">{{flat.flatName}}</ion-option>
      </ion-select>
    </ion-label>
    <div class="err-msg" *ngIf="required3">Description is required</div>
    <div>Description:</div>
    <ion-textarea class="text-area" placeholder="write brief about your complaint" [(ngModel)]="description">
    </ion-textarea>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let small of smallImg ; let id=index">
          <!-- <ion-col col-6 *ngFor="let photo of photos ; let id=index"> -->
          <ion-card class="block">
            <ion-icon name="close" class="deleteicon" (click)="deletePhoto(id)"></ion-icon>
            <img [src]="small" *ngIf="small" imageViewer>
            <!-- <img [src]="photo"  *ngIf="photo" imageViewer> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <img *ngIf="violationPic1" src="{{violationPic1}}" imageViewer>
      <img *ngIf="violationPic2" src="{{violationPic2}}" imageViewer> -->
    <div>Penalty Amount:</div>
    <div class="name-box">
      <ion-input type="number" [(ngModel)]="number" maxlength="10" placeholder="eg:5000 /-"></ion-input>
    </div>
  </div>
  <div>
    <button ion-button class="cancel-btn" (click)="onClickCancel()">Cancel</button>
    <button ion-button class="add-btn" (click)="AddViolation()">Add</button>
  </div>
</ion-content>