page-staffs {
  .vertical-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    img {
      width: 5rem;
    }
  }
  .no-data {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50%;
  }
  .more-icon {
    background-color: white;
    color: black;
    float: right;
  }
  .contact-popover .popover-content {
    width: 320px;
  }
  .item-bg {
    border-radius: 5px;
    padding: 5px;
    margin-left: 0px;
  }
  .arr-rght {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
    margin-top: 2px;
    padding: 0px;
  }
  .arr-bg {
    background: blue;
    width: 2rem;
    height: 2rem;
    border-radius: 12px;
    float: right;
  }
  .padding-button {
    width: 90px;
    background-color: gainsboro;
    color: black;
    text-transform: capitalize;
    border: 0.5px solid lightgray;
    box-shadow: none;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: rgb(8, 241, 8);
      }
      &.yellow {
        color: #ff8f00;
      }
    }
    .pop {
      width: 355px;
      height: 300px;
    }
  }
  .status-msg {
    font-size: 1.3rem;
    display: inline-block;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .staff-name {
    font-weight: 500;
    text-transform: capitalize;
  }
  .staff-category {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .vrtcl-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    transform: scale(1.5);
    .load-gif {
      width: 100%;
    }
  }
}

.staff-img {
  img {
    border-radius: 50%;
  }
}
.toast-orange .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 300px;
  background: orangered;
  border-radius: 25px;
  text-align: center;
}
