<!--
  Generated template for the StaffsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Staff</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="search" placeholder="search by name" (keyup)="searchStaff()"></ion-searchbar>
</ion-header>


<ion-content class="bg" padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngClass]="page ? 'vertical-align' : ''">
    <img *ngIf="page" src="../../assets/imgs/paradigm_logo.gif.gif">
  </div>

  <div>
    <ion-segment [(ngModel)]="staff">
      <ion-segment-button value="Stafflist">
        StaffList
      </ion-segment-button>
      <ion-segment-button value="Retiredlist">
        RetiredList
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="vrtcl-align" *ngIf="stafflist==0 || Retiredlist==0">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>
  <div class="no-data" *ngIf="stafflist == undefined">
    <div>No Data Found</div>
  </div>
  <div [ngSwitch]="staff">
    <div *ngSwitchCase="'Stafflist'">
      <ion-list>
        <ion-item class="item-bg" *ngFor="let item of stafflist">
          <ion-avatar item-start>
            <img src="{{item.mainPhoto}}" imageViewer>
          </ion-avatar>

          <ion-icon name="more" (click)="presentPopover($event, item)" class="more-icon"></ion-icon>

          <!--<ion-icon name="more" (click)="presentPopover(item)" class="more-icon"></ion-icon>-->
          <div class="staff-name">{{item.name}}</div>
          <p class="staff-category">{{item.category}}</p>
          <p *ngIf="item.access=='allowed'" class="staff-category">
            In Time: {{item.inTime | date:'shortTime'}}
          </p>
          <p *ngIf="item.access=='left'" class="staff-category">
            In Time: {{item.inTime | date:'shortTime'}} | Out Time :{{item.outTime | date:'shortTime'}}
          </p>
          <div class="activity-call">
            <button ion-button small class="padding-button green" (click)="prePopover(item)"
              [disabled]="item.access=='allowed'">
              <ion-icon class="green" name="checkmark-circle" slot="  "></ion-icon>Log-In
            </button>
            <button ion-button small class="padding-button red" (click)="onClickLogout(item)"
              [disabled]="item.access=='left'">
              <ion-icon class="red" name="close-circle" slot="start"></ion-icon>Log-out
            </button>
          </div>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngSwitchCase="'Retiredlist'">
      <ion-list>
        <ion-item class="item-bg" *ngFor="let item of retiredlist">
          <ion-avatar item-start>
            <img src="{{item.mainPhoto}}" imageViewer>
          </ion-avatar>
          <div class="staff-name">{{item.name}}</div>
          <div class="staff-category">{{item.category}}</div>
          <div class="staff-category">{{item.age}}</div>
          <div class="staff-category">{{item.dateOfJoin}}</div>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>

</ion-content>