<!--
  Generated template for the ExpVisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:white;margin-top: 1rem;">Expected Visitor List</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="search by phone number" [(ngModel)]="search" (keyup)="srcVis()"></ion-searchbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="vrtcl-align" *ngIf="expVisList==undefined">
    <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>
  <div class="vrtcl-align" *ngIf="expVisList==0">
    <div>No records found.</div>
  </div>

  <div [ngClass]="page ? 'vertical-align' : ''">
    <img *ngIf="page" src="../../assets/imgs/paradigm_logo.gif.gif">
  </div>
  <ion-list *ngIf="expVisList!=null && expVisList.length>0" class="vis-list" no-lines>
    <ion-card class="cardstyle">
      <ion-item *ngFor="let item of expVisList; let i=index" (click)="onClickArrow($event, item)">
        <ion-avatar *ngIf="item!=null" item-start>
          <img *ngIf="item.mainPhoto!=null" src={{item.mainPhoto}} imageViewer>
          <div *ngIf="item.mainPhoto==null" class="first-let-icon" [ngClass]="getClass(i)">{{item.name[0]}}</div>
        </ion-avatar>
        <div class="itemname">
          <h2 class="maid-name-label">{{item.name}}</h2>
          <p class="maid-wor-label">Flat: {{item.plotNumber}}, {{item.outTime | date:'dd-MM'}} |
            {{item.outTime | date:'shortTime'}}</p>
        </div>
        <!-- <h3 class="maid-vis-label">Flat: {{item.plotNumber}}</h3> -->
        <!-- <ion-icon class="arr-rght" name="ios-arrow-dropright"></ion-icon> -->

        <div>
          <button ion-button small color="secondary" class="pending-button allow-btn" (click)="onClickAllow(item)">
            <!-- <ion-icon class="green" name="log-in"></ion-icon> -->
            Allow
          </button>
          <div *ngIf="item.status == 'In'" class="out-btn-float">
            <div class="status-msg">Allowed</div>
            <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickOut(item)">
              <ion-icon class="icon-inverse" name="log-out"></ion-icon>out
            </button>
          </div>
          <div class="status-msg" *ngIf="item.status == 'out'">
            <ion-icon class="icon-inverse grey" name="log-out" slot="start"></ion-icon>
            <div>Left</div>
          </div>
        </div>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doScrolling($event)" *ngIf="isScroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>