page-exp-vis {
  .vertical-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    img {
      width: 5rem;
    }
  }

  .list-padding {
    border-radius: 5px;
    padding: 0px;
    margin: 4px;
    opacity: 0.9;
    margin-left: 0px;
  }
  .pic div {
    border-radius: 116px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .maid-name-label {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .maid-vis-label {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .maid-wor-label {
    font-size: 12px;
  }
  .itemname{
    margin-top: 1rem;
  }
  .pending-button {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    color: white;
    font-size: 1.5rem;
    background: darkgreen;
    text-transform: capitalize;
    border: 1px solid grey;
    text-transform: none;
    box-shadow: none;
    margin-left: 81%;
    margin-top: -5rem;
    .icon {
      padding-right: 5px;
      &.red {
        color: red;
      }
      &.green {
        color: green;
      }
      &.yellow {
        color: #ff8f00;
      }
    }
  }
  .icon-inverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    margin-right: 5px;
    font-weight: bold;
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.grey {
      color: rgb(85, 83, 83);
    }
  }

  .footer-search {
    top: 55px;
    position: absolute;
    .toolbar-background-md {
      background-color: transparent;
    }
  }
  .maid-list {
    margin-top: 42px;
  }
  .status-msg {
    font-size: 1.4rem;
    display: inline-block;
    background: #9b980c;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg1 {
    font-size: 1.4rem;
    display: inline-block;
    background: #868383;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg2 {
    font-size: 1.4rem;
    display: inline-block;
    background: #06a82f;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg3 {
    font-size: 1.4rem;
    display: inline-block;
    background: #c31e1e;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .out-btn {
    color: grey;
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .arr-rght {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px;
    color: grey;
  }
  .vrtcl-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60%;
    transform: scale(1.5);
    .load-gif{
      width: 100%;
    }
  }
  // .first-let-icon{
  //   font-size: 3rem;
  //   text-transform: capitalize;
  //   font-weight: bold;
  //   border: 1px solid grey;
  //   border-radius: 50%;
  //   text-align: center;
  //   height: 4rem;
  //   width: 4rem;
  //   padding: .2rem;
  //   color: white;
  //   &.bg-red{
  //     background: red;
  //   }
  //   &.bg-green{
  //     background: green;
  //   }
  //   &.bg-blue{
  //     background: blue;
  //   }
  // }
  .toolbar-md-light .bar-button-default-md {
    color: white;
  }
}

ion-app.md [padding] .scroll-content {
  padding: 10px;
}
