<!--
  Generated template for the IssueddellistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">RecievedDeliveryList</h4>
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="srcVis" placeholder="search by pin" (keyup)="searchVis()"></ion-searchbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="vrtcl-align" *ngIf="recievedList==0">
    <div>No records found.</div>
  </div>

  <div class="vrtcl-align" *ngIf="recievedList==undefined">
    <ion-spinner  name="bubbles" class="load-gif" color="primary"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of recievedList" class="item-bg">
      <ion-avatar item-start>
        <img src="{{item.mainPhoto}}" imageViewer>
      </ion-avatar>
      <div class="name-lab">{{item.name}}</div>
      <p class="vis-lab">Flat: {{item.plotName}}</p>
      <p>Handover by {{item.allowedBy}}</p>
      <p class="status-lab">Recieved at - {{item.inTime | date:'dd:MM:yyyy'}}</p>
    </ion-item>
  </ion-list>

</ion-content>
