page-issueddellist {

    .vrtcl-align{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 60%;
        transform: scale(1.5);
        .load-gif{
          width: 100%;
        }
      }
}
