
<ion-header>
  <ion-navbar >
    <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Select-flat-number</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
 
  <div class="col-xs-12" >
    <span *ngIf="isblock"></span>
    
    <span *ngIf="selectedBlocks">
      <ion-row class="rowselect"> 
        <span>Flats Selected:</span>
      </ion-row>
      <div>
      <span *ngFor="let b of selectedBlocks; let i = index">

        <button ion-button small round outline class="close-btn flatname">
          <span  class="block-flat" style="text-align: left;"> {{b.block.name}}:{{b.flat.flatName}} </span>

          <ion-icon class="close-icon" slot="start"  name="close-circle"
            (click)="onClickClose(i)"></ion-icon>
        </button>
      </span>
    </div>
      <hr>

    </span>
    <p class="rowselect">Select Block: </p>

    <div *ngFor="let block of blocks">
      <div *ngIf="block" class="col-xs-4-blk text-center" [ngClass]="block.id == selectedBlock.id? 'selected-blk': 'unselected'"
        (click)="onClickBlock(block)">
        <div class="col-xs-12 block-card blockname">
         
          <h6 class="blocks-name">{{block.name}}</h6>
        </div>
      </div>
    </div>
  </div>
  
  <!-- *ngIf="flats && next==5" -->
  <div col-xs-12 >
    <div>
      <p class="rowselect">Select Flat number in the Block:</p>
     
     
      <div *ngFor="let flat of flats">
        <div class="col-xs-2 text-center active" [ngClass]="flat.id == selectedFlat.id? 'selected-flt':'unselected-flt'"
          (click)="onClickFlat(flat)">
          <div class="col-xs-12 flat-card flatname">
            <h6 class="flats-name">{{flat.flatName}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="button-style">
      <!-- <ion-col  width-25><button ion-button class="cancel" (click)="onClickBack()">Cancel</button>
      </ion-col> -->
      <ion-col  width-25 *ngIf="next==5"><button ion-button class="isblock" (click)="isBlock()">next</button>
      </ion-col>
    </div>
  </div>
  
  <button class="submit" (click)="dismissModal()"> submit</button>
</ion-content>
