page-select-flat-number {
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  .rowselect {
    flex-wrap: wrap;
    font-size: 2rem;
    color: #253b59;
    font-weight: 600;

    margin-left: 1rem;
  }
  .col-xs-4-blk {
    width: 22%;
    height: 20%;
    float: left;
    margin: 4px;
    border-radius: 1rem;
  }
  .button-style {
    margin-top: 26rem;
  }
  .blockname {
    border-radius: 1rem;
    height: 4rem;
  }
  .flatname {
    border-radius: 1rem;
    height: 4rem;
  }
  .col-xs-2 {
    width: 20%;
    float: left;
    margin: 0.3rem;
  }
  .flats-name {
    margin-top: 0.4rem !important;
    font-size: 2.4rem;
    margin-left: 2.8rem !important;
    color: white;
  }
  // .flatname {
  //   background-color: darkgrey;
  // }
  .blocks-name {
    margin-top: 0.4rem !important;
    font-size: 2.4rem;
    margin-left: 2.8rem !important;
    color: white;
  }

  .selected-blk {
    background: #0f830f;
    border: 1px solid;
    border-radius: 1rem;

  }
  .selected-flt {
    background: #0f830f !important;
    border: 1px solid;
    border-radius: 1rem;
  }
  .close-icon {
    color: red;
    margin-left: 1rem;
    font-size: 2.4rem;
  }
  .close-btn {
    border-radius: 1rem;
    padding: 0 2.6rem;
    width: 8rem;
    height: 4rem;
    background: #a39d9d;
    
    border: none;
  }
  .block-flat {
    font-size: 2.4rem !important;
    color: white !important;
  }
  .submit {
    width: 14rem;
    height: 5rem;
    background: #074907;
    color: white;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 32%;
  }
  .content-md hr {
    background: #e2dfdf;
    height: 2px;
    width: 100%;
  }
  .unselected{
    background: #e2dfdf;
    border: 1px solid black;
  }
  .unselected-flt{
    background: #e2dfdf !important;
    border-radius: 1rem;
    border: 1px solid black;
  }
  .cancle{
    width: 40%;
    height: 5rem;
    border-radius: 1rem;
    background: red;
    font-size: 1.9rem;
    text-transform: none;
  }
}
