<!--
  Generated template for the HistorytabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h4 style="color:white;margin-top: 1rem;">History</h4>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body-bgcolor" padding>
  <div>
    <ion-segment [(ngModel)]="History">
      <ion-segment-button value="h48hrslist">
        <ion-icon name="clock" style="font-size: 2rem;"><span> 48</span></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="hactivelist">
        <span style="font-size: 1.5rem;">Active List</span>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="vrtcl-align" *ngIf="activeList==undefined && fourtyeightList==undefined">
      <ion-spinner name="bubbles" class="load-gif" color="primary"></ion-spinner>
    </div>
    <div class="no-data" *ngIf="activeList == 0 && fourtyeightList == 0">
      <div>no data Found</div>
    </div>
  <div [ngSwitch]="History">
    <ion-list *ngIf="fourtyeightList!=null && fourtyeightList.length>0" class="vis-list" no-lines>
      <ion-item *ngFor="let item of fourtyeightList; let i=index">
        <ion-avatar *ngIf="item!=null" item-start class="pic">
          <img *ngIf="item.photoUrl!=null && item.photoUrl!=''" src="{{item.photoUrl}}" imageViewer>
          <div *ngIf="item.photoUrl==null || item.photoUrl==''" class="first-let-icon" [ngClass]="getClass(i)">{{item.name[0]}}</div>
        </ion-avatar>
        <div class="vis-name">{{item.name}}</div>
        <p>{{item.typeofVistor}}</p>
        <p>Arrived at {{item.inTime | date:'shortTime'}}<span *ngIf="item.access=='left'"> | Left at {{item.outTime | date:'shortTime'}}</span></p>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="activeList!=null && activeList.length>0" class="vis-list" no-lines>
      <ion-item *ngFor="let item of activeList; let j=index">
        <ion-avatar *ngIf="item!=null" item-start class="pic">
          <img *ngIf="item.photoUrl!=null && item.photoUrl!=''" src="{{item.photoUrl}}" imageViewer>
          <div *ngIf="item.photoUrl==null || item.photoUrl==''" class="first-let-icon" [ngClass]="getClasss(j)">
            {{item.name[0]}}</div>
        </ion-avatar>
        <div class="vis-name">{{item.name}}</div>
        <p>{{item.typeofVistor}}</p>
        <p>Arrived at {{item.inTime | date:'shortTime'}}</p>
        <div class="out-btn-float" *ngIf="item.access=='allowed' || item.status=='In'">
            <ion-icon class="green-label" name="log-in"></ion-icon>
            <div class="status-msg2">Allowed</div>
          <button *ngIf="item" ion-button small class="pending-button out-btn" (click)="onClickOut(item)">
            <ion-icon class="icon-inverse red" name="log-out"></ion-icon>out
          </button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>