page-historytab {
  .vis-name {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .out-btn-float {
    margin-top: 0.5rem;
  }
  .green-label {
    color: #696767;
    font-weight: bold;
  }
  .status-msg {
    font-size: 1.4rem;
    display: inline-block;
    background: #9b980c;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg1 {
    font-size: 1.4rem;
    display: inline-block;
    background: #868383;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg2 {
    font-size: 1.4rem;
    display: inline-block;
    background: #06a82f;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .status-msg3 {
    font-size: 1.4rem;
    display: inline-block;
    background: #c31e1e;
    padding: 2px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    &.yellow {
      background: orange;
    }
    &.green {
      background: green;
    }
    &.red {
      background: red;
    }
    &.grey {
      background: grey;
    }
  }
  .icon-inverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    margin-right: 5px;
    font-weight: bold;
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.grey {
      color: rgb(85, 83, 83);
    }
  }
  .pending-button {
    width: 90px;
    background: none;
    color: #222;
    text-transform: capitalize;
    border: 0.5px solid lightgray;
    box-shadow: none;
  }
  .out-btn {
    color: grey;
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .first-let-icon{
    font-size: 3.5rem;
    text-transform: capitalize;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    padding: .6rem;
    color: white;
    &.bg-red{
      background: red;
    }
    &.bg-green{
      background: green;
    }
    &.bg-blue{
      background: blue;
    }
    &.bg-goldenrod{
      background: goldenrod;
    }
    &.bg-purple{
      background:purple;
    }
  }
  .vrtcl-align{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 70%;
    transform: scale(1.5);
    .load-gif{
      width: 100%;
    }
  }
  .no-data {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50%;
  }
  .pic div {
    border-radius: 116px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 5px;
  }
  .toolbar-md-light .bar-button-default-md {
    color: white;
  }
}
ion-app.md [padding] {
  padding: 0px;
}
