page-busadd {
  .fm-card {
    padding: 2rem;
  }
  .div-opt{
    margin-top: 3rem;
  }
  .div-box{
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
  .err-msg {
    color: red;
    margin: 0.3rem;
  }
    .sel-opt-box {
      border: solid 1px grey;
      background: white;
      border-radius: 3px;
      padding: 0.3rem;
      width: 18rem;
      float: right;
      margin-right: 4rem
      }
      .flat-box {
        border: solid 1px grey;
        background: white;
        border-radius: 3px;
        padding: 0.3rem;
        width: 16rem;
        float: right;
        margin-right: 4rem;
      }
      .cancel-btn {
        float: left;
        width: 6em;
      }
      .add-btn {
        float: right;
        width: 7em;
      }
      .add-bus{
          padding: 1rem
      }
      .option-size{
        position: absolute;
        background: transparent;
        cursor: pointer;
      }
      .block-card {
        padding: 4px;
        border: 1px solid gray;
      }
      .col-xs-12 {
        width: 100%;
        float: left;
      }
      .col-xs-4 {
        width: 29.33%;
        float: left;
        margin: 0.5rem;
      }
      .col-xs-4-blk {
        width: 29.33%;
        height: 7.7rem;
        float: left;
        margin: 4px;
      }
      .col-xs-2 {
        width: 30%;
        float: left;
        margin: 0.3rem;
      }
      .text-center {
        text-align: center;
      }
      .paddingright0 {
        padding-right: 2px !important;
      }
      .paddingleft0 {
        padding-left: 2px !important;
      }
      .marginbottom14 {
        margin-bottom: 14px;
      }
      .companies-name {
        font-size: 12px;
        color: red;
        text-transform: uppercase;
      }
      .blocks-name {
        font-size: 14px;
        color: red;
      }
      .icon-margin {
        display: none;
      }
}

.item-cover {
  width: 0;
  height: 0;
}