<!--
  Generated template for the BusaddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">AddBus</h4>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    <div class="err-msg" *ngIf="required1">block Name is required</div>
    <div class="div-opt">Select Block:<span class="bgclr">*</span>
      <ion-select class="sel-opt-box" [(ngModel)]="block" >
        <ion-option *ngFor="let item of blockList" [value]="item" (ionSelect)="onChangeBlock(item)">{{item.name}}</ion-option>
      </ion-select>
    </div>
    <div class="err-msg" *ngIf="required2">Flat Name is required</div>
    <div class="div-box">Select Flat:<span class="bgclr">*</span>
      <ion-select class="sel-opt-box" [(ngModel)]="flats">
        <ion-option *ngFor="let flat of flatList" [value]="flat">{{flat.flatName}}</ion-option>
      </ion-select>
    </div>
  <div>
    <button ion-button class="cancel-btn" (click)="onClickCancel()">Cancel</button>
    <button ion-button class="add-btn" (click)="addBusFlat()">Add Bus Flat</button>
  </div>
  
</ion-content>