<!--
  Generated template for the H48hrslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding text-center class="content-bg">

    <ion-refresher (ionRefresh)="doRefresher($event)">
        <ion-refresher-content
            pullingIcon="refresh"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngClass]="page ? 'vertical-align' : ''">
      <img *ngIf="page" src="../../assets/imgs/paradigm_logo.gif.gif">
    </div>

  <ion-list>
    <ion-item *ngFor="let item of detailsList" class="item-bg">
      <ion-avatar item-start>
        <img src="{{item.photoUrl}}" imageViewer>
      </ion-avatar>
      <div class="name-lab">{{item.name}}</div>
      <div class="vis-lab">Type: {{item.typeofVistor}}<span style="color: red"> / </span>ApprovedBy: {{item.allowedBy}}</div>
      <div class="status-lab">Arrived at - {{item.inTime * 1000 | date:'shortTime'}}<span style="color: red"> / </span>Left at - {{item.outTime * 1000 | date:'shortTime'}}</div>
    </ion-item>
  </ion-list>

</ion-content>
