<!--
  Generated template for the AddguestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> <h4 style="color:navy;margin-top: 1rem;"> Add Guest</h4></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-content padding class="bg" >
    <ion-list *ngIf="next==1" text-center>
        <img style="width: 60px; border-radius: 30px;margin:0 auto; " src="../../assets/imgs/logo1.png">
        <div class="add-vis-label">Add a Guest</div>
        <div class="add-vis-caption">With driver mobile number and details.</div>
        <div *ngIf="isMobile" class="err-msg">Pls enter valid mobile number</div>
        <div class="mobileno-box">
            <span class="mob-label">
              +91<input class="vis-mobile" type="tel" placeholder="Enter Mobile No" maxlength="10" minlength="10" pattern="[7-9]{1}[0-9]{9}" [(ngModel)]="mobileNo" required>
             <!--+91<ion-input class="vis-mobile" type="tel" placeholder="Enter Mobile No" maxlength="10" minlength="10"  [(ngModel)]="mobileNo" required></ion-input>-->
            </span>
        </div>
        <div class="err-msg" *ngIf="isname">Name is required</div>
        <ion-item class="vis-name" >
          <ion-label floating>Name</ion-label>
          <ion-input  type="text" [(ngModel)]="name" ></ion-input>
        </ion-item>

        <ion-item class="vis-name">
            <ion-label floating>Vehicle number</ion-label>
            <ion-input  type="text" [(ngModel)]="vehicleNo" ></ion-input>
        </ion-item>
    </ion-list>

    <div class="col-xs-12" *ngIf="next==2">
      <p>Select Your Block </p>
        <span *ngIf="selectedBlocks">
          <span *ngFor="let b of selectedBlocks; let i = index">
           <button ion-button small round outline class="close-btn">
              <ion-icon class="close-icon" slot="start" name="close-circle" (click)="onClickClose(i)"></ion-icon>
              {{b.block.name}}:{{b.flat.flatName}}
            </button>
          </span>
        </span>
        <div *ngFor="let block of blocks">
          <div *ngIf="block" class="col-xs-4-blk text-center" [ngClass]="block.id == selectedBlock.id? 'selected-blk': ''" (click)="onClickBlock(block)">
            <div class="col-xs-12 block-card">
              <div class="block-icon"><ion-icon name="grid"></ion-icon></div>
              <h6 class="blocks-name">{{block.name}}</h6>
            </div>
          </div>
      </div>
    </div>
    <div col-xs-12 *ngIf="flats && next==2">
        <p>Select Your Flat</p>
        <div *ngFor="let flat of flats">
            <div class="col-xs-2 text-center" [ngClass]="flat.id == selectedFlat.id? 'selected-flt':''"(click)="onClickFlat(flat)">
                <div class="col-xs-12 flat-card">
                  <h6 class="flats-name">{{flat.flatName}}</h6>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="next==3" no-padding no-margin>
      <ion-row no-padding no-margin>
        <ion-col col-6>
          <div class="person-icon" (click)="getPic()">
            <img *ngIf="isShowPic" src="{{visitorPic}}">
            <img *ngIf="isShowPerson" src="../../assets/imgs/camera.jpg">
          </div>
        </ion-col>
        <ion-col col-6>
            <p class="visitor-name" no-margin no-padding>
                <ion-icon name="person" class="icon-size"></ion-icon>&nbsp;&nbsp;{{name}}
            </p>
            <p no-margin no-padding class="visitor-details">
                <ion-icon name="phone-portrait" class="icon-size"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{mobileNo}}
            </p>
            <p no-margin no-padding class="visitor-details">
                <ion-icon name="bicycle" class="icon-size"></ion-icon>&nbsp;&nbsp;{{vehicleNo}}
            </p>
        </ion-col>
        <ion-row>
          <ion-col>
            <span *ngIf="selectedBlocks">
              <p class="margin-zero vis-flats">Visiting flats</p>
              <span *ngFor="let b of selectedBlocks">
               <button ion-button small round outline class="close-btn flat-color">
                  {{b.block.name}}:{{b.flat.flatName}}
                </button>
              </span>
            </span>
          </ion-col>
        </ion-row>
      </ion-row>
    </div>
  </ion-content>
  <footer>
    <ion-toolbar class="footer-btn">
      <ion-row>
        <ion-col *ngIf="next==1"><button ion-button  clear class="cap-btn">Need help?</button></ion-col>
        <ion-col *ngIf="next!== 1"><button ion-button class="next-btn" (click)="onClickBack()">back</button></ion-col>
        <ion-col *ngIf="next!==7 && next!=4 && next!=5 && next!=6 && next!=3"><button ion-button class="prev-btn fontstyle"
          (click)="onClickNext()">next</button></ion-col>
        <ion-col *ngIf="next==3"><button ion-button class="prev-btn fontstyle" (click)="addGuest()">finish</button></ion-col>
      </ion-row>
    </ion-toolbar>
  </footer>
