page-addlistmaidtab {
    .user-profile {
        margin-top: 10px;
        span {
            float: right;
            font-size: 16px;
            padding: 3px;
            color: darkorange;
        }
        ion-icon {
        float: right;
        font-size: 30px;
        }
    }
}
