<!--
  Generated template for the AddlistmaidtabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="body-bgcolor">
  <ion-tabs >
    <ion-tab [root]="tab1Root" tabIcon="person-add"></ion-tab>
    <ion-tab [root]="tab2Root" tabIcon="list"></ion-tab>
  </ion-tabs>
</ion-content>