<!--
  Generated template for the BusdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bus Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-row>
      <ion-col col-4>
          <div >
              <img class="vis-avatar" src="{{value.photoUrl}}">
            </div>
          </ion-col>
          <ion-col col-8>
            <div class="vis-name" *ngIf="value">{{value.name}}</div>
            <div class="vis-type" *ngIf="value.typeofVistor=='vistor'">visitor</div>
            <div class="vis-type" *ngIf="value.typeofVistor!='vistor'">{{value.typeofVistor}}</div>
            <div class="vis-company">{{value.companyName}}</div>
            <div class="vis-otime">{{value.outTime}}</div>
     </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col><div>In Date</div></ion-col>
        <ion-col><div>Out Date</div></ion-col>
        <ion-col><div>Flats</div></ion-col>
        <ion-col><div>Approved by</div></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><div>12/03/19</div></ion-col>
        <ion-col><div>12/03/19</div></ion-col>
        <ion-col><div>block-A-102</div></ion-col>
        <ion-col><div>Resident</div></ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
