<!--
  Generated template for the OtherstabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-tabs  selectedIndex="2" tabsPlacement="bottom">
      <ion-tab [root]="tab1Root" tabIcon="person-add"></ion-tab>
      <ion-tab [root]="tab2Root" tabIcon="list"></ion-tab>
  </ion-tabs>  
</ion-content>
