expvis-login-popup {
  .title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
  }
  .sub-title {
    text-align: center;
  }
  .err-msg {
    text-align: center;
    color: red;
  }
  .name-input {
    text-align: center;
    input {
      height: 3.5rem;
      border-radius: 10px;
      border: 0.1rem solid darkslateblue;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
    }
  }
  .pin-box {
    text-align: center;
    width: 50%;
    height: 3.5rem;
    margin-bottom: .5rem;
    border-radius: 10px;
    border: 0.1rem solid darkslateblue;
  }
  .div-btn {
    text-align: center;
    button{
        width: 90%;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    }
  }
 
}
