<!-- Generated template for the ExpvisLoginPopupComponent component -->

<div class="exp-popover">
  
  <div class="title">Expected Visitor Verification</div>
  <p *ngIf="isPin" class="err-msg">Your PIN is wrong</p>
  <p *ngIf="isName" class="err-msg">please enter visitor name</p>
  <div class="name-input">
    <input type="text" [(ngModel)]="name"  placeholder="Enter visitor name">
  </div>
  <p *ngIf="isPhone" class="err-msg">please enter visitor phonenumber</p>
  <div class="name-input">
    <input type="tel" [(ngModel)]="phoneNo" maxlength="10" placeholder="Enter phonenumber">
  </div>
  <p class="sub-title">Enter your PIN for verification</p>
  <div text-center>
      <input type="tel" class="pin-box" [(ngModel)]="pin" maxlength="6" placeholder="Enter pin">
  </div>
  <div class="div-btn"><button class="can-btn" ion-button color="secondary" (click)="onClickCancel()">Cancel</button></div>
  <div class="div-btn"><button class="ok-btn" ion-button color="secondary" (click)="onClickAllow()">Verify</button></div>
  
</div>
