page-staffhistory {
.bg{
    background-color: none;
}
.vis-profile{
    padding: 1rem;
}
.pic-margin{
    margin-top: 2rem;
    text-align: center;
    img{
        width: 35%;
    }
}
.vis-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 2rem;
}
.t-head{
    border-bottom: 1px solid orangered;
    color: orangered;
}
.vis-name{
    font-weight: bold;
    font-size: 12PX;
 }
 .t-rows{
    border-bottom: 1px solid grey;
    color: grey;
}
.vis-activity{
    font-weight: 200;
    font-size: 1.2rem; 
    color: grey;
}
}
