<!--
  Generated template for the StaffhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <h4 style="color:navy;margin-top: 1rem;">Staff Break History</h4>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <div class="pic-margin">
    <img *ngIf="staff" src="{{staff.mainPhoto}}" imageViewer>
  </div>
  <div>
    <ion-grid>
      <ion-row class="t-head">
        <ion-col>
          <div class="vis-name">Date</div>
        </ion-col>
        <ion-col>
          <div class="vis-name">Login</div>
        </ion-col>
        <ion-col>
          <div class="vis-name">BreakIn</div>
        </ion-col>
        <ion-col>
          <div class="vis-name">BreakOut</div>
        </ion-col>
        <ion-col>
          <div class="vis-name">Reason</div>
        </ion-col>
        <ion-col>
          <div class="vis-name">Logout</div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of staffdayhistory" class="t-rows">
        <ion-col>
          <span class="vis-activity">{{item.dayIn| date:'shortDate'}}</span>
        </ion-col>
        <ion-col>
          <span class="vis-activity">{{item.dayIn| date:'shortTime'}}</span>
        </ion-col>
        <ion-col>
          <span class="vis-activity">{{item.startTime| date:'shortTime'}}</span>
        </ion-col>
        <ion-col>
          <span class="vis-activity">{{item.closeTime| date:'shortTime'}}</span>
        </ion-col>
        <ion-col>
          <span class="vis-activity">{{item.reason}}</span>
        </ion-col>
        <ion-col>
          <span class="vis-activity">{{item.dayOut| date:'shortTime'}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>