page-addpic {
  .person-icon {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    border: solid 1px grey;
    border-radius: 51%;
  }
  .idcard {
    width: 45%;
    margin-left: 17rem;
    margin-top: -16rem;
  }
  .parag {
    // width: 200%;
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
  }
  .add-your-id-label1 {
    // width: 200%;
    margin-top: 2rem;
    font-size: 17px !important;
    font-weight: bold !important;
    text-align: center;
    color: #253b59 !important;
  }
  .nextbutton-pics {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: darkgreen !important;
    width: 43%;
    margin-left: 9rem;
    margin-top: 2rem;
    text-transform: none;
  }
  .pics{
    margin-left: 2rem;
  }
}
