staffpopover {
   
  .break{
      word-spacing : 9px;
  }
  .pop{
    width :180px;
    height :162px;   
  }
  .staffpopover{
    top: 139.5px;
    left: 159px;
    transform-origin: left top;
    transform: scale(1);
  }
  .custom-popover .popover-content {
  //  transform: translateY(-100%) !important;
    top: 139.5px  !important;
    left: 159px  !important;
    transform-origin: left top;
    transform: scale(1);
  }
  .disabled {
    pointer-events:none; 
    opacity:0.6;         
}
}
