<!-- Generated template for the StaffpopoverComponent component -->

<div  class="pop">
<ion-list class="staffpopover">
    <ion-item *ngIf="!staffhistory && staff.access=='allowed'" (click)="onClickAddBreak()" >Add Break</ion-item>
  <ion-item *ngIf="staffhistory" [ngClass]="staff.breakStatus=='yes' || staff.access=='left' ? 'disabled':''" (click)="onClickAddBreak()" >Add Break</ion-item>
  <ion-item *ngIf="staffhistory" [ngClass]="staff.breakStatus=='yes'? '':'disabled'" (click)="onClickStopBreak()" >Stop Break</ion-item>
  <ion-item (click)="onClickHistory()">History</ion-item>

</ion-list>
</div>
