<!--
  Generated template for the DeliveryboytabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  
  <ion-tabs selectedIndex="2">
    <ion-tab [root]="tab1Root" tabIcon="person-add"></ion-tab>
    <ion-tab [root]="tab2Root" tabIcon="list"></ion-tab>
  </ion-tabs>
  
</ion-content>
  
